.article-separator{
    &--1{
        @media ($bp-larger-than-desktop) {
            display: none;
        }
    }
}

.b-articles{
    &__grid{
        margin-bottom: 48px;
        @media ($bp-larger-than-desktop) {
            flex-wrap: wrap;
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    &__item{
        width: 100%;
        margin-bottom: 15px;
        @media ($bp-larger-than-desktop) {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        } 
    }
    .separator{
        margin-top: 16px;
        margin-bottom: 22px;
        width: 100%;
    }
    &__pagination{
        .styled-page-navigation{
            justify-content: center;
            @media ($bp-larger-than-tablet) {
                justify-content: flex-end;
            }
        }
    }
}

.article-card{
    &__name{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        @media ($bp-larger-than-tablet) {
            margin-bottom: 12px;
            font-size: 18px;
        } 
    }
    &__link{
        color: $blue;
        &:hover{
            text-decoration: none;
        }
    }
    &__date{
        color: #727272;
        font-size: 13px;
        margin-bottom: 15px;
        @media ($bp-larger-than-tablet) {
            margin-bottom: 20px;
        }
    }
    &__text{
        font-size: 15px;
        line-height: 135%;
        margin-bottom: 14px;
    }
    &__more-link{
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: $blue;
        position: relative;
        padding-right: 15px;
        @media ($bp-larger-than-tablet) {
            font-size: 15px;
        }
        &:hover{
            text-decoration: none;
        }
        &:after{
            display: inline-block;
            content: "»";
            position: absolute;
            right: 0;
            top: 0px;
            font-size: 14px;
        }
    }
}