.price-tabs{
    margin-bottom: 40px;
    @media($bp-larger-than-desktop) {
        margin-bottom: 54px;
    }
    &__nav{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        @media($bp-larger-than-desktop) {
            margin-bottom: 35px;
        }
    }
    &__link{
        height: 50px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 125px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $light-blue;
        color: $blue;
        opacity: 0.7;
        transition: $anim;
        outline: none;
        box-shadow: 0 2px 5px 0 rgba(3,17,19,0.15);
        @media($bp-larger-than-tablet) {
            font-size: 13px;
            height: 60px;
            width: 260px;
        }
        @media($bp-larger-than-desktop) {
            width: 310px;
            height: 77px;
            font-size: 15px;
        }
        &--left{
            border-radius: 25px 0 0 25px;
            @media($bp-larger-than-tablet) {
                border-radius: 38px 0 0 38px;
            }
        }
        &--right{
            border-radius: 0 25px 25px 0;
            @media($bp-larger-than-tablet) {
                border-radius: 0 38px 38px 0;
            }
        }
        &:hover{
            opacity: 1;
        }
        &.active{
            background-image: -moz-linear-gradient( 18deg, rgb(73,74,75) 0%, rgb(98,100,102) 100%);
            background-image: -webkit-linear-gradient( 18deg, rgb(73,74,75) 0%, rgb(98,100,102) 100%);
            background-image: -ms-linear-gradient( 18deg, rgb(73,74,75) 0%, rgb(98,100,102) 100%);
            color: #fff;
            opacity: 1;
            .price-tabs__label--cremation{
                &:before{
                    @include sprite($price-cremation-small-white);
                }
            }
            .price-tabs__label--burial{
                &:before{
                    @include sprite($price-burial-small-white);
                }
            }
        }
    }
    &__label{
        position: relative;
        &--cremation{
            padding-left: 0;
            @media($bp-larger-than-tablet) {
                padding-left: 48px;
            }
            &:before{
                content: "";
                display: none;
                @include sprite($price-cremation-small);
                position: absolute;
                left: 4px;
                top: 50%;
                transform: translateY(-50%);
                @media($bp-larger-than-tablet) {
                    display: inline-block;
                }
            }
        }
        &--burial{
            padding-left: 0;
            @media($bp-larger-than-tablet) {
                padding-left: 48px;
            }
            &:before{
                content: "";
                display: none;
                @include sprite($price-burial-small);
                position: absolute;
                left: 4px;
                top: 50%;
                @media($bp-larger-than-tablet) {
                    display: inline-block;
                    transform: translateY(-50%);
                }
            }
        }
    }
}


.xtab{
    display: none;
    &.active{
      display: block;
    }
    &:last-child{
      .xtab-nav__open{
        margin-bottom: 20px;
      }
    }
}

.cost-block{
    position: relative;
    &__grid{
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        @media($bp-larger-than-desktop) {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }
    &__item{
        max-width: 292px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        margin-bottom: 40px;
        @media($bp-larger-than-desktop) {
            margin-bottom: 0;
        }
    }
    &__card{
        box-shadow: 0px 15px 15px 0px rgba(30, 55, 95, 0.1);
        border-radius: 15px;
        overflow: hidden;
        transition: $anim;
        transform: translateY(0);
        &:hover{
            transform: translateY(-3px);
            box-shadow: 0px 15px 20px 0px rgba(30, 55, 95, 0.2);
        }
    }
    &__header{
        height: 60px;
        background-color: $blue;
        color: #fff;
        font-size: 18px;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        @media($bp-larger-than-tablet) {
            height: 60px;
            font-size: 20px;
        }
        @media($bp-larger-than-desktop) {
            height: 87px;
            font-size: 24px;
        }
    }
    &__price{
        font-size: 24px;
        color: $blue;
        font-weight: 900;
        text-align: center;
        padding-top: 20px;
        @media($bp-larger-than-tablet) {
            padding-bottom: 10px;
        }
    }
    &__cur{
        font-size: 15px;
        font-weight: normal;
        color: #444;
        display: inline;
    }
    .separator{
        margin-top: 0;
        margin-bottom: 15px;
        @media($bp-larger-than-tablet) {
            margin-bottom: 0;
        }
    }
    &__info{
        padding: 5px 24px 25px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                margin-bottom: 8px;
                line-height: 120%;
                font-size: 13px;
                @media($bp-larger-than-tablet) {
                    margin-bottom: 15px;
                    font-size: 14px;
                }
            }
        }
    }
    &__details{
        margin-bottom: 22px;
        font-size: 14px;
    }
    &__hint{
        padding-right: 30px;
        padding-left: 15px;
        opacity: 0.64;
        color: #000;
        @media($bp-larger-than-desktop) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50%;
        }
        p{
            margin: 0;
            +p{
                margin-top: 12px;
            }
        }
    }
}

.price-contacts{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    @media($bp-larger-than-desktop) {
        margin-bottom: 32px;
    }
    &__grid{
        @media($bp-larger-than-desktop) {
            display: flex;
        }
    }
    &__address{
        width:100%;
        padding-left: 60px;
        position: relative;
        margin-bottom: 26px;
        @media($bp-larger-than-tablet) {
            padding-left: 75px;
        }
        @media($bp-larger-than-desktop) {
            margin-bottom: 0;
        }
        &:before{
            display: inline-block;
            content: "";
            position: absolute;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #e9eef4;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @media ($bp-larger-than-tablet) {
              width: 54px;
              height: 54px;
            }
        }
        &:after{
            content: "";
            display: inline-block;
            position: absolute;
            @include sprite($price-contacts-marker);
            left: 10px;
            top: 50%;
            transform: translateY(-50%) scale(0.7);
            @media ($bp-larger-than-tablet) {
              left: 19px;
              transform: translateY(-50%);
            }
        }
    }
    &__phones{
        width: 100%;
        padding-left: 60px;
        position: relative;
        margin-bottom: 26px;
        @media($bp-larger-than-tablet) {
            padding-left: 75px;
        }
        @media($bp-larger-than-desktop) {
            margin-bottom: 0;
            flex-shrink: 0;
            width: 294px;
        }
        &:before{
            display: inline-block;
            content: "";
            position: absolute;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #e9eef4;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @media ($bp-larger-than-tablet) {
              width: 54px;
              height: 54px;
            }
        }
        &:after{
            content: "";
            display: inline-block;
            position: absolute;
            @include sprite($icon-phone-slider);
            left: 9px;
            top: 50%;
            transform: translateY(-50%) scale(0.7);
            @media ($bp-larger-than-tablet) {
              left: 19px;
              transform: translateY(-50%);
            }
        }
    }
    &__phone{
        font-weight: 900;
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }
    &__emails{
        width: 100%;
        padding-left: 60px;
        position: relative;
        margin-bottom: 26px;
        @media($bp-larger-than-tablet) {
            padding-left: 75px;
        }
        @media($bp-larger-than-desktop) {
            margin-bottom: 0;
            flex-shrink: 0;
            width: 262px;
        }
        &:before{
            display: inline-block;
            content: "";
            position: absolute;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            background-color: #e9eef4;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            @media ($bp-larger-than-tablet) {
              width: 54px;
              height: 54px;
            }
        }
        &:after{
            content: "";
            display: inline-block;
            position: absolute;
            @include sprite($price-contacts-email);
            left: 9px;
            top: 50%;
            transform: translateY(-50%) scale(0.7);
            @media ($bp-larger-than-tablet) {
              left: 18px;
              transform: translateY(-50%);
            }
        }
    }
    &__email{
        color: #53617d;
    }
    &__label{
        color: #5c5c5c;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 4px;
        @media($bp-larger-than-tablet) {
            font-size: 13px;
        }
    }
}

.calculator-button{
    box-shadow: 0px 15px 15px 0px rgba(30, 55, 95, 0.1);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;   
    margin-bottom: 42px;
    text-decoration: none;
    color: #fff;
    background: transparent url('/assets/template/images/calculator-button.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    transition: $anim;
    @media($bp-larger-than-tablet) {
        height: 212px;
    }
    &:hover{
        color: #fff;
        text-decoration: none;
        &:after{
            opacity: 0;
        }
        .calculator-button__link{
            text-decoration: none;
        }
    }
    &:after{
        display: inline-block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 15px;
        background-color: $blue;
        z-index: 2;
        opacity: 0.3;
        transition: $anim;
    }
    &__box{
        text-align: center;
        max-width: 600px;
        position: relative;
        z-index: 10;
    }
    &__link{
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 16px;
        position: relative;
        padding-bottom: 0px;
        text-decoration: underline;
        margin-top: 20px;
        @media($bp-larger-than-tablet) {
            font-size: 24px;
            margin-top: 0;
        }
    }
    &__info{
        color: #b8c6df;
        font-size: 12px;
        margin-bottom: 2px;
        @media($bp-larger-than-tablet) {
            font-size: 18px;
        }
    }
}

.price-compensation{
    &__text{
        font-size: 18px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        @media($bp-larger-than-tablet) {
            font-size: 24px;
        }
    }
}

.price-steps{
    margin-top: 30px;
    &__grid{
        @media($bp-larger-than-tablet) {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    &__col{
        width: 100%;
        @media($bp-larger-than-tablet) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .mdash{
            margin-bottom: 0;
        }
        +.price-steps__col{
            margin-top: 30px;
            @media($bp-larger-than-tablet) {
                margin-top: 0;
            }
        }
    }
    &__caption{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 900;
        @media($bp-larger-than-tablet) {
            font-size: 18px;
        }
    }
    +.separator{
        margin-top: 10px;
    }
}

.price-button{
    box-shadow: 0px 2px 5px 0px rgba(3, 17, 19, 0.15);
    height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 13px;
    text-transform: uppercase;
    color: $blue;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 22px;
    transition: $anim;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0;
    width: 240px;
    flex-shrink: 0;
    background-color: #f3f6f9;
    @media($bp-larger-than-tablet) {
        margin-right: 15px;
    }
    &:hover{
        background-color: #fff;
    }
    &__row{
        display: flex;
        margin-top: 25px;
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: center;
        @media($bp-larger-than-tablet) {
            justify-content: flex-start;
            margin-bottom: 25px;
        }
    }
  }

.price-panels{
    margin-top: 42px;
    &__grid{
        @media($bp-larger-than-tablet) {
            display: flex;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    &__item{
        width: 100%;
        @media($bp-larger-than-tablet) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &__card{
        display: block;
        background: #f9f0f0;
        border-radius: 14px;
        padding: 28px 32px;
        color: #222;
        text-decoration: none;
        margin-bottom: 23px;
        background-size: cover;
        max-width: 360px;
        height: 150px;
        display: flex;
        flex-direction: column;
        @media ($bp-larger-than-desktop) {
            height: 223px;
            padding: 34px 40px;
            margin-bottom: 11px;
        }
        &:hover{
            color: #222;
            .price-panels__link{
                text-decoration: none;
            }
        }
        &--1{
            background: transparent url('/assets/template/images/price-panels-1.jpg') top center;
        }
        &--2{
            background: transparent url('/assets/template/images/price-panels-2.jpg') top center;
        }
        &--3{
            background: transparent url('/assets/template/images/price-panels-3.jpg') top center;
        }
    }
    &__title{
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: auto;
        @media ($bp-larger-than-desktop) {
            font-size: 20px;
        }
    }
    &__link{
        text-transform: uppercase;
        font-size: 13px;
        color: $red;
        text-decoration: underline;
        @media ($bp-larger-than-desktophd) {
            font-size: 15px;
        }
        span{
            position: relative;
            padding-right: 15px;
            &:after{
                position: absolute;
                right: 0;
                display: inline-block;
                content: "»"
            }
        }
    }
    +.separator{
        margin-bottom: 10px;
        margin-top: 10px;
        @media ($bp-larger-than-desktop) {
            margin-top: 30px;
            margin-bottom: 32px;
        }
    }
}