.region-one{
    &__preview{
        float: left;
        margin-right: 30px;
        + p {
            padding-top: 10px;
            &:after{
                clear: both;
                content: "";
                display: table;
            }
        }
    }
}

.agent-list-short{
    box-shadow: 0px 15px 15px 0px rgba(30, 55, 95, 0.1);
    border-radius: 15px;
    background: transparent url('/assets/template/images/agent-list__bg.jpg') center top no-repeat;
    color: #fff;
    position: relative;
    text-decoration: none;
    background-size: cover;
    display: block;
    overflow: hidden;
    margin-bottom: 44px;
    @media ($bp-larger-than-tablet) {
      display: block;
      
    }
    &:before{
      display: inline-block;
      content: "";
      position: absolute;
      left: 8px;
      bottom: 0px;
      @include sprite($icon-employee-big);
      @media ($bp-larger-than-desktop) {
        left: 14px;
        bottom: -19px;
      } 
      @media ($bp-larger-than-desktophd) {
        left: 24px;
        bottom: -9px;
      }
    }
    &:after{
      display: inline-block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 15px;
      background-color: $blue;
      z-index: 2;
      opacity: 0.3;
      transition: $anim;
    }
    &:hover{
      color: #fff;
      &:after{
        opacity: 0;
      }
      .agent-arrow{
        transform: translate(10px, -50%);
      }
    }
    &__box{
      position: relative;
      z-index: 10;
      display: flex;
      padding: 23px 50px 20px 29px;
      justify-content: center;
      flex-direction: column;
      text-align: left;
      @media ($bp-larger-than-tablet) {
        height: 108px;
        padding: 20px 20px 20px 130px;
      }
    }
    &__caption{
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 900;
      margin-bottom: 11px;
      @media ($bp-larger-than-tablet) {
        margin-bottom: 8px;
        font-size: 18px;
      }
    }
    &__text{
      font-size: 14px;
      color: #b8c6df;
      @media ($bp-larger-than-tablet) {
        font-size: 15px;
      }
    }
  
  }

.region-accordeon{
    &__item{
        margin-bottom: 8px;
        &.active{
            .region-accordeon__name{
                background-color: #d1dbe4;
                &:after{
                    transform: translateY(-50%) rotate(90deg);    
                }
            }
            .region-accordeon__body{
                display: block;
            }
        }
    }
    &__name{
        background-color: #e9eef4;
        border-radius: 15px;
        padding: 22px 75px 22px 22px; 
        font-weight: 900;
        text-transform: uppercase;
        font-size: 16px;
        position: relative;
        display: block;
        text-decoration: none;
        color: #222222;
        transition: $anim;
        outline: none;
        @media ($bp-larger-than-desktop) {
            font-size: 18px; 
        } 
        &:hover{
            color: #222222;
            background-color: #d1dbe4;
            &:after{
                transform: translateY(-50%) rotate(90deg);   
            }
        }
        &:after{
            display: inline-block;
            content: "";
            @include sprite($accordeon-arrow);
            position: absolute;
            top: 50%;
            right: 32px;
            transform: translateY(-50%);
            transition: $anim;
        }
    }
    &__body{
        display: none;
    }
    .agent-docs{
        padding-top: 25px;
        margin-bottom: 36px;
    }
}



.sidebar-advantages{
    padding: 45px 0 5px;
    @media ($bp-larger-than-desktop) {
      padding: 45px 0 0px;
      display: block;
    }
    &__header{
      font-size: 16px;
      font-weight: 900;
      line-height: 120%;
      margin-bottom: 36px;
      text-transform: uppercase;
      @media ($bp-larger-than-desktop) {
        font-size: 18px;
        line-height: 110%;
        margin-bottom: 36px;
      }
    }
    &__info{
      margin-bottom: 14px;
      font-size: 14px;
      @media ($bp-larger-than-desktop) {
        font-size: 18px;
        margin-bottom: 28px;
      }
      p {
        color: #444;
        line-height: 130%;
        font-size: 14px;
        @media ($bp-larger-than-desktop) {
          font-size: 18px;
        }
      }
    }
    &__grid{
      margin-top: 28px;
      margin-bottom: 8px;
      @media ($bp-larger-than-tablet) {
        margin-top: 24px;
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 8px;
        flex-wrap: wrap;
      }
      @media ($bp-larger-than-desktop) {
        flex-wrap: nowrap;
      }
    }
    &__items{

    }
    &__item{
      margin-bottom: 25px;
      position: relative;
      @media ($bp-larger-than-desktop) {
        margin-bottom: 26px;
      }
      &--experience{
        padding-left: 120px;
      }
      +.sidebar-advantages__iten{
        margin-top: 25px;
        @media ($bp-larger-than-desktop) {
            margin-top: 30px;
        }
      }
    }
    &__title{
        font-weight: 900;
        margin-bottom: 8px;
        font-size: 18px;
        text-align: left;
        padding: 0;
        line-height: 120%;
    }
    &__intro{
      font-size: 15px;
      color: #444;
      line-height: 135%;
    }
  }

  .region-contacts{
      padding-top: 32px;
  }
  .region-service{
      padding-top: 20px;
      .main-services__header{
        font-size: 21px;
        margin-bottom: 20px;
        @media ($bp-larger-than-desktop) {
            margin-bottom: 32px;
            font-size: 35px;
        }
      }
  }

  .sidebar-experience{
    position: absolute;
    transform: scale(0.9);
    left: -1px;
    top: -2px;
    &:before{
      content: "";
      display: inline-block;
      @include sprite($icon-experience);
      
    }
    &__years{
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
      font-family: Gilroy, sans-serif;
      color: $blue;
      font-size: 42px;
      font-weight: 800;
      line-height: 100%;
    }
    &__text{
      position: absolute;
      font-weight: 900;
      font-size: 20px;
      top: 37px;
      left: 50%;
      color: $blue;
      transform: translateX(-50%);
      line-height: 100%;
      
    }
  }