<div class="main-footer">
        
    <div class="footer-menu">
        <div class="container">
        <div class="footer-menu__grid">

            <div class="footer-menu__block footer-menu__block--1">
                <div class="footer-menu__caption">
                    Ритуальные услуги
                </div>
                <div class="footer-menu__content">
                    <ul class="footer-menu__list">
                        <li><a href="#">Вызов ритуального агента</a></li>
                        <li><a href="#">Ритуальный транспорт</a></li>
                        <li><a href="#">Организация похорон</a></li>
                        <li><a href="#">Организация кремации</a></li>
                        <li><a href="#">Груз 200</a></li>
                        <li><a href="#">Поминальная трапеза</a></li>
                        <li><a href="#">Место на кладбище</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-menu__block footer-menu__block--2">
                <div class="footer-menu__caption">
                    Ритуальные товары
                </div>
                <div class="footer-menu__content">
                    <ul class="footer-menu__list">
                        <li><a href="#">Гробы</a></li>
                        <li><a href="#">Венки</a></li>
                        <li><a href="#">Кресты</a></li>
                        <li><a href="#">Текстиль</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-menu__block footer-menu__block--3">
                <div class="footer-menu__caption">
                    Полезная информация
                </div>
                <div class="footer-menu__content">
                    <div class="footer-menu__double">
                        <ul class="footer-menu__list">
                            <li><a href="#">Сотрудники центра МФЦ-Ритуал</a></li>
                            <li><a href="#">МФЦ Москвы (Мои документы)</a></li>
                            <li><a href="#">УСЗН Москвы</a></li>
                            <li><a href="#">Кладбища Москвы</a></li>
                            <li><a href="#">Кладбища Московской области</a></li>
                            <li><a href="#">Крематории Москвы</a></li>
                        </ul>
                        <ul class="footer-menu__list">
                            <li><a href="#">Колумбарии</a></li>
                            <li><a href="#">Морги Москвы</a></li>
                            <li><a href="#">Форма БО-13</a></li>
                            <li><a href="#">Свидетельство о смерти</a></li>
                            <li><a href="#">Услуги морга</a></li>
                            <li><a href="#">Льготы и скидки</a></li>
                            <li><a href="#" class="footer-menu__articles">Все статьи</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
    

    <div class="separator"><div class="separator__icon separator__icon--footer"></div></div>


    <div class="footer-line">
        <div class="container">
        <div class="footer-line__grid">

            <div class="footer-line__logo footer-logo-box">
                <a href="/" class="footer-logo-box__link">
                    <img class="footer-logo-box__img" src="/assets/template/images/footer-logo.png" alt="" />
                </a>
                <div class="footer-logo-box__info">
                    <div class="footer-logo-box__name">МФЦ-Ритуал</div>
                    <div class="footer-logo-box__site">официальный сайт</div>
                </div>
            </div>
            <div class="footer-line__menu">
                <ul class="footer-line__list">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                    <li><a href="#">Карта сайта</a></li>
                </ul>
            </div>
            <div class="footer-line__social">
                <a href="#" class="footer-line__social-icon footer-line__social-icon--vk"></a>
                <a href="#" class="footer-line__social-icon footer-line__social-icon--fb"></a>
            </div>
            <div class="footer-line__contacts">
                <div class="footer-line__hotline">
                    круглосуточная горячая линия
                </div>
                <div class="footer-line__phone">
                    <a class="footer-line__phone-link" href="tel:">+7 495 532-88-62</a>
                </div>
            </div>

        </div>
        </div>
    </div>


</div>

<div class="float-phone">
<div class="container">
    <div class="float-phone__grid">
        <div class="float-phone__text">
            Круглосуточная<br />
            горячая линия
        </div>
        <div class="float-phone__value">
            <a href="tel:+74955328862" class="float-phone__link">+7 495 532-88-62</a>
        </div>
    </div>
</div>
</div>



<script src="/assets/template/vendor/jquery-3.2.1.min.js"></script>
<script src="/assets/template/vendor/jquery.inputmask.bundle.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>
<script src="/assets/template/vendor/slick/slick.js"></script>
<script src="/assets/template/js/scripts.js"></script>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
var mapData = {
coords: [55.537648, 37.573806],
header: '2-я Мелитопольская, д. 4Б',
center: [55.537648, 37.573806],
    zoom: 17,
};
</script>
<script src="/assets/template/js/map.js"></script>
</body>
</html>