<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow" />
	<meta name="keywords" content="Ритуальные услуги, похоронные услуги, государственные, Москва, цены, стоимость, агентство МФЦ «Ритуал», похоронное  бюро, городская  ритуальная служба" />
	<meta name="description" content="Государственные ритуальные услуги в Москве и Московской области. Организация похорон и кремации." />
	<!-- @if NODE_ENV='development' -->
	<link rel="stylesheet" href="/assets/template/vendor/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/assets/template/vendor/slick/slick-theme.css"/>
	<link rel="stylesheet" href="/assets/template/css/main.css">
	<!-- @endif -->

	<!-- @if NODE_ENV='production' -->
	<link rel="stylesheet" href="/assets/template/css/main.min.css">
	<!-- @endif -->
</head>
<body>
	
    <div class="fixed-buttons">
        <a href="#" class="fixed-buttons__item fixed-buttons__item--agent">
            Вызов ритуального агента <span>ОНЛАЙН</span>
        </a>
        <div class="fixed-buttons__bottom">
            <a href="#" class="fixed-buttons__item fixed-buttons__item--200">
                <span>Груз 200</span>
            </a>
            <a href="#" class="fixed-buttons__item fixed-buttons__item--transport">
                <span>Похоронный транспорт</span>
            </a>
        </div>
    </div>


	<div class="header">
		<div class="header__fixed">
			<div class="header-top">
				<div class="container">
					<div class="header__grid">
						<div class="header__logo logo-box">
							<a href="/" class="logo-box__link">
								<img class="logo-box__img" src="/assets/template/images/logo.png" alt="" />
							</a>
							<div class="logo-box__info">
								<div class="logo-box__name">МФЦ-Ритуал</div>
								<div class="logo-box__site">официальный сайт</div>
							</div>
						</div>
						<div class="header__info-box">
							<div class="header__info">
								<div class="header__mfc">Многофункциональный похоронный центр</div>
								<div class="header__region">Москва и Московская область</div>
							</div>
							<div class="header__age header-age">
								<div class="header-age__digits">11</div>
								<div class="header-age__digits-text">
									лет мы<br />
									приходим<br />
									на помощь
								</div>
							</div>
						</div>
						<div class="header__contacts">
							<div class="header__hotline">
								круглосуточная горячая линия
							</div>
							<div class="header__phone">
								<a class="header__phone-link" href="tel:">+7 495 532-88-62</a>
							</div>
						</div>

						<div class="header__burger toggle-mobil-menu"><span></span></div>

					</div>
				</div>
			</div>
			<div class="header-menu">
				<div class="container">
					<div class="header-menu__grid">
						<ul class="header-menu__list">
							<li class="header-menu__item"><a href="#"><span>Главная</span></a></li>
							<li class="header-menu__item">
								<a href="#"><span>О компании</span></a>
								<div class="header-submenu">
									<ul>
										<li><a href="#">О службе МФЦ-Ритуал</a></li>
										<li><a href="#">Отзывы</a></li>
										<li><a href="#">Новости</a></li>
										<li><a href="#">Вышестоящая организация</a></li>
									</ul>
								</div>
							</li>
							<li class="header-menu__item">
                                <a href="#"><span>Ритуальные услуги</span></a>
                                <div class="header-submenu">
                                    <div class="header-submenu__row">
                                        <div class="header-submenu__col-6">
                                            <ul>
                                                <li><a href="#">Вызов ритуального агента</a></li>
                                                <li><a href="#">Ритуальный транспорт</a></li>
                                                <li><a href="#">Организация похорон</a></li>
                                                <li><a href="#">Организация кремации</a></li>
                                                <li><a href="#">Груз 200</a></li>
                                                <li><a href="#">Поминальная трапеза</a></li>
                                                <li><a href="#">Носильщики гроба</a></li>
                                            </ul>
                                        </div>
                                        <div class="header-submenu__col-6">
                                            <ul>
                                                <li><a href="#">Перевозка тела</a></li>
                                                <li><a href="#">Похоронный оркестр</a></li>
                                                <li><a href="#">Церемониймейстер</a></li>
                                                <li><a href="#">Ритуальный лифт</a></li>
                                                <li><a href="#">Эксгумация тела</a></li>
                                                <li><a href="#">Дезинфекция</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </li>
							<li class="header-menu__item">
								<a href="#"><span>Ритуальные товары</span></a>
								<div class="header-submenu header-submenu--goods">

									<div class="header-submenu__row">
										<div class="header-submenu__col-3">
											<div class="header-submenu__box header-submenu__box--coffin">
												<div class="header-submenu__caption-box">
													<a href="#" class="header-submenu__caption">Гробы</a>
												</div>
												<ul class="header-submenu__list">
													<li><a href="#">Полированные Россия</a></li>
													<li><a href="#">Полированные импорт</a></li>
													<li><a href="#">Гробы VIP</a></li>
													<li><a href="#">Обитые тканью</a></li>
													<li><a href="#">Мусульманские</a></li>
													<li><a href="#">Цинковые</a></li>
												</ul>
											</div>
										</div>

										<div class="header-submenu__col-3">
											<div class="header-submenu__box header-submenu__box--cross">
												<div class="header-submenu__caption-box">
													<a href="#" class="header-submenu__caption">Кресты</a>
												</div>
												<ul class="header-submenu__list">
													<li><a href="#">Сосновые</a></li>
													<li><a href="#">Дубовые</a></li>
													<li><a href="#">Металлические</a></li>
													<li><a href="#">Таблички</a></li>
												</ul>
											</div>
										</div>
										<div class="header-submenu__col-3">
											<div class="header-submenu__box header-submenu__box--wreath">
												<div class="header-submenu__caption-box">
													<a href="#" class="header-submenu__caption">Венки</a>
												</div>
												<ul class="header-submenu__list">
													<li><a href="#">Искусственные</a></li>
													<li><a href="#">Из живых цветов</a></li>
													<li><a href="#">Траурные композиции</a></li>
													<li><a href="#">Траурные ленты</a></li>
												</ul>
											</div>
										</div>
										<div class="header-submenu__col-3">
											<div class="header-submenu__box header-submenu__box--textil">
												<div class="header-submenu__caption-box">
													<a href="#" class="header-submenu__caption">Текстиль</a>
												</div>
												<ul class="header-submenu__list">
													<li><a href="#">Постель в гроб</a></li>
													<li><a href="#">Покрывало в гроб</a></li>
													<li><a href="#">Подушка в гроб</a></li>
													<li><a href="#">Похоронные тапочки</a></li>
													<li><a href="#">Ритуальная одежда</a></li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</li>
							<li class="header-menu__item">
								<a href="#"><span>Стоимость</span></a>
								<div class="header-submenu">
									<ul>
										<li><a href="#">Стоимость похорон</a></li>
										<li><a href="#">Стоимость кремации</a></li>
									</ul>
								</div>
							</li>
							<li class="header-menu__item"><a href="#"><span>Льготы и скидки</span></a></li>
							<li class="header-menu__item"><a href="#"><span>Контакты</span></a></li>
						</ul>
						<div class="header-menu__search search-top">
							<form action="">
								<div class="search-top__box">
									<input type="text" class="search-top__input" placeholder="Поиск...">
									<button type="text"></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			
			<div class="overflow-dark"></div>
			<div class="mobile-menu">
				<div class="mobile-menu__top">
					<div class="mobile-menu__search search-top">
						<form action="">
							<div class="search-top__box">
								<input type="text" class="search-top__input" placeholder="Поиск...">
								<button type="text"></button>
							</div>
						</form>
					</div>
					<a href="#" class="mobile-menu__close toggle-mobil-menu"></a>
				</div>

				<div class="mobile-menu__list">
					<ul>
						<li>
							<a href="#">Главная</a>
						</li>
						<li>
							<a href="#">
								<span>О компании</span>
								<span class="mobile-menu__arrow"></span>
							</a>
							<ul>
								<li><a href="#">О службе МФЦ-Ритуал</a></li>
								<li><a href="#">Отзывы</a></li>
								<li><a href="#">Новости</a></li>
								<li><a href="#">Вышестоящая организация</a></li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Ритуальные услуги</span>
								<span class="mobile-menu__arrow"></span>
							</a>
							<ul>
								<li><a href="#">Сотрудники центра</a></li>
								<li><a href="#">Ритуальный агент</a></li>
								<li><a href="#">Ритуальный транспорт</a></li>
								<li><a href="#">Груз 200</a></li>
								<li><a href="#">Похороны</a></li>
								<li><a href="#">Кремация</a></li>
								<li><a href="#">Носильщики гроба</a></li>
								<li><a href="#">Перевозка тела</a></li>
								<li><a href="#">Похоронный оркестр</a></li>
								<li><a href="#">Церемониймейстер</a></li>
								<li><a href="#">Ритуальный лифт</a></li>
								<li><a href="#">Эксгумация тела</a></li>
								<li><a href="#">Дезинфекция</a></li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Ритуальные товары</span>
								<span class="mobile-menu__arrow"></span>
							</a>
							<ul>
								<li class="mobile-menu__header"><a href="#">Гробы</a></li>
								<li><a href="#">Полированные Россия</a></li>
								<li><a href="#">Полированные импорт</a></li>
								<li><a href="#">VIP</a></li>
								<li><a href="#">Обитые тканью</a></li>
								<li><a href="#">Мусульманские</a></li>
								<li><a href="#">Цинковые</a></li>
				
								<li class="mobile-menu__header"><a href="#">Венки</a></li>
								<li><a href="#">Искусственные</a></li>
								<li><a href="#">Из живых цветов</a></li>
								<li><a href="#">Траурные композиции</a></li>
								<li><a href="#">Траурные ленты</a></li>
				
								<li class="mobile-menu__header"><a href="#">Кресты</a></li>
								<li><a href="#">Сосновые</a></li>
								<li><a href="#">Дубовые</a></li>
								<li><a href="#">Металлические</a></li>
								<li><a href="#">Таблички</a></li>
				
								<li class="mobile-menu__header"><a href="#">Текстиль</a></li>
								<li><a href="#">Постель в гроб</a></li>
								<li><a href="#">Покрывало в гроб</a></li>
								<li><a href="#">Подушка в гроб</a></li>
								<li><a href="#">Похоронные тапочки</a></li>
								<li><a href="#">Ритуальная одежда</a></li>
				
							</ul>
							
						</li>
						<li>
							<a href="#">
								<span>Цены</span>
								<span class="mobile-menu__arrow"></span>
							</a>
							<ul>
								<li><a href="#">Стоимость похорон</a></li>
								<li><a href="#">Стоимость кремации</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Льготы и скидки</a>
						</li>
						<li>
							<a href="#">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
			

		</div>

		<div class="mobile-info-box">
			<div class="container">
				<div class="mobile-header__info-box">
					<div class="mobile-header__info">
						<div class="mobile-header__mfc">Многофункциональный похоронный центр</div>
						<div class="mobile-header__region">Москва и Московская область</div>
					</div>
					<div class="mobile-header__age header-age">
						<div class="mobile-header-age__digits">11</div>
						<div class="mobile-header-age__digits-text">
							лет мы<br />
							приходим<br />
							на помощь
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
