<div class="bp-larger-than">
    <div class="bp-larger-than-first">
        
    </div>
    <div class="bp-larger-than-mobile">
        @media ($bp-larger-than-mobile) {}
    </div>
    <div class="bp-larger-than-phablet">
        @media ($bp-larger-than-phablet) {}
    </div>
    <div class="bp-larger-than-tablet">
        @media ($bp-larger-than-tablet) {}
    </div>
    <div class="bp-larger-than-desktop">
        @media ($bp-larger-than-desktop) {}
    </div>
    <div class="bp-larger-than-desktophd">
        @media ($bp-larger-than-desktophd) {}
    </div>
    <div class="bp-larger-than-desktopfullhd">
        @media ($bp-larger-than-desktopfullhd) {}
    </div>
</div>