// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$about-gbu-name: 'about-gbu';
$about-gbu-x: 632px;
$about-gbu-y: 202px;
$about-gbu-offset-x: -632px;
$about-gbu-offset-y: -202px;
$about-gbu-width: 36px;
$about-gbu-height: 55px;
$about-gbu-total-width: 689px;
$about-gbu-total-height: 662px;
$about-gbu-image: '/assets/template/css/sprites/sprite.png';
$about-gbu: (632px, 202px, -632px, -202px, 36px, 55px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-gbu', );
$about-icon-name: 'about-icon';
$about-icon-x: 329px;
$about-icon-y: 419px;
$about-icon-offset-x: -329px;
$about-icon-offset-y: -419px;
$about-icon-width: 47px;
$about-icon-height: 47px;
$about-icon-total-width: 689px;
$about-icon-total-height: 662px;
$about-icon-image: '/assets/template/css/sprites/sprite.png';
$about-icon: (329px, 419px, -329px, -419px, 47px, 47px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-icon', );
$about-news-name: 'about-news';
$about-news-x: 292px;
$about-news-y: 525px;
$about-news-offset-x: -292px;
$about-news-offset-y: -525px;
$about-news-width: 46px;
$about-news-height: 48px;
$about-news-total-width: 689px;
$about-news-total-height: 662px;
$about-news-image: '/assets/template/css/sprites/sprite.png';
$about-news: (292px, 525px, -292px, -525px, 46px, 48px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-news', );
$about-partnership-name: 'about-partnership';
$about-partnership-x: 470px;
$about-partnership-y: 238px;
$about-partnership-offset-x: -470px;
$about-partnership-offset-y: -238px;
$about-partnership-width: 58px;
$about-partnership-height: 42px;
$about-partnership-total-width: 689px;
$about-partnership-total-height: 662px;
$about-partnership-image: '/assets/template/css/sprites/sprite.png';
$about-partnership: (470px, 238px, -470px, -238px, 58px, 42px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-partnership', );
$about-reviews-name: 'about-reviews';
$about-reviews-x: 88px;
$about-reviews-y: 377px;
$about-reviews-offset-x: -88px;
$about-reviews-offset-y: -377px;
$about-reviews-width: 54px;
$about-reviews-height: 36px;
$about-reviews-total-width: 689px;
$about-reviews-total-height: 662px;
$about-reviews-image: '/assets/template/css/sprites/sprite.png';
$about-reviews: (88px, 377px, -88px, -377px, 54px, 36px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-reviews', );
$about-vacancy-name: 'about-vacancy';
$about-vacancy-x: 358px;
$about-vacancy-y: 304px;
$about-vacancy-offset-x: -358px;
$about-vacancy-offset-y: -304px;
$about-vacancy-width: 48px;
$about-vacancy-height: 48px;
$about-vacancy-total-width: 689px;
$about-vacancy-total-height: 662px;
$about-vacancy-image: '/assets/template/css/sprites/sprite.png';
$about-vacancy: (358px, 304px, -358px, -304px, 48px, 48px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'about-vacancy', );
$address-name: 'address';
$address-x: 522px;
$address-y: 525px;
$address-offset-x: -522px;
$address-offset-y: -525px;
$address-width: 21px;
$address-height: 24px;
$address-total-width: 689px;
$address-total-height: 662px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (522px, 525px, -522px, -525px, 21px, 24px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-left-small-name: 'arrow-left-small';
$arrow-left-small-x: 677px;
$arrow-left-small-y: 53px;
$arrow-left-small-offset-x: -677px;
$arrow-left-small-offset-y: -53px;
$arrow-left-small-width: 8px;
$arrow-left-small-height: 16px;
$arrow-left-small-total-width: 689px;
$arrow-left-small-total-height: 662px;
$arrow-left-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-left-small: (677px, 53px, -677px, -53px, 8px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-left-small', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 556px;
$arrow-left-y: 179px;
$arrow-left-offset-x: -556px;
$arrow-left-offset-y: -179px;
$arrow-left-width: 20px;
$arrow-left-height: 37px;
$arrow-left-total-width: 689px;
$arrow-left-total-height: 662px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (556px, 179px, -556px, -179px, 20px, 37px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-orange-down-320-name: 'arrow-orange-down-320';
$arrow-orange-down-320-x: 312px;
$arrow-orange-down-320-y: 377px;
$arrow-orange-down-320-offset-x: -312px;
$arrow-orange-down-320-offset-y: -377px;
$arrow-orange-down-320-width: 25px;
$arrow-orange-down-320-height: 17px;
$arrow-orange-down-320-total-width: 689px;
$arrow-orange-down-320-total-height: 662px;
$arrow-orange-down-320-image: '/assets/template/css/sprites/sprite.png';
$arrow-orange-down-320: (312px, 377px, -312px, -377px, 25px, 17px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-orange-down-320', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 209px;
$arrow-right-blue-y: 584px;
$arrow-right-blue-offset-x: -209px;
$arrow-right-blue-offset-y: -584px;
$arrow-right-blue-width: 16px;
$arrow-right-blue-height: 29px;
$arrow-right-blue-total-width: 689px;
$arrow-right-blue-total-height: 662px;
$arrow-right-blue-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-blue: (209px, 584px, -209px, -584px, 16px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-right-blue', );
$arrow-right-small-white-name: 'arrow-right-small-white';
$arrow-right-small-white-x: 677px;
$arrow-right-small-white-y: 69px;
$arrow-right-small-white-offset-x: -677px;
$arrow-right-small-white-offset-y: -69px;
$arrow-right-small-white-width: 8px;
$arrow-right-small-white-height: 16px;
$arrow-right-small-white-total-width: 689px;
$arrow-right-small-white-total-height: 662px;
$arrow-right-small-white-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small-white: (677px, 69px, -677px, -69px, 8px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small-white', );
$arrow-right-small-name: 'arrow-right-small';
$arrow-right-small-x: 677px;
$arrow-right-small-y: 37px;
$arrow-right-small-offset-x: -677px;
$arrow-right-small-offset-y: -37px;
$arrow-right-small-width: 8px;
$arrow-right-small-height: 16px;
$arrow-right-small-total-width: 689px;
$arrow-right-small-total-height: 662px;
$arrow-right-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small: (677px, 37px, -677px, -37px, 8px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 0px;
$arrow-right-y: 625px;
$arrow-right-offset-x: 0px;
$arrow-right-offset-y: -625px;
$arrow-right-width: 20px;
$arrow-right-height: 37px;
$arrow-right-total-width: 689px;
$arrow-right-total-height: 662px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (0px, 625px, 0px, -625px, 20px, 37px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$bo-13-name: 'bo-13';
$bo-13-x: 632px;
$bo-13-y: 399px;
$bo-13-offset-x: -632px;
$bo-13-offset-y: -399px;
$bo-13-width: 34px;
$bo-13-height: 46px;
$bo-13-total-width: 689px;
$bo-13-total-height: 662px;
$bo-13-image: '/assets/template/css/sprites/sprite.png';
$bo-13: (632px, 399px, -632px, -399px, 34px, 46px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'bo-13', );
$burials-1-name: 'burials-1';
$burials-1-x: 454px;
$burials-1-y: 304px;
$burials-1-offset-x: -454px;
$burials-1-offset-y: -304px;
$burials-1-width: 51px;
$burials-1-height: 45px;
$burials-1-total-width: 689px;
$burials-1-total-height: 662px;
$burials-1-image: '/assets/template/css/sprites/sprite.png';
$burials-1: (454px, 304px, -454px, -304px, 51px, 45px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'burials-1', );
$burials-2-name: 'burials-2';
$burials-2-x: 632px;
$burials-2-y: 0px;
$burials-2-offset-x: -632px;
$burials-2-offset-y: 0px;
$burials-2-width: 45px;
$burials-2-height: 49px;
$burials-2-total-width: 689px;
$burials-2-total-height: 662px;
$burials-2-image: '/assets/template/css/sprites/sprite.png';
$burials-2: (632px, 0px, -632px, 0px, 45px, 49px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'burials-2', );
$burials-3-name: 'burials-3';
$burials-3-x: 632px;
$burials-3-y: 49px;
$burials-3-offset-x: -632px;
$burials-3-offset-y: -49px;
$burials-3-width: 41px;
$burials-3-height: 51px;
$burials-3-total-width: 689px;
$burials-3-total-height: 662px;
$burials-3-image: '/assets/template/css/sprites/sprite.png';
$burials-3: (632px, 49px, -632px, -49px, 41px, 51px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'burials-3', );
$burials-5-name: 'burials-5';
$burials-5-x: 422px;
$burials-5-y: 419px;
$burials-5-offset-x: -422px;
$burials-5-offset-y: -419px;
$burials-5-width: 51px;
$burials-5-height: 37px;
$burials-5-total-width: 689px;
$burials-5-total-height: 662px;
$burials-5-image: '/assets/template/css/sprites/sprite.png';
$burials-5: (422px, 419px, -422px, -419px, 51px, 37px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'burials-5', );
$burials-6-name: 'burials-6';
$burials-6-x: 579px;
$burials-6-y: 381px;
$burials-6-offset-x: -579px;
$burials-6-offset-y: -381px;
$burials-6-width: 51px;
$burials-6-height: 51px;
$burials-6-total-width: 689px;
$burials-6-total-height: 662px;
$burials-6-image: '/assets/template/css/sprites/sprite.png';
$burials-6: (579px, 381px, -579px, -381px, 51px, 51px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'burials-6', );
$cemetary-name: 'cemetary';
$cemetary-x: 221px;
$cemetary-y: 304px;
$cemetary-offset-x: -221px;
$cemetary-offset-y: -304px;
$cemetary-width: 66px;
$cemetary-height: 60px;
$cemetary-total-width: 689px;
$cemetary-total-height: 662px;
$cemetary-image: '/assets/template/css/sprites/sprite.png';
$cemetary: (221px, 304px, -221px, -304px, 66px, 60px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'cemetary', );
$checked-name: 'checked';
$checked-x: 470px;
$checked-y: 285px;
$checked-offset-x: -470px;
$checked-offset-y: -285px;
$checked-width: 16px;
$checked-height: 16px;
$checked-total-width: 689px;
$checked-total-height: 662px;
$checked-image: '/assets/template/css/sprites/sprite.png';
$checked: (470px, 285px, -470px, -285px, 16px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'checked', );
$columbaria-name: 'columbaria';
$columbaria-x: 272px;
$columbaria-y: 419px;
$columbaria-offset-x: -272px;
$columbaria-offset-y: -419px;
$columbaria-width: 57px;
$columbaria-height: 57px;
$columbaria-total-width: 689px;
$columbaria-total-height: 662px;
$columbaria-image: '/assets/template/css/sprites/sprite.png';
$columbaria: (272px, 419px, -272px, -419px, 57px, 57px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'columbaria', );
$cremation-1-name: 'cremation-1';
$cremation-1-x: 579px;
$cremation-1-y: 209px;
$cremation-1-offset-x: -579px;
$cremation-1-offset-y: -209px;
$cremation-1-width: 47px;
$cremation-1-height: 59px;
$cremation-1-total-width: 689px;
$cremation-1-total-height: 662px;
$cremation-1-image: '/assets/template/css/sprites/sprite.png';
$cremation-1: (579px, 209px, -579px, -209px, 47px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'cremation-1', );
$cremation-2-name: 'cremation-2';
$cremation-2-x: 579px;
$cremation-2-y: 268px;
$cremation-2-offset-x: -579px;
$cremation-2-offset-y: -268px;
$cremation-2-width: 47px;
$cremation-2-height: 59px;
$cremation-2-total-width: 689px;
$cremation-2-total-height: 662px;
$cremation-2-image: '/assets/template/css/sprites/sprite.png';
$cremation-2: (579px, 268px, -579px, -268px, 47px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'cremation-2', );
$cremation-3-name: 'cremation-3';
$cremation-3-x: 579px;
$cremation-3-y: 432px;
$cremation-3-offset-x: -579px;
$cremation-3-offset-y: -432px;
$cremation-3-width: 41px;
$cremation-3-height: 59px;
$cremation-3-total-width: 689px;
$cremation-3-total-height: 662px;
$cremation-3-image: '/assets/template/css/sprites/sprite.png';
$cremation-3: (579px, 432px, -579px, -432px, 41px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'cremation-3', );
$cremation-4-name: 'cremation-4';
$cremation-4-x: 59px;
$cremation-4-y: 525px;
$cremation-4-offset-x: -59px;
$cremation-4-offset-y: -525px;
$cremation-4-width: 59px;
$cremation-4-height: 59px;
$cremation-4-total-width: 689px;
$cremation-4-total-height: 662px;
$cremation-4-image: '/assets/template/css/sprites/sprite.png';
$cremation-4: (59px, 525px, -59px, -525px, 59px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'cremation-4', );
$danger-name: 'danger';
$danger-x: 452px;
$danger-y: 285px;
$danger-offset-x: -452px;
$danger-offset-y: -285px;
$danger-width: 18px;
$danger-height: 16px;
$danger-total-width: 689px;
$danger-total-height: 662px;
$danger-image: '/assets/template/css/sprites/sprite.png';
$danger: (452px, 285px, -452px, -285px, 18px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'danger', );
$email-white-name: 'email-white';
$email-white-x: 432px;
$email-white-y: 285px;
$email-white-offset-x: -432px;
$email-white-offset-y: -285px;
$email-white-width: 20px;
$email-white-height: 16px;
$email-white-total-width: 689px;
$email-white-total-height: 662px;
$email-white-image: '/assets/template/css/sprites/sprite.png';
$email-white: (432px, 285px, -432px, -285px, 20px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'email-white', );
$footer-menu-arrow-name: 'footer-menu-arrow';
$footer-menu-arrow-x: 193px;
$footer-menu-arrow-y: 584px;
$footer-menu-arrow-offset-x: -193px;
$footer-menu-arrow-offset-y: -584px;
$footer-menu-arrow-width: 16px;
$footer-menu-arrow-height: 29px;
$footer-menu-arrow-total-width: 689px;
$footer-menu-arrow-total-height: 662px;
$footer-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$footer-menu-arrow: (193px, 584px, -193px, -584px, 16px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'footer-menu-arrow', );
$funeral-1-name: 'funeral-1';
$funeral-1-x: 0px;
$funeral-1-y: 525px;
$funeral-1-offset-x: 0px;
$funeral-1-offset-y: -525px;
$funeral-1-width: 59px;
$funeral-1-height: 59px;
$funeral-1-total-width: 689px;
$funeral-1-total-height: 662px;
$funeral-1-image: '/assets/template/css/sprites/sprite.png';
$funeral-1: (0px, 525px, 0px, -525px, 59px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'funeral-1', );
$funeral-2-name: 'funeral-2';
$funeral-2-x: 177px;
$funeral-2-y: 525px;
$funeral-2-offset-x: -177px;
$funeral-2-offset-y: -525px;
$funeral-2-width: 59px;
$funeral-2-height: 59px;
$funeral-2-total-width: 689px;
$funeral-2-total-height: 662px;
$funeral-2-image: '/assets/template/css/sprites/sprite.png';
$funeral-2: (177px, 525px, -177px, -525px, 59px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'funeral-2', );
$funeral-3-name: 'funeral-3';
$funeral-3-x: 579px;
$funeral-3-y: 150px;
$funeral-3-offset-x: -579px;
$funeral-3-offset-y: -150px;
$funeral-3-width: 47px;
$funeral-3-height: 59px;
$funeral-3-total-width: 689px;
$funeral-3-total-height: 662px;
$funeral-3-image: '/assets/template/css/sprites/sprite.png';
$funeral-3: (579px, 150px, -579px, -150px, 47px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'funeral-3', );
$funeral-4-name: 'funeral-4';
$funeral-4-x: 118px;
$funeral-4-y: 525px;
$funeral-4-offset-x: -118px;
$funeral-4-offset-y: -525px;
$funeral-4-width: 59px;
$funeral-4-height: 59px;
$funeral-4-total-width: 689px;
$funeral-4-total-height: 662px;
$funeral-4-image: '/assets/template/css/sprites/sprite.png';
$funeral-4: (118px, 525px, -118px, -525px, 59px, 59px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'funeral-4', );
$icon-accessories-name: 'icon-accessories';
$icon-accessories-x: 146px;
$icon-accessories-y: 495px;
$icon-accessories-offset-x: -146px;
$icon-accessories-offset-y: -495px;
$icon-accessories-width: 30px;
$icon-accessories-height: 24px;
$icon-accessories-total-width: 689px;
$icon-accessories-total-height: 662px;
$icon-accessories-image: '/assets/template/css/sprites/sprite.png';
$icon-accessories: (146px, 495px, -146px, -495px, 30px, 24px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-accessories', );
$icon-building-name: 'icon-building';
$icon-building-x: 118px;
$icon-building-y: 495px;
$icon-building-offset-x: -118px;
$icon-building-offset-y: -495px;
$icon-building-width: 28px;
$icon-building-height: 26px;
$icon-building-total-width: 689px;
$icon-building-total-height: 662px;
$icon-building-image: '/assets/template/css/sprites/sprite.png';
$icon-building: (118px, 495px, -118px, -495px, 28px, 26px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-building', );
$icon-coffin-name: 'icon-coffin';
$icon-coffin-x: 80px;
$icon-coffin-y: 584px;
$icon-coffin-offset-x: -80px;
$icon-coffin-offset-y: -584px;
$icon-coffin-width: 29px;
$icon-coffin-height: 29px;
$icon-coffin-total-width: 689px;
$icon-coffin-total-height: 662px;
$icon-coffin-image: '/assets/template/css/sprites/sprite.png';
$icon-coffin: (80px, 584px, -80px, -584px, 29px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-coffin', );
$icon-confession-name: 'icon-confession';
$icon-confession-x: 257px;
$icon-confession-y: 377px;
$icon-confession-offset-x: -257px;
$icon-confession-offset-y: -377px;
$icon-confession-width: 30px;
$icon-confession-height: 21px;
$icon-confession-total-width: 689px;
$icon-confession-total-height: 662px;
$icon-confession-image: '/assets/template/css/sprites/sprite.png';
$icon-confession: (257px, 377px, -257px, -377px, 30px, 21px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-confession', );
$icon-cross-name: 'icon-cross';
$icon-cross-x: 20px;
$icon-cross-y: 625px;
$icon-cross-offset-x: -20px;
$icon-cross-offset-y: -625px;
$icon-cross-width: 20px;
$icon-cross-height: 34px;
$icon-cross-total-width: 689px;
$icon-cross-total-height: 662px;
$icon-cross-image: '/assets/template/css/sprites/sprite.png';
$icon-cross: (20px, 625px, -20px, -625px, 20px, 34px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-cross', );
$icon-dops-name: 'icon-dops';
$icon-dops-x: 436px;
$icon-dops-y: 525px;
$icon-dops-offset-x: -436px;
$icon-dops-offset-y: -525px;
$icon-dops-width: 30px;
$icon-dops-height: 30px;
$icon-dops-total-width: 689px;
$icon-dops-total-height: 662px;
$icon-dops-image: '/assets/template/css/sprites/sprite.png';
$icon-dops: (436px, 525px, -436px, -525px, 30px, 30px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-dops', );
$icon-employee-big-name: 'icon-employee-big';
$icon-employee-big-x: 0px;
$icon-employee-big-y: 419px;
$icon-employee-big-offset-x: 0px;
$icon-employee-big-offset-y: -419px;
$icon-employee-big-width: 83px;
$icon-employee-big-height: 106px;
$icon-employee-big-total-width: 689px;
$icon-employee-big-total-height: 662px;
$icon-employee-big-image: '/assets/template/css/sprites/sprite.png';
$icon-employee-big: (0px, 419px, 0px, -419px, 83px, 106px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-employee-big', );
$icon-employee-name: 'icon-employee';
$icon-employee-x: 632px;
$icon-employee-y: 358px;
$icon-employee-offset-x: -632px;
$icon-employee-offset-y: -358px;
$icon-employee-width: 39px;
$icon-employee-height: 41px;
$icon-employee-total-width: 689px;
$icon-employee-total-height: 662px;
$icon-employee-image: '/assets/template/css/sprites/sprite.png';
$icon-employee: (632px, 358px, -632px, -358px, 39px, 41px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-employee', );
$icon-experience-big-name: 'icon-experience-big';
$icon-experience-big-x: 317px;
$icon-experience-big-y: 145px;
$icon-experience-big-offset-x: -317px;
$icon-experience-big-offset-y: -145px;
$icon-experience-big-width: 130px;
$icon-experience-big-height: 93px;
$icon-experience-big-total-width: 689px;
$icon-experience-big-total-height: 662px;
$icon-experience-big-image: '/assets/template/css/sprites/sprite.png';
$icon-experience-big: (317px, 145px, -317px, -145px, 130px, 93px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-experience-big', );
$icon-experience-name: 'icon-experience';
$icon-experience-x: 447px;
$icon-experience-y: 145px;
$icon-experience-offset-x: -447px;
$icon-experience-offset-y: -145px;
$icon-experience-width: 109px;
$icon-experience-height: 78px;
$icon-experience-total-width: 689px;
$icon-experience-total-height: 662px;
$icon-experience-image: '/assets/template/css/sprites/sprite.png';
$icon-experience: (447px, 145px, -447px, -145px, 109px, 78px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-experience', );
$icon-infrastucture-name: 'icon-infrastucture';
$icon-infrastucture-x: 138px;
$icon-infrastucture-y: 584px;
$icon-infrastucture-offset-x: -138px;
$icon-infrastucture-offset-y: -584px;
$icon-infrastucture-width: 28px;
$icon-infrastucture-height: 29px;
$icon-infrastucture-total-width: 689px;
$icon-infrastucture-total-height: 662px;
$icon-infrastucture-image: '/assets/template/css/sprites/sprite.png';
$icon-infrastucture: (138px, 584px, -138px, -584px, 28px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-infrastucture', );
$icon-mo-gerb-small-name: 'icon-mo-gerb-small';
$icon-mo-gerb-small-x: 632px;
$icon-mo-gerb-small-y: 151px;
$icon-mo-gerb-small-offset-x: -632px;
$icon-mo-gerb-small-offset-y: -151px;
$icon-mo-gerb-small-width: 39px;
$icon-mo-gerb-small-height: 51px;
$icon-mo-gerb-small-total-width: 689px;
$icon-mo-gerb-small-total-height: 662px;
$icon-mo-gerb-small-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb-small: (632px, 151px, -632px, -151px, 39px, 51px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb-small', );
$icon-mo-gerb-name: 'icon-mo-gerb';
$icon-mo-gerb-x: 0px;
$icon-mo-gerb-y: 304px;
$icon-mo-gerb-offset-x: 0px;
$icon-mo-gerb-offset-y: -304px;
$icon-mo-gerb-width: 88px;
$icon-mo-gerb-height: 115px;
$icon-mo-gerb-total-width: 689px;
$icon-mo-gerb-total-height: 662px;
$icon-mo-gerb-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb: (0px, 304px, 0px, -304px, 88px, 115px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb', );
$icon-monument-name: 'icon-monument';
$icon-monument-x: 498px;
$icon-monument-y: 525px;
$icon-monument-offset-x: -498px;
$icon-monument-offset-y: -525px;
$icon-monument-width: 24px;
$icon-monument-height: 27px;
$icon-monument-total-width: 689px;
$icon-monument-total-height: 662px;
$icon-monument-image: '/assets/template/css/sprites/sprite.png';
$icon-monument: (498px, 525px, -498px, -525px, 24px, 27px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-monument', );
$icon-panel-plane-name: 'icon-panel-plane';
$icon-panel-plane-x: 88px;
$icon-panel-plane-y: 304px;
$icon-panel-plane-offset-x: -88px;
$icon-panel-plane-offset-y: -304px;
$icon-panel-plane-width: 133px;
$icon-panel-plane-height: 73px;
$icon-panel-plane-total-width: 689px;
$icon-panel-plane-total-height: 662px;
$icon-panel-plane-image: '/assets/template/css/sprites/sprite.png';
$icon-panel-plane: (88px, 304px, -88px, -304px, 133px, 73px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-panel-plane', );
$icon-phone-slider-name: 'icon-phone-slider';
$icon-phone-slider-x: 253px;
$icon-phone-slider-y: 495px;
$icon-phone-slider-offset-x: -253px;
$icon-phone-slider-offset-y: -495px;
$icon-phone-slider-width: 18px;
$icon-phone-slider-height: 18px;
$icon-phone-slider-total-width: 689px;
$icon-phone-slider-total-height: 662px;
$icon-phone-slider-image: '/assets/template/css/sprites/sprite.png';
$icon-phone-slider: (253px, 495px, -253px, -495px, 18px, 18px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-phone-slider', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 677px;
$icon-phone-y: 119px;
$icon-phone-offset-x: -677px;
$icon-phone-offset-y: -119px;
$icon-phone-width: 10px;
$icon-phone-height: 10px;
$icon-phone-total-width: 689px;
$icon-phone-total-height: 662px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (677px, 119px, -677px, -119px, 10px, 10px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-plane-name: 'icon-plane';
$icon-plane-x: 383px;
$icon-plane-y: 285px;
$icon-plane-offset-x: -383px;
$icon-plane-offset-y: -285px;
$icon-plane-width: 29px;
$icon-plane-height: 16px;
$icon-plane-total-width: 689px;
$icon-plane-total-height: 662px;
$icon-plane-image: '/assets/template/css/sprites/sprite.png';
$icon-plane: (383px, 285px, -383px, -285px, 29px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-plane', );
$icon-play-small-name: 'icon-play-small';
$icon-play-small-x: 473px;
$icon-play-small-y: 419px;
$icon-play-small-offset-x: -473px;
$icon-play-small-offset-y: -419px;
$icon-play-small-width: 32px;
$icon-play-small-height: 36px;
$icon-play-small-total-width: 689px;
$icon-play-small-total-height: 662px;
$icon-play-small-image: '/assets/template/css/sprites/sprite.png';
$icon-play-small: (473px, 419px, -473px, -419px, 32px, 36px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-play-small', );
$icon-play-name: 'icon-play';
$icon-play-x: 151px;
$icon-play-y: 419px;
$icon-play-offset-x: -151px;
$icon-play-offset-y: -419px;
$icon-play-width: 59px;
$icon-play-height: 66px;
$icon-play-total-width: 689px;
$icon-play-total-height: 662px;
$icon-play-image: '/assets/template/css/sprites/sprite.png';
$icon-play: (151px, 419px, -151px, -419px, 59px, 66px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 235px;
$icon-search-y: 495px;
$icon-search-offset-x: -235px;
$icon-search-offset-y: -495px;
$icon-search-width: 18px;
$icon-search-height: 18px;
$icon-search-total-width: 689px;
$icon-search-total-height: 662px;
$icon-search-image: '/assets/template/css/sprites/sprite.png';
$icon-search: (235px, 495px, -235px, -495px, 18px, 18px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-search', );
$icon-textil-name: 'icon-textil';
$icon-textil-x: 224px;
$icon-textil-y: 377px;
$icon-textil-offset-x: -224px;
$icon-textil-offset-y: -377px;
$icon-textil-width: 33px;
$icon-textil-height: 23px;
$icon-textil-total-width: 689px;
$icon-textil-total-height: 662px;
$icon-textil-image: '/assets/template/css/sprites/sprite.png';
$icon-textil: (224px, 377px, -224px, -377px, 33px, 23px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-textil', );
$icon-transport-name: 'icon-transport';
$icon-transport-x: 447px;
$icon-transport-y: 223px;
$icon-transport-offset-x: -447px;
$icon-transport-offset-y: -223px;
$icon-transport-width: 35px;
$icon-transport-height: 15px;
$icon-transport-total-width: 689px;
$icon-transport-total-height: 662px;
$icon-transport-image: '/assets/template/css/sprites/sprite.png';
$icon-transport: (447px, 223px, -447px, -223px, 35px, 15px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-transport', );
$icon-wreath-name: 'icon-wreath';
$icon-wreath-x: 109px;
$icon-wreath-y: 584px;
$icon-wreath-offset-x: -109px;
$icon-wreath-offset-y: -584px;
$icon-wreath-width: 29px;
$icon-wreath-height: 29px;
$icon-wreath-total-width: 689px;
$icon-wreath-total-height: 662px;
$icon-wreath-image: '/assets/template/css/sprites/sprite.png';
$icon-wreath: (109px, 584px, -109px, -584px, 29px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'icon-wreath', );
$mail-contact-name: 'mail-contact';
$mail-contact-x: 287px;
$mail-contact-y: 377px;
$mail-contact-offset-x: -287px;
$mail-contact-offset-y: -377px;
$mail-contact-width: 25px;
$mail-contact-height: 18px;
$mail-contact-total-width: 689px;
$mail-contact-total-height: 662px;
$mail-contact-image: '/assets/template/css/sprites/sprite.png';
$mail-contact: (287px, 377px, -287px, -377px, 25px, 18px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'mail-contact', );
$map-marker-white-name: 'map-marker-white';
$map-marker-white-x: 199px;
$map-marker-white-y: 495px;
$map-marker-white-offset-x: -199px;
$map-marker-white-offset-y: -495px;
$map-marker-white-width: 18px;
$map-marker-white-height: 23px;
$map-marker-white-total-width: 689px;
$map-marker-white-total-height: 662px;
$map-marker-white-image: '/assets/template/css/sprites/sprite.png';
$map-marker-white: (199px, 495px, -199px, -495px, 18px, 23px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'map-marker-white', );
$menu-arrow-right-name: 'menu-arrow-right';
$menu-arrow-right-x: 680px;
$menu-arrow-right-y: 85px;
$menu-arrow-right-offset-x: -680px;
$menu-arrow-right-offset-y: -85px;
$menu-arrow-right-width: 8px;
$menu-arrow-right-height: 10px;
$menu-arrow-right-total-width: 689px;
$menu-arrow-right-total-height: 662px;
$menu-arrow-right-image: '/assets/template/css/sprites/sprite.png';
$menu-arrow-right: (680px, 85px, -680px, -85px, 8px, 10px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'menu-arrow-right', );
$menu-border-name: 'menu-border';
$menu-border-x: 677px;
$menu-border-y: 85px;
$menu-border-offset-x: -677px;
$menu-border-offset-y: -85px;
$menu-border-width: 3px;
$menu-border-height: 34px;
$menu-border-total-width: 689px;
$menu-border-total-height: 662px;
$menu-border-image: '/assets/template/css/sprites/sprite.png';
$menu-border: (677px, 85px, -677px, -85px, 3px, 34px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'menu-border', );
$morgue-name: 'morgue';
$morgue-x: 236px;
$morgue-y: 525px;
$morgue-offset-x: -236px;
$morgue-offset-y: -525px;
$morgue-width: 56px;
$morgue-height: 58px;
$morgue-total-width: 689px;
$morgue-total-height: 662px;
$morgue-image: '/assets/template/css/sprites/sprite.png';
$morgue: (236px, 525px, -236px, -525px, 56px, 58px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'morgue', );
$phone-contact-name: 'phone-contact';
$phone-contact-x: 176px;
$phone-contact-y: 495px;
$phone-contact-offset-x: -176px;
$phone-contact-offset-y: -495px;
$phone-contact-width: 23px;
$phone-contact-height: 23px;
$phone-contact-total-width: 689px;
$phone-contact-total-height: 662px;
$phone-contact-image: '/assets/template/css/sprites/sprite.png';
$phone-contact: (176px, 495px, -176px, -495px, 23px, 23px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'phone-contact', );
$phone-panel-32-name: 'phone-panel-32';
$phone-panel-32-x: 536px;
$phone-panel-32-y: 419px;
$phone-panel-32-offset-x: -536px;
$phone-panel-32-offset-y: -419px;
$phone-panel-32-width: 32px;
$phone-panel-32-height: 32px;
$phone-panel-32-total-width: 689px;
$phone-panel-32-total-height: 662px;
$phone-panel-32-image: '/assets/template/css/sprites/sprite.png';
$phone-panel-32: (536px, 419px, -536px, -419px, 32px, 32px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'phone-panel-32', );
$phone-panel-name: 'phone-panel';
$phone-panel-x: 406px;
$phone-panel-y: 304px;
$phone-panel-offset-x: -406px;
$phone-panel-offset-y: -304px;
$phone-panel-width: 48px;
$phone-panel-height: 48px;
$phone-panel-total-width: 689px;
$phone-panel-total-height: 662px;
$phone-panel-image: '/assets/template/css/sprites/sprite.png';
$phone-panel: (406px, 304px, -406px, -304px, 48px, 48px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'phone-panel', );
$phone-white-name: 'phone-white';
$phone-white-x: 655px;
$phone-white-y: 559px;
$phone-white-offset-x: -655px;
$phone-white-offset-y: -559px;
$phone-white-width: 18px;
$phone-white-height: 18px;
$phone-white-total-width: 689px;
$phone-white-total-height: 662px;
$phone-white-image: '/assets/template/css/sprites/sprite.png';
$phone-white: (655px, 559px, -655px, -559px, 18px, 18px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'phone-white', );
$play-button-name: 'play-button';
$play-button-x: 632px;
$play-button-y: 100px;
$play-button-offset-x: -632px;
$play-button-offset-y: -100px;
$play-button-width: 39px;
$play-button-height: 51px;
$play-button-total-width: 689px;
$play-button-total-height: 662px;
$play-button-image: '/assets/template/css/sprites/sprite.png';
$play-button: (632px, 100px, -632px, -100px, 39px, 51px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'play-button', );
$price-burial-small-white-name: 'price-burial-small-white';
$price-burial-small-white-x: 505px;
$price-burial-small-white-y: 419px;
$price-burial-small-white-offset-x: -505px;
$price-burial-small-white-offset-y: -419px;
$price-burial-small-white-width: 31px;
$price-burial-small-white-height: 34px;
$price-burial-small-white-total-width: 689px;
$price-burial-small-white-total-height: 662px;
$price-burial-small-white-image: '/assets/template/css/sprites/sprite.png';
$price-burial-small-white: (505px, 419px, -505px, -419px, 31px, 34px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-burial-small-white', );
$price-burial-small-name: 'price-burial-small';
$price-burial-small-x: 166px;
$price-burial-small-y: 584px;
$price-burial-small-offset-x: -166px;
$price-burial-small-offset-y: -584px;
$price-burial-small-width: 27px;
$price-burial-small-height: 29px;
$price-burial-small-total-width: 689px;
$price-burial-small-total-height: 662px;
$price-burial-small-image: '/assets/template/css/sprites/sprite.png';
$price-burial-small: (166px, 584px, -166px, -584px, 27px, 29px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-burial-small', );
$price-burial-name: 'price-burial';
$price-burial-x: 579px;
$price-burial-y: 327px;
$price-burial-offset-x: -579px;
$price-burial-offset-y: -327px;
$price-burial-width: 49px;
$price-burial-height: 54px;
$price-burial-total-width: 689px;
$price-burial-total-height: 662px;
$price-burial-image: '/assets/template/css/sprites/sprite.png';
$price-burial: (579px, 327px, -579px, -327px, 49px, 54px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-burial', );
$price-contacts-email-name: 'price-contacts-email';
$price-contacts-email-x: 412px;
$price-contacts-email-y: 285px;
$price-contacts-email-offset-x: -412px;
$price-contacts-email-offset-y: -285px;
$price-contacts-email-width: 20px;
$price-contacts-email-height: 16px;
$price-contacts-email-total-width: 689px;
$price-contacts-email-total-height: 662px;
$price-contacts-email-image: '/assets/template/css/sprites/sprite.png';
$price-contacts-email: (412px, 285px, -412px, -285px, 20px, 16px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-contacts-email', );
$price-contacts-marker-name: 'price-contacts-marker';
$price-contacts-marker-x: 217px;
$price-contacts-marker-y: 495px;
$price-contacts-marker-offset-x: -217px;
$price-contacts-marker-offset-y: -495px;
$price-contacts-marker-width: 18px;
$price-contacts-marker-height: 23px;
$price-contacts-marker-total-width: 689px;
$price-contacts-marker-total-height: 662px;
$price-contacts-marker-image: '/assets/template/css/sprites/sprite.png';
$price-contacts-marker: (217px, 495px, -217px, -495px, 18px, 23px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-contacts-marker', );
$price-cremation-small-white-name: 'price-cremation-small-white';
$price-cremation-small-white-x: 556px;
$price-cremation-small-white-y: 145px;
$price-cremation-small-white-offset-x: -556px;
$price-cremation-small-white-offset-y: -145px;
$price-cremation-small-white-width: 22px;
$price-cremation-small-white-height: 34px;
$price-cremation-small-white-total-width: 689px;
$price-cremation-small-white-total-height: 662px;
$price-cremation-small-white-image: '/assets/template/css/sprites/sprite.png';
$price-cremation-small-white: (556px, 145px, -556px, -145px, 22px, 34px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-cremation-small-white', );
$price-cremation-small-name: 'price-cremation-small';
$price-cremation-small-x: 61px;
$price-cremation-small-y: 625px;
$price-cremation-small-offset-x: -61px;
$price-cremation-small-offset-y: -625px;
$price-cremation-small-width: 19px;
$price-cremation-small-height: 30px;
$price-cremation-small-total-width: 689px;
$price-cremation-small-total-height: 662px;
$price-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$price-cremation-small: (61px, 625px, -61px, -625px, 19px, 30px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-cremation-small', );
$price-cremation-name: 'price-cremation';
$price-cremation-x: 632px;
$price-cremation-y: 257px;
$price-cremation-offset-x: -632px;
$price-cremation-offset-y: -257px;
$price-cremation-width: 35px;
$price-cremation-height: 54px;
$price-cremation-total-width: 689px;
$price-cremation-total-height: 662px;
$price-cremation-image: '/assets/template/css/sprites/sprite.png';
$price-cremation: (632px, 257px, -632px, -257px, 35px, 54px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'price-cremation', );
$rating-star-4-8-name: 'rating-star-4-8';
$rating-star-4-8-x: 497px;
$rating-star-4-8-y: 223px;
$rating-star-4-8-offset-x: -497px;
$rating-star-4-8-offset-y: -223px;
$rating-star-4-8-width: 15px;
$rating-star-4-8-height: 15px;
$rating-star-4-8-total-width: 689px;
$rating-star-4-8-total-height: 662px;
$rating-star-4-8-image: '/assets/template/css/sprites/sprite.png';
$rating-star-4-8: (497px, 223px, -497px, -223px, 15px, 15px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'rating-star-4-8', );
$rating-star-name: 'rating-star';
$rating-star-x: 512px;
$rating-star-y: 223px;
$rating-star-offset-x: -512px;
$rating-star-offset-y: -223px;
$rating-star-width: 15px;
$rating-star-height: 15px;
$rating-star-total-width: 689px;
$rating-star-total-height: 662px;
$rating-star-image: '/assets/template/css/sprites/sprite.png';
$rating-star: (512px, 223px, -512px, -223px, 15px, 15px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'rating-star', );
$review-item-name: 'review-item';
$review-item-x: 0px;
$review-item-y: 0px;
$review-item-offset-x: 0px;
$review-item-offset-y: 0px;
$review-item-width: 579px;
$review-item-height: 145px;
$review-item-total-width: 689px;
$review-item-total-height: 662px;
$review-item-image: '/assets/template/css/sprites/sprite.png';
$review-item: (0px, 0px, 0px, 0px, 579px, 145px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'review-item', );
$search-white-name: 'search-white';
$search-white-x: 527px;
$search-white-y: 223px;
$search-white-offset-x: -527px;
$search-white-offset-y: -223px;
$search-white-width: 15px;
$search-white-height: 15px;
$search-white-total-width: 689px;
$search-white-total-height: 662px;
$search-white-image: '/assets/template/css/sprites/sprite.png';
$search-white: (527px, 223px, -527px, -223px, 15px, 15px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'search-white', );
$search-name: 'search';
$search-x: 482px;
$search-y: 223px;
$search-offset-x: -482px;
$search-offset-y: -223px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 689px;
$search-total-height: 662px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (482px, 223px, -482px, -223px, 15px, 15px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'search', );
$section-menu-cemetery-small-name: 'section-menu-cemetery-small';
$section-menu-cemetery-small-x: 405px;
$section-menu-cemetery-small-y: 525px;
$section-menu-cemetery-small-offset-x: -405px;
$section-menu-cemetery-small-offset-y: -525px;
$section-menu-cemetery-small-width: 31px;
$section-menu-cemetery-small-height: 31px;
$section-menu-cemetery-small-total-width: 689px;
$section-menu-cemetery-small-total-height: 662px;
$section-menu-cemetery-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery-small: (405px, 525px, -405px, -525px, 31px, 31px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery-small', );
$section-menu-cemetery-name: 'section-menu-cemetery';
$section-menu-cemetery-x: 376px;
$section-menu-cemetery-y: 419px;
$section-menu-cemetery-offset-x: -376px;
$section-menu-cemetery-offset-y: -419px;
$section-menu-cemetery-width: 46px;
$section-menu-cemetery-height: 46px;
$section-menu-cemetery-total-width: 689px;
$section-menu-cemetery-total-height: 662px;
$section-menu-cemetery-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery: (376px, 419px, -376px, -419px, 46px, 46px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery', );
$section-menu-columbarie-small-name: 'section-menu-columbarie-small';
$section-menu-columbarie-small-x: 53px;
$section-menu-columbarie-small-y: 584px;
$section-menu-columbarie-small-offset-x: -53px;
$section-menu-columbarie-small-offset-y: -584px;
$section-menu-columbarie-small-width: 27px;
$section-menu-columbarie-small-height: 32px;
$section-menu-columbarie-small-total-width: 689px;
$section-menu-columbarie-small-total-height: 662px;
$section-menu-columbarie-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie-small: (53px, 584px, -53px, -584px, 27px, 32px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie-small', );
$section-menu-columbarie-name: 'section-menu-columbarie';
$section-menu-columbarie-x: 632px;
$section-menu-columbarie-y: 311px;
$section-menu-columbarie-offset-x: -632px;
$section-menu-columbarie-offset-y: -311px;
$section-menu-columbarie-width: 40px;
$section-menu-columbarie-height: 47px;
$section-menu-columbarie-total-width: 689px;
$section-menu-columbarie-total-height: 662px;
$section-menu-columbarie-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie: (632px, 311px, -632px, -311px, 40px, 47px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie', );
$section-menu-cremation-small-name: 'section-menu-cremation-small';
$section-menu-cremation-small-x: 40px;
$section-menu-cremation-small-y: 625px;
$section-menu-cremation-small-offset-x: -40px;
$section-menu-cremation-small-offset-y: -625px;
$section-menu-cremation-small-width: 21px;
$section-menu-cremation-small-height: 32px;
$section-menu-cremation-small-total-width: 689px;
$section-menu-cremation-small-total-height: 662px;
$section-menu-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation-small: (40px, 625px, -40px, -625px, 21px, 32px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation-small', );
$section-menu-cremation-name: 'section-menu-cremation';
$section-menu-cremation-x: 338px;
$section-menu-cremation-y: 525px;
$section-menu-cremation-offset-x: -338px;
$section-menu-cremation-offset-y: -525px;
$section-menu-cremation-width: 31px;
$section-menu-cremation-height: 47px;
$section-menu-cremation-total-width: 689px;
$section-menu-cremation-total-height: 662px;
$section-menu-cremation-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation: (338px, 525px, -338px, -525px, 31px, 47px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation', );
$section-menu-morgue-small-name: 'section-menu-morgue-small';
$section-menu-morgue-small-x: 466px;
$section-menu-morgue-small-y: 525px;
$section-menu-morgue-small-offset-x: -466px;
$section-menu-morgue-small-offset-y: -525px;
$section-menu-morgue-small-width: 32px;
$section-menu-morgue-small-height: 28px;
$section-menu-morgue-small-total-width: 689px;
$section-menu-morgue-small-total-height: 662px;
$section-menu-morgue-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue-small: (466px, 525px, -466px, -525px, 32px, 28px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue-small', );
$section-menu-morgue-name: 'section-menu-morgue';
$section-menu-morgue-x: 528px;
$section-menu-morgue-y: 238px;
$section-menu-morgue-offset-x: -528px;
$section-menu-morgue-offset-y: -238px;
$section-menu-morgue-width: 47px;
$section-menu-morgue-height: 41px;
$section-menu-morgue-total-width: 689px;
$section-menu-morgue-total-height: 662px;
$section-menu-morgue-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue: (528px, 238px, -528px, -238px, 47px, 41px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue', );
$service-200-small-name: 'service-200-small';
$service-200-small-x: 579px;
$service-200-small-y: 491px;
$service-200-small-offset-x: -579px;
$service-200-small-offset-y: -491px;
$service-200-small-width: 46px;
$service-200-small-height: 25px;
$service-200-small-total-width: 689px;
$service-200-small-total-height: 662px;
$service-200-small-image: '/assets/template/css/sprites/sprite.png';
$service-200-small: (579px, 491px, -579px, -491px, 46px, 25px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-200-small', );
$service-200-name: 'service-200';
$service-200-x: 383px;
$service-200-y: 238px;
$service-200-offset-x: -383px;
$service-200-offset-y: -238px;
$service-200-width: 87px;
$service-200-height: 47px;
$service-200-total-width: 689px;
$service-200-total-height: 662px;
$service-200-image: '/assets/template/css/sprites/sprite.png';
$service-200: (383px, 238px, -383px, -238px, 87px, 47px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-200', );
$service-burial-small-name: 'service-burial-small';
$service-burial-small-x: 369px;
$service-burial-small-y: 525px;
$service-burial-small-offset-x: -369px;
$service-burial-small-offset-y: -525px;
$service-burial-small-width: 36px;
$service-burial-small-height: 40px;
$service-burial-small-total-width: 689px;
$service-burial-small-total-height: 662px;
$service-burial-small-image: '/assets/template/css/sprites/sprite.png';
$service-burial-small: (369px, 525px, -369px, -525px, 36px, 40px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-burial-small', );
$service-burial-name: 'service-burial';
$service-burial-x: 83px;
$service-burial-y: 419px;
$service-burial-offset-x: -83px;
$service-burial-offset-y: -419px;
$service-burial-width: 68px;
$service-burial-height: 76px;
$service-burial-total-width: 689px;
$service-burial-total-height: 662px;
$service-burial-image: '/assets/template/css/sprites/sprite.png';
$service-burial: (83px, 419px, -83px, -419px, 68px, 76px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-burial', );
$service-calc-small-name: 'service-calc-small';
$service-calc-small-x: 26px;
$service-calc-small-y: 584px;
$service-calc-small-offset-x: -26px;
$service-calc-small-offset-y: -584px;
$service-calc-small-width: 27px;
$service-calc-small-height: 35px;
$service-calc-small-total-width: 689px;
$service-calc-small-total-height: 662px;
$service-calc-small-image: '/assets/template/css/sprites/sprite.png';
$service-calc-small: (26px, 584px, -26px, -584px, 27px, 35px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-calc-small', );
$service-calc-name: 'service-calc';
$service-calc-x: 579px;
$service-calc-y: 0px;
$service-calc-offset-x: -579px;
$service-calc-offset-y: 0px;
$service-calc-width: 53px;
$service-calc-height: 73px;
$service-calc-total-width: 689px;
$service-calc-total-height: 662px;
$service-calc-image: '/assets/template/css/sprites/sprite.png';
$service-calc: (579px, 0px, -579px, 0px, 53px, 73px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-calc', );
$service-cremation-small-name: 'service-cremation-small';
$service-cremation-small-x: 0px;
$service-cremation-small-y: 584px;
$service-cremation-small-offset-x: 0px;
$service-cremation-small-offset-y: -584px;
$service-cremation-small-width: 26px;
$service-cremation-small-height: 41px;
$service-cremation-small-total-width: 689px;
$service-cremation-small-total-height: 662px;
$service-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$service-cremation-small: (0px, 584px, 0px, -584px, 26px, 41px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-cremation-small', );
$service-cremation-name: 'service-cremation';
$service-cremation-x: 579px;
$service-cremation-y: 73px;
$service-cremation-offset-x: -579px;
$service-cremation-offset-y: -73px;
$service-cremation-width: 50px;
$service-cremation-height: 77px;
$service-cremation-total-width: 689px;
$service-cremation-total-height: 662px;
$service-cremation-image: '/assets/template/css/sprites/sprite.png';
$service-cremation: (579px, 73px, -579px, -73px, 50px, 77px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-cremation', );
$service-place-small-name: 'service-place-small';
$service-place-small-x: 142px;
$service-place-small-y: 377px;
$service-place-small-offset-x: -142px;
$service-place-small-offset-y: -377px;
$service-place-small-width: 35px;
$service-place-small-height: 35px;
$service-place-small-total-width: 689px;
$service-place-small-total-height: 662px;
$service-place-small-image: '/assets/template/css/sprites/sprite.png';
$service-place-small: (142px, 377px, -142px, -377px, 35px, 35px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-place-small', );
$service-place-name: 'service-place';
$service-place-x: 317px;
$service-place-y: 238px;
$service-place-offset-x: -317px;
$service-place-offset-y: -238px;
$service-place-width: 66px;
$service-place-height: 66px;
$service-place-total-width: 689px;
$service-place-total-height: 662px;
$service-place-image: '/assets/template/css/sprites/sprite.png';
$service-place: (317px, 238px, -317px, -238px, 66px, 66px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-place', );
$service-posobie-small-name: 'service-posobie-small';
$service-posobie-small-x: 83px;
$service-posobie-small-y: 495px;
$service-posobie-small-offset-x: -83px;
$service-posobie-small-offset-y: -495px;
$service-posobie-small-width: 35px;
$service-posobie-small-height: 26px;
$service-posobie-small-total-width: 689px;
$service-posobie-small-total-height: 662px;
$service-posobie-small-image: '/assets/template/css/sprites/sprite.png';
$service-posobie-small: (83px, 495px, -83px, -495px, 35px, 26px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-posobie-small', );
$service-posobie-name: 'service-posobie';
$service-posobie-x: 287px;
$service-posobie-y: 304px;
$service-posobie-offset-x: -287px;
$service-posobie-offset-y: -304px;
$service-posobie-width: 71px;
$service-posobie-height: 55px;
$service-posobie-total-width: 689px;
$service-posobie-total-height: 662px;
$service-posobie-image: '/assets/template/css/sprites/sprite.png';
$service-posobie: (287px, 304px, -287px, -304px, 71px, 55px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'service-posobie', );
$site-map-512-name: 'site-map-512';
$site-map-512-x: 542px;
$site-map-512-y: 223px;
$site-map-512-offset-x: -542px;
$site-map-512-offset-y: -223px;
$site-map-512-width: 16px;
$site-map-512-height: 12px;
$site-map-512-total-width: 689px;
$site-map-512-total-height: 662px;
$site-map-512-image: '/assets/template/css/sprites/sprite.png';
$site-map-512: (542px, 223px, -542px, -223px, 16px, 12px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'site-map-512', );
$slide-next-small-name: 'slide-next-small';
$slide-next-small-x: 677px;
$slide-next-small-y: 0px;
$slide-next-small-offset-x: -677px;
$slide-next-small-offset-y: 0px;
$slide-next-small-width: 12px;
$slide-next-small-height: 37px;
$slide-next-small-total-width: 689px;
$slide-next-small-total-height: 662px;
$slide-next-small-image: '/assets/template/css/sprites/sprite.png';
$slide-next-small: (677px, 0px, -677px, 0px, 12px, 37px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'slide-next-small', );
$slide-next-name: 'slide-next';
$slide-next-x: 632px;
$slide-next-y: 511px;
$slide-next-offset-x: -632px;
$slide-next-offset-y: -511px;
$slide-next-width: 23px;
$slide-next-height: 66px;
$slide-next-total-width: 689px;
$slide-next-total-height: 662px;
$slide-next-image: '/assets/template/css/sprites/sprite.png';
$slide-next: (632px, 511px, -632px, -511px, 23px, 66px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'slide-next', );
$slide-prev-small-name: 'slide-prev-small';
$slide-prev-small-x: 620px;
$slide-prev-small-y: 432px;
$slide-prev-small-offset-x: -620px;
$slide-prev-small-offset-y: -432px;
$slide-prev-small-width: 12px;
$slide-prev-small-height: 37px;
$slide-prev-small-total-width: 689px;
$slide-prev-small-total-height: 662px;
$slide-prev-small-image: '/assets/template/css/sprites/sprite.png';
$slide-prev-small: (620px, 432px, -620px, -432px, 12px, 37px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'slide-prev-small', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 655px;
$slide-prev-y: 445px;
$slide-prev-offset-x: -655px;
$slide-prev-offset-y: -445px;
$slide-prev-width: 22px;
$slide-prev-height: 66px;
$slide-prev-total-width: 689px;
$slide-prev-total-height: 662px;
$slide-prev-image: '/assets/template/css/sprites/sprite.png';
$slide-prev: (655px, 445px, -655px, -445px, 22px, 66px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'slide-prev', );
$support-1-name: 'support-1';
$support-1-x: 210px;
$support-1-y: 419px;
$support-1-offset-x: -210px;
$support-1-offset-y: -419px;
$support-1-width: 62px;
$support-1-height: 58px;
$support-1-total-width: 689px;
$support-1-total-height: 662px;
$support-1-image: '/assets/template/css/sprites/sprite.png';
$support-1: (210px, 419px, -210px, -419px, 62px, 58px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'support-1', );
$vintage-big-name: 'vintage-big';
$vintage-big-x: 0px;
$vintage-big-y: 145px;
$vintage-big-offset-x: 0px;
$vintage-big-offset-y: -145px;
$vintage-big-width: 317px;
$vintage-big-height: 159px;
$vintage-big-total-width: 689px;
$vintage-big-total-height: 662px;
$vintage-big-image: '/assets/template/css/sprites/sprite.png';
$vintage-big: (0px, 145px, 0px, -145px, 317px, 159px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'vintage-big', );
$vintage-small-name: 'vintage-small';
$vintage-small-x: 177px;
$vintage-small-y: 377px;
$vintage-small-offset-x: -177px;
$vintage-small-offset-y: -377px;
$vintage-small-width: 47px;
$vintage-small-height: 23px;
$vintage-small-total-width: 689px;
$vintage-small-total-height: 662px;
$vintage-small-image: '/assets/template/css/sprites/sprite.png';
$vintage-small: (177px, 377px, -177px, -377px, 47px, 23px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'vintage-small', );
$vintage-name: 'vintage';
$vintage-x: 505px;
$vintage-y: 304px;
$vintage-offset-x: -505px;
$vintage-offset-y: -304px;
$vintage-width: 64px;
$vintage-height: 32px;
$vintage-total-width: 689px;
$vintage-total-height: 662px;
$vintage-image: '/assets/template/css/sprites/sprite.png';
$vintage: (505px, 304px, -505px, -304px, 64px, 32px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'vintage', );
$white-arrow-small-name: 'white-arrow-small';
$white-arrow-small-x: 655px;
$white-arrow-small-y: 511px;
$white-arrow-small-offset-x: -655px;
$white-arrow-small-offset-y: -511px;
$white-arrow-small-width: 17px;
$white-arrow-small-height: 48px;
$white-arrow-small-total-width: 689px;
$white-arrow-small-total-height: 662px;
$white-arrow-small-image: '/assets/template/css/sprites/sprite.png';
$white-arrow-small: (655px, 511px, -655px, -511px, 17px, 48px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'white-arrow-small', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 632px;
$white-arrow-y: 445px;
$white-arrow-offset-x: -632px;
$white-arrow-offset-y: -445px;
$white-arrow-width: 23px;
$white-arrow-height: 66px;
$white-arrow-total-width: 689px;
$white-arrow-total-height: 662px;
$white-arrow-image: '/assets/template/css/sprites/sprite.png';
$white-arrow: (632px, 445px, -632px, -445px, 23px, 66px, 689px, 662px, '/assets/template/css/sprites/sprite.png', 'white-arrow', );
$spritesheet-width: 689px;
$spritesheet-height: 662px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($about-gbu, $about-icon, $about-news, $about-partnership, $about-reviews, $about-vacancy, $address, $arrow-left-small, $arrow-left, $arrow-orange-down-320, $arrow-right-blue, $arrow-right-small-white, $arrow-right-small, $arrow-right, $bo-13, $burials-1, $burials-2, $burials-3, $burials-5, $burials-6, $cemetary, $checked, $columbaria, $cremation-1, $cremation-2, $cremation-3, $cremation-4, $danger, $email-white, $footer-menu-arrow, $funeral-1, $funeral-2, $funeral-3, $funeral-4, $icon-accessories, $icon-building, $icon-coffin, $icon-confession, $icon-cross, $icon-dops, $icon-employee-big, $icon-employee, $icon-experience-big, $icon-experience, $icon-infrastucture, $icon-mo-gerb-small, $icon-mo-gerb, $icon-monument, $icon-panel-plane, $icon-phone-slider, $icon-phone, $icon-plane, $icon-play-small, $icon-play, $icon-search, $icon-textil, $icon-transport, $icon-wreath, $mail-contact, $map-marker-white, $menu-arrow-right, $menu-border, $morgue, $phone-contact, $phone-panel-32, $phone-panel, $phone-white, $play-button, $price-burial-small-white, $price-burial-small, $price-burial, $price-contacts-email, $price-contacts-marker, $price-cremation-small-white, $price-cremation-small, $price-cremation, $rating-star-4-8, $rating-star, $review-item, $search-white, $search, $section-menu-cemetery-small, $section-menu-cemetery, $section-menu-columbarie-small, $section-menu-columbarie, $section-menu-cremation-small, $section-menu-cremation, $section-menu-morgue-small, $section-menu-morgue, $service-200-small, $service-200, $service-burial-small, $service-burial, $service-calc-small, $service-calc, $service-cremation-small, $service-cremation, $service-place-small, $service-place, $service-posobie-small, $service-posobie, $site-map-512, $slide-next-small, $slide-next, $slide-prev-small, $slide-prev, $support-1, $vintage-big, $vintage-small, $vintage, $white-arrow-small, $white-arrow, );
$spritesheet: (689px, 662px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
