// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 556px;
$address-y: 485px;
$address-offset-x: -556px;
$address-offset-y: -485px;
$address-width: 21px;
$address-height: 24px;
$address-total-width: 666px;
$address-total-height: 656px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (556px, 485px, -556px, -485px, 21px, 24px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-left-small-name: 'arrow-left-small';
$arrow-left-small-x: 658px;
$arrow-left-small-y: 233px;
$arrow-left-small-offset-x: -658px;
$arrow-left-small-offset-y: -233px;
$arrow-left-small-width: 8px;
$arrow-left-small-height: 16px;
$arrow-left-small-total-width: 666px;
$arrow-left-small-total-height: 656px;
$arrow-left-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-left-small: (658px, 233px, -658px, -233px, 8px, 16px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-left-small', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 646px;
$arrow-left-y: 0px;
$arrow-left-offset-x: -646px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 20px;
$arrow-left-height: 37px;
$arrow-left-total-width: 666px;
$arrow-left-total-height: 656px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (646px, 0px, -646px, 0px, 20px, 37px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-orange-down-320-name: 'arrow-orange-down-320';
$arrow-orange-down-320-x: 452px;
$arrow-orange-down-320-y: 336px;
$arrow-orange-down-320-offset-x: -452px;
$arrow-orange-down-320-offset-y: -336px;
$arrow-orange-down-320-width: 25px;
$arrow-orange-down-320-height: 17px;
$arrow-orange-down-320-total-width: 666px;
$arrow-orange-down-320-total-height: 656px;
$arrow-orange-down-320-image: '/assets/template/css/sprites/sprite.png';
$arrow-orange-down-320: (452px, 336px, -452px, -336px, 25px, 17px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-orange-down-320', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 646px;
$arrow-right-blue-y: 167px;
$arrow-right-blue-offset-x: -646px;
$arrow-right-blue-offset-y: -167px;
$arrow-right-blue-width: 16px;
$arrow-right-blue-height: 29px;
$arrow-right-blue-total-width: 666px;
$arrow-right-blue-total-height: 656px;
$arrow-right-blue-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-blue: (646px, 167px, -646px, -167px, 16px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-right-blue', );
$arrow-right-small-white-name: 'arrow-right-small-white';
$arrow-right-small-white-x: 658px;
$arrow-right-small-white-y: 212px;
$arrow-right-small-white-offset-x: -658px;
$arrow-right-small-white-offset-y: -212px;
$arrow-right-small-white-width: 8px;
$arrow-right-small-white-height: 16px;
$arrow-right-small-white-total-width: 666px;
$arrow-right-small-white-total-height: 656px;
$arrow-right-small-white-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small-white: (658px, 212px, -658px, -212px, 8px, 16px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small-white', );
$arrow-right-small-name: 'arrow-right-small';
$arrow-right-small-x: 658px;
$arrow-right-small-y: 196px;
$arrow-right-small-offset-x: -658px;
$arrow-right-small-offset-y: -196px;
$arrow-right-small-width: 8px;
$arrow-right-small-height: 16px;
$arrow-right-small-total-width: 666px;
$arrow-right-small-total-height: 656px;
$arrow-right-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small: (658px, 196px, -658px, -196px, 8px, 16px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 646px;
$arrow-right-y: 37px;
$arrow-right-offset-x: -646px;
$arrow-right-offset-y: -37px;
$arrow-right-width: 20px;
$arrow-right-height: 37px;
$arrow-right-total-width: 666px;
$arrow-right-total-height: 656px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (646px, 37px, -646px, -37px, 20px, 37px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$burials-1-name: 'burials-1';
$burials-1-x: 470px;
$burials-1-y: 238px;
$burials-1-offset-x: -470px;
$burials-1-offset-y: -238px;
$burials-1-width: 51px;
$burials-1-height: 45px;
$burials-1-total-width: 666px;
$burials-1-total-height: 656px;
$burials-1-image: '/assets/template/css/sprites/sprite.png';
$burials-1: (470px, 238px, -470px, -238px, 51px, 45px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'burials-1', );
$burials-2-name: 'burials-2';
$burials-2-x: 579px;
$burials-2-y: 367px;
$burials-2-offset-x: -579px;
$burials-2-offset-y: -367px;
$burials-2-width: 45px;
$burials-2-height: 49px;
$burials-2-total-width: 666px;
$burials-2-total-height: 656px;
$burials-2-image: '/assets/template/css/sprites/sprite.png';
$burials-2: (579px, 367px, -579px, -367px, 45px, 49px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'burials-2', );
$burials-3-name: 'burials-3';
$burials-3-x: 579px;
$burials-3-y: 462px;
$burials-3-offset-x: -579px;
$burials-3-offset-y: -462px;
$burials-3-width: 41px;
$burials-3-height: 51px;
$burials-3-total-width: 666px;
$burials-3-total-height: 656px;
$burials-3-image: '/assets/template/css/sprites/sprite.png';
$burials-3: (579px, 462px, -579px, -462px, 41px, 51px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'burials-3', );
$burials-5-name: 'burials-5';
$burials-5-x: 521px;
$burials-5-y: 238px;
$burials-5-offset-x: -521px;
$burials-5-offset-y: -238px;
$burials-5-width: 51px;
$burials-5-height: 37px;
$burials-5-total-width: 666px;
$burials-5-total-height: 656px;
$burials-5-image: '/assets/template/css/sprites/sprite.png';
$burials-5: (521px, 238px, -521px, -238px, 51px, 37px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'burials-5', );
$burials-6-name: 'burials-6';
$burials-6-x: 376px;
$burials-6-y: 304px;
$burials-6-offset-x: -376px;
$burials-6-offset-y: -304px;
$burials-6-width: 51px;
$burials-6-height: 51px;
$burials-6-total-width: 666px;
$burials-6-total-height: 656px;
$burials-6-image: '/assets/template/css/sprites/sprite.png';
$burials-6: (376px, 304px, -376px, -304px, 51px, 51px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'burials-6', );
$cemetary-name: 'cemetary';
$cemetary-x: 239px;
$cemetary-y: 304px;
$cemetary-offset-x: -239px;
$cemetary-offset-y: -304px;
$cemetary-width: 66px;
$cemetary-height: 60px;
$cemetary-total-width: 666px;
$cemetary-total-height: 656px;
$cemetary-image: '/assets/template/css/sprites/sprite.png';
$cemetary: (239px, 304px, -239px, -304px, 66px, 60px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'cemetary', );
$columbaria-name: 'columbaria';
$columbaria-x: 121px;
$columbaria-y: 419px;
$columbaria-offset-x: -121px;
$columbaria-offset-y: -419px;
$columbaria-width: 57px;
$columbaria-height: 57px;
$columbaria-total-width: 666px;
$columbaria-total-height: 656px;
$columbaria-image: '/assets/template/css/sprites/sprite.png';
$columbaria: (121px, 419px, -121px, -419px, 57px, 57px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'columbaria', );
$cremation-1-name: 'cremation-1';
$cremation-1-x: 579px;
$cremation-1-y: 195px;
$cremation-1-offset-x: -579px;
$cremation-1-offset-y: -195px;
$cremation-1-width: 47px;
$cremation-1-height: 59px;
$cremation-1-total-width: 666px;
$cremation-1-total-height: 656px;
$cremation-1-image: '/assets/template/css/sprites/sprite.png';
$cremation-1: (579px, 195px, -579px, -195px, 47px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'cremation-1', );
$cremation-2-name: 'cremation-2';
$cremation-2-x: 579px;
$cremation-2-y: 136px;
$cremation-2-offset-x: -579px;
$cremation-2-offset-y: -136px;
$cremation-2-width: 47px;
$cremation-2-height: 59px;
$cremation-2-total-width: 666px;
$cremation-2-total-height: 656px;
$cremation-2-image: '/assets/template/css/sprites/sprite.png';
$cremation-2: (579px, 136px, -579px, -136px, 47px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'cremation-2', );
$cremation-3-name: 'cremation-3';
$cremation-3-x: 579px;
$cremation-3-y: 308px;
$cremation-3-offset-x: -579px;
$cremation-3-offset-y: -308px;
$cremation-3-width: 41px;
$cremation-3-height: 59px;
$cremation-3-total-width: 666px;
$cremation-3-total-height: 656px;
$cremation-3-image: '/assets/template/css/sprites/sprite.png';
$cremation-3: (579px, 308px, -579px, -308px, 41px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'cremation-3', );
$cremation-4-name: 'cremation-4';
$cremation-4-x: 53px;
$cremation-4-y: 485px;
$cremation-4-offset-x: -53px;
$cremation-4-offset-y: -485px;
$cremation-4-width: 59px;
$cremation-4-height: 59px;
$cremation-4-total-width: 666px;
$cremation-4-total-height: 656px;
$cremation-4-image: '/assets/template/css/sprites/sprite.png';
$cremation-4: (53px, 485px, -53px, -485px, 59px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'cremation-4', );
$email-white-name: 'email-white';
$email-white-x: 646px;
$email-white-y: 347px;
$email-white-offset-x: -646px;
$email-white-offset-y: -347px;
$email-white-width: 20px;
$email-white-height: 16px;
$email-white-total-width: 666px;
$email-white-total-height: 656px;
$email-white-image: '/assets/template/css/sprites/sprite.png';
$email-white: (646px, 347px, -646px, -347px, 20px, 16px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'email-white', );
$footer-menu-arrow-name: 'footer-menu-arrow';
$footer-menu-arrow-x: 646px;
$footer-menu-arrow-y: 138px;
$footer-menu-arrow-offset-x: -646px;
$footer-menu-arrow-offset-y: -138px;
$footer-menu-arrow-width: 16px;
$footer-menu-arrow-height: 29px;
$footer-menu-arrow-total-width: 666px;
$footer-menu-arrow-total-height: 656px;
$footer-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$footer-menu-arrow: (646px, 138px, -646px, -138px, 16px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'footer-menu-arrow', );
$funeral-1-name: 'funeral-1';
$funeral-1-x: 230px;
$funeral-1-y: 485px;
$funeral-1-offset-x: -230px;
$funeral-1-offset-y: -485px;
$funeral-1-width: 59px;
$funeral-1-height: 59px;
$funeral-1-total-width: 666px;
$funeral-1-total-height: 656px;
$funeral-1-image: '/assets/template/css/sprites/sprite.png';
$funeral-1: (230px, 485px, -230px, -485px, 59px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'funeral-1', );
$funeral-2-name: 'funeral-2';
$funeral-2-x: 112px;
$funeral-2-y: 485px;
$funeral-2-offset-x: -112px;
$funeral-2-offset-y: -485px;
$funeral-2-width: 59px;
$funeral-2-height: 59px;
$funeral-2-total-width: 666px;
$funeral-2-total-height: 656px;
$funeral-2-image: '/assets/template/css/sprites/sprite.png';
$funeral-2: (112px, 485px, -112px, -485px, 59px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'funeral-2', );
$funeral-3-name: 'funeral-3';
$funeral-3-x: 579px;
$funeral-3-y: 77px;
$funeral-3-offset-x: -579px;
$funeral-3-offset-y: -77px;
$funeral-3-width: 47px;
$funeral-3-height: 59px;
$funeral-3-total-width: 666px;
$funeral-3-total-height: 656px;
$funeral-3-image: '/assets/template/css/sprites/sprite.png';
$funeral-3: (579px, 77px, -579px, -77px, 47px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'funeral-3', );
$funeral-4-name: 'funeral-4';
$funeral-4-x: 171px;
$funeral-4-y: 485px;
$funeral-4-offset-x: -171px;
$funeral-4-offset-y: -485px;
$funeral-4-width: 59px;
$funeral-4-height: 59px;
$funeral-4-total-width: 666px;
$funeral-4-total-height: 656px;
$funeral-4-image: '/assets/template/css/sprites/sprite.png';
$funeral-4: (171px, 485px, -171px, -485px, 59px, 59px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'funeral-4', );
$icon-accessories-name: 'icon-accessories';
$icon-accessories-x: 500px;
$icon-accessories-y: 419px;
$icon-accessories-offset-x: -500px;
$icon-accessories-offset-y: -419px;
$icon-accessories-width: 30px;
$icon-accessories-height: 24px;
$icon-accessories-total-width: 666px;
$icon-accessories-total-height: 656px;
$icon-accessories-image: '/assets/template/css/sprites/sprite.png';
$icon-accessories: (500px, 419px, -500px, -419px, 30px, 24px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-accessories', );
$icon-building-name: 'icon-building';
$icon-building-x: 472px;
$icon-building-y: 419px;
$icon-building-offset-x: -472px;
$icon-building-offset-y: -419px;
$icon-building-width: 28px;
$icon-building-height: 26px;
$icon-building-total-width: 666px;
$icon-building-total-height: 656px;
$icon-building-image: '/assets/template/css/sprites/sprite.png';
$icon-building: (472px, 419px, -472px, -419px, 28px, 26px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-building', );
$icon-coffin-name: 'icon-coffin';
$icon-coffin-x: 98px;
$icon-coffin-y: 558px;
$icon-coffin-offset-x: -98px;
$icon-coffin-offset-y: -558px;
$icon-coffin-width: 29px;
$icon-coffin-height: 29px;
$icon-coffin-total-width: 666px;
$icon-coffin-total-height: 656px;
$icon-coffin-image: '/assets/template/css/sprites/sprite.png';
$icon-coffin: (98px, 558px, -98px, -558px, 29px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-coffin', );
$icon-confession-name: 'icon-confession';
$icon-confession-x: 218px;
$icon-confession-y: 380px;
$icon-confession-offset-x: -218px;
$icon-confession-offset-y: -380px;
$icon-confession-width: 30px;
$icon-confession-height: 21px;
$icon-confession-total-width: 666px;
$icon-confession-total-height: 656px;
$icon-confession-image: '/assets/template/css/sprites/sprite.png';
$icon-confession: (218px, 380px, -218px, -380px, 30px, 21px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-confession', );
$icon-cross-name: 'icon-cross';
$icon-cross-x: 646px;
$icon-cross-y: 74px;
$icon-cross-offset-x: -646px;
$icon-cross-offset-y: -74px;
$icon-cross-width: 20px;
$icon-cross-height: 34px;
$icon-cross-total-width: 666px;
$icon-cross-total-height: 656px;
$icon-cross-image: '/assets/template/css/sprites/sprite.png';
$icon-cross: (646px, 74px, -646px, -74px, 20px, 34px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-cross', );
$icon-dops-name: 'icon-dops';
$icon-dops-x: 470px;
$icon-dops-y: 485px;
$icon-dops-offset-x: -470px;
$icon-dops-offset-y: -485px;
$icon-dops-width: 30px;
$icon-dops-height: 30px;
$icon-dops-total-width: 666px;
$icon-dops-total-height: 656px;
$icon-dops-image: '/assets/template/css/sprites/sprite.png';
$icon-dops: (470px, 485px, -470px, -485px, 30px, 30px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-dops', );
$icon-employee-big-name: 'icon-employee-big';
$icon-employee-big-x: 88px;
$icon-employee-big-y: 304px;
$icon-employee-big-offset-x: -88px;
$icon-employee-big-offset-y: -304px;
$icon-employee-big-width: 83px;
$icon-employee-big-height: 106px;
$icon-employee-big-total-width: 666px;
$icon-employee-big-total-height: 656px;
$icon-employee-big-image: '/assets/template/css/sprites/sprite.png';
$icon-employee-big: (88px, 304px, -88px, -304px, 83px, 106px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-employee-big', );
$icon-employee-name: 'icon-employee';
$icon-employee-x: 296px;
$icon-employee-y: 419px;
$icon-employee-offset-x: -296px;
$icon-employee-offset-y: -419px;
$icon-employee-width: 39px;
$icon-employee-height: 41px;
$icon-employee-total-width: 666px;
$icon-employee-total-height: 656px;
$icon-employee-image: '/assets/template/css/sprites/sprite.png';
$icon-employee: (296px, 419px, -296px, -419px, 39px, 41px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-employee', );
$icon-experience-big-name: 'icon-experience-big';
$icon-experience-big-x: 317px;
$icon-experience-big-y: 145px;
$icon-experience-big-offset-x: -317px;
$icon-experience-big-offset-y: -145px;
$icon-experience-big-width: 130px;
$icon-experience-big-height: 93px;
$icon-experience-big-total-width: 666px;
$icon-experience-big-total-height: 656px;
$icon-experience-big-image: '/assets/template/css/sprites/sprite.png';
$icon-experience-big: (317px, 145px, -317px, -145px, 130px, 93px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-experience-big', );
$icon-experience-name: 'icon-experience';
$icon-experience-x: 447px;
$icon-experience-y: 145px;
$icon-experience-offset-x: -447px;
$icon-experience-offset-y: -145px;
$icon-experience-width: 109px;
$icon-experience-height: 78px;
$icon-experience-total-width: 666px;
$icon-experience-total-height: 656px;
$icon-experience-image: '/assets/template/css/sprites/sprite.png';
$icon-experience: (447px, 145px, -447px, -145px, 109px, 78px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-experience', );
$icon-infrastucture-name: 'icon-infrastucture';
$icon-infrastucture-x: 156px;
$icon-infrastucture-y: 558px;
$icon-infrastucture-offset-x: -156px;
$icon-infrastucture-offset-y: -558px;
$icon-infrastucture-width: 28px;
$icon-infrastucture-height: 29px;
$icon-infrastucture-total-width: 666px;
$icon-infrastucture-total-height: 656px;
$icon-infrastucture-image: '/assets/template/css/sprites/sprite.png';
$icon-infrastucture: (156px, 558px, -156px, -558px, 28px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-infrastucture', );
$icon-mo-gerb-small-name: 'icon-mo-gerb-small';
$icon-mo-gerb-small-x: 217px;
$icon-mo-gerb-small-y: 419px;
$icon-mo-gerb-small-offset-x: -217px;
$icon-mo-gerb-small-offset-y: -419px;
$icon-mo-gerb-small-width: 39px;
$icon-mo-gerb-small-height: 51px;
$icon-mo-gerb-small-total-width: 666px;
$icon-mo-gerb-small-total-height: 656px;
$icon-mo-gerb-small-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb-small: (217px, 419px, -217px, -419px, 39px, 51px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb-small', );
$icon-mo-gerb-name: 'icon-mo-gerb';
$icon-mo-gerb-x: 0px;
$icon-mo-gerb-y: 304px;
$icon-mo-gerb-offset-x: 0px;
$icon-mo-gerb-offset-y: -304px;
$icon-mo-gerb-width: 88px;
$icon-mo-gerb-height: 115px;
$icon-mo-gerb-total-width: 666px;
$icon-mo-gerb-total-height: 656px;
$icon-mo-gerb-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb: (0px, 304px, 0px, -304px, 88px, 115px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb', );
$icon-monument-name: 'icon-monument';
$icon-monument-x: 532px;
$icon-monument-y: 485px;
$icon-monument-offset-x: -532px;
$icon-monument-offset-y: -485px;
$icon-monument-width: 24px;
$icon-monument-height: 27px;
$icon-monument-total-width: 666px;
$icon-monument-total-height: 656px;
$icon-monument-image: '/assets/template/css/sprites/sprite.png';
$icon-monument: (532px, 485px, -532px, -485px, 24px, 27px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-monument', );
$icon-phone-slider-name: 'icon-phone-slider';
$icon-phone-slider-x: 646px;
$icon-phone-slider-y: 293px;
$icon-phone-slider-offset-x: -646px;
$icon-phone-slider-offset-y: -293px;
$icon-phone-slider-width: 18px;
$icon-phone-slider-height: 18px;
$icon-phone-slider-total-width: 666px;
$icon-phone-slider-total-height: 656px;
$icon-phone-slider-image: '/assets/template/css/sprites/sprite.png';
$icon-phone-slider: (646px, 293px, -646px, -293px, 18px, 18px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-phone-slider', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 649px;
$icon-phone-y: 405px;
$icon-phone-offset-x: -649px;
$icon-phone-offset-y: -405px;
$icon-phone-width: 10px;
$icon-phone-height: 10px;
$icon-phone-total-width: 666px;
$icon-phone-total-height: 656px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (649px, 405px, -649px, -405px, 10px, 10px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-plane-name: 'icon-plane';
$icon-plane-x: 383px;
$icon-plane-y: 285px;
$icon-plane-offset-x: -383px;
$icon-plane-offset-y: -285px;
$icon-plane-width: 29px;
$icon-plane-height: 16px;
$icon-plane-total-width: 666px;
$icon-plane-total-height: 656px;
$icon-plane-image: '/assets/template/css/sprites/sprite.png';
$icon-plane: (383px, 285px, -383px, -285px, 29px, 16px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-plane', );
$icon-play-small-name: 'icon-play-small';
$icon-play-small-x: 411px;
$icon-play-small-y: 485px;
$icon-play-small-offset-x: -411px;
$icon-play-small-offset-y: -485px;
$icon-play-small-width: 32px;
$icon-play-small-height: 36px;
$icon-play-small-total-width: 666px;
$icon-play-small-total-height: 656px;
$icon-play-small-image: '/assets/template/css/sprites/sprite.png';
$icon-play-small: (411px, 485px, -411px, -485px, 32px, 36px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-play-small', );
$icon-play-name: 'icon-play';
$icon-play-x: 0px;
$icon-play-y: 419px;
$icon-play-offset-x: 0px;
$icon-play-offset-y: -419px;
$icon-play-width: 59px;
$icon-play-height: 66px;
$icon-play-total-width: 666px;
$icon-play-total-height: 656px;
$icon-play-image: '/assets/template/css/sprites/sprite.png';
$icon-play: (0px, 419px, 0px, -419px, 59px, 66px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 646px;
$icon-search-y: 329px;
$icon-search-offset-x: -646px;
$icon-search-offset-y: -329px;
$icon-search-width: 18px;
$icon-search-height: 18px;
$icon-search-total-width: 666px;
$icon-search-total-height: 656px;
$icon-search-image: '/assets/template/css/sprites/sprite.png';
$icon-search: (646px, 329px, -646px, -329px, 18px, 18px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-search', );
$icon-textil-name: 'icon-textil';
$icon-textil-x: 537px;
$icon-textil-y: 304px;
$icon-textil-offset-x: -537px;
$icon-textil-offset-y: -304px;
$icon-textil-width: 33px;
$icon-textil-height: 23px;
$icon-textil-total-width: 666px;
$icon-textil-total-height: 656px;
$icon-textil-image: '/assets/template/css/sprites/sprite.png';
$icon-textil: (537px, 304px, -537px, -304px, 33px, 23px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-textil', );
$icon-transport-name: 'icon-transport';
$icon-transport-x: 447px;
$icon-transport-y: 223px;
$icon-transport-offset-x: -447px;
$icon-transport-offset-y: -223px;
$icon-transport-width: 35px;
$icon-transport-height: 15px;
$icon-transport-total-width: 666px;
$icon-transport-total-height: 656px;
$icon-transport-image: '/assets/template/css/sprites/sprite.png';
$icon-transport: (447px, 223px, -447px, -223px, 35px, 15px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-transport', );
$icon-wreath-name: 'icon-wreath';
$icon-wreath-x: 127px;
$icon-wreath-y: 558px;
$icon-wreath-offset-x: -127px;
$icon-wreath-offset-y: -558px;
$icon-wreath-width: 29px;
$icon-wreath-height: 29px;
$icon-wreath-total-width: 666px;
$icon-wreath-total-height: 656px;
$icon-wreath-image: '/assets/template/css/sprites/sprite.png';
$icon-wreath: (127px, 558px, -127px, -558px, 29px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'icon-wreath', );
$mail-contact-name: 'mail-contact';
$mail-contact-x: 427px;
$mail-contact-y: 336px;
$mail-contact-offset-x: -427px;
$mail-contact-offset-y: -336px;
$mail-contact-width: 25px;
$mail-contact-height: 18px;
$mail-contact-total-width: 666px;
$mail-contact-total-height: 656px;
$mail-contact-image: '/assets/template/css/sprites/sprite.png';
$mail-contact: (427px, 336px, -427px, -336px, 25px, 18px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'mail-contact', );
$map-marker-white-name: 'map-marker-white';
$map-marker-white-x: 646px;
$map-marker-white-y: 270px;
$map-marker-white-offset-x: -646px;
$map-marker-white-offset-y: -270px;
$map-marker-white-width: 18px;
$map-marker-white-height: 23px;
$map-marker-white-total-width: 666px;
$map-marker-white-total-height: 656px;
$map-marker-white-image: '/assets/template/css/sprites/sprite.png';
$map-marker-white: (646px, 270px, -646px, -270px, 18px, 23px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'map-marker-white', );
$menu-arrow-right-name: 'menu-arrow-right';
$menu-arrow-right-x: 658px;
$menu-arrow-right-y: 249px;
$menu-arrow-right-offset-x: -658px;
$menu-arrow-right-offset-y: -249px;
$menu-arrow-right-width: 8px;
$menu-arrow-right-height: 10px;
$menu-arrow-right-total-width: 666px;
$menu-arrow-right-total-height: 656px;
$menu-arrow-right-image: '/assets/template/css/sprites/sprite.png';
$menu-arrow-right: (658px, 249px, -658px, -249px, 8px, 10px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'menu-arrow-right', );
$menu-border-name: 'menu-border';
$menu-border-x: 646px;
$menu-border-y: 405px;
$menu-border-offset-x: -646px;
$menu-border-offset-y: -405px;
$menu-border-width: 3px;
$menu-border-height: 34px;
$menu-border-total-width: 666px;
$menu-border-total-height: 656px;
$menu-border-image: '/assets/template/css/sprites/sprite.png';
$menu-border: (646px, 405px, -646px, -405px, 3px, 34px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'menu-border', );
$morgue-name: 'morgue';
$morgue-x: 289px;
$morgue-y: 485px;
$morgue-offset-x: -289px;
$morgue-offset-y: -485px;
$morgue-width: 56px;
$morgue-height: 58px;
$morgue-total-width: 666px;
$morgue-total-height: 656px;
$morgue-image: '/assets/template/css/sprites/sprite.png';
$morgue: (289px, 485px, -289px, -485px, 56px, 58px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'morgue', );
$phone-contact-name: 'phone-contact';
$phone-contact-x: 530px;
$phone-contact-y: 419px;
$phone-contact-offset-x: -530px;
$phone-contact-offset-y: -419px;
$phone-contact-width: 23px;
$phone-contact-height: 23px;
$phone-contact-total-width: 666px;
$phone-contact-total-height: 656px;
$phone-contact-image: '/assets/template/css/sprites/sprite.png';
$phone-contact: (530px, 419px, -530px, -419px, 23px, 23px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'phone-contact', );
$phone-white-name: 'phone-white';
$phone-white-x: 646px;
$phone-white-y: 311px;
$phone-white-offset-x: -646px;
$phone-white-offset-y: -311px;
$phone-white-width: 18px;
$phone-white-height: 18px;
$phone-white-total-width: 666px;
$phone-white-total-height: 656px;
$phone-white-image: '/assets/template/css/sprites/sprite.png';
$phone-white: (646px, 311px, -646px, -311px, 18px, 18px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'phone-white', );
$play-button-name: 'play-button';
$play-button-x: 178px;
$play-button-y: 419px;
$play-button-offset-x: -178px;
$play-button-offset-y: -419px;
$play-button-width: 39px;
$play-button-height: 51px;
$play-button-total-width: 666px;
$play-button-total-height: 656px;
$play-button-image: '/assets/template/css/sprites/sprite.png';
$play-button: (178px, 419px, -178px, -419px, 39px, 51px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'play-button', );
$price-burial-small-name: 'price-burial-small';
$price-burial-small-x: 184px;
$price-burial-small-y: 558px;
$price-burial-small-offset-x: -184px;
$price-burial-small-offset-y: -558px;
$price-burial-small-width: 27px;
$price-burial-small-height: 29px;
$price-burial-small-total-width: 666px;
$price-burial-small-total-height: 656px;
$price-burial-small-image: '/assets/template/css/sprites/sprite.png';
$price-burial-small: (184px, 558px, -184px, -558px, 27px, 29px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'price-burial-small', );
$price-burial-name: 'price-burial';
$price-burial-x: 579px;
$price-burial-y: 254px;
$price-burial-offset-x: -579px;
$price-burial-offset-y: -254px;
$price-burial-width: 49px;
$price-burial-height: 54px;
$price-burial-total-width: 666px;
$price-burial-total-height: 656px;
$price-burial-image: '/assets/template/css/sprites/sprite.png';
$price-burial: (579px, 254px, -579px, -254px, 49px, 54px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'price-burial', );
$price-cremation-small-name: 'price-cremation-small';
$price-cremation-small-x: 646px;
$price-cremation-small-y: 108px;
$price-cremation-small-offset-x: -646px;
$price-cremation-small-offset-y: -108px;
$price-cremation-small-width: 19px;
$price-cremation-small-height: 30px;
$price-cremation-small-total-width: 666px;
$price-cremation-small-total-height: 656px;
$price-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$price-cremation-small: (646px, 108px, -646px, -108px, 19px, 30px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'price-cremation-small', );
$price-cremation-name: 'price-cremation';
$price-cremation-x: 345px;
$price-cremation-y: 485px;
$price-cremation-offset-x: -345px;
$price-cremation-offset-y: -485px;
$price-cremation-width: 35px;
$price-cremation-height: 54px;
$price-cremation-total-width: 666px;
$price-cremation-total-height: 656px;
$price-cremation-image: '/assets/template/css/sprites/sprite.png';
$price-cremation: (345px, 485px, -345px, -485px, 35px, 54px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'price-cremation', );
$review-item-name: 'review-item';
$review-item-x: 0px;
$review-item-y: 0px;
$review-item-offset-x: 0px;
$review-item-offset-y: 0px;
$review-item-width: 579px;
$review-item-height: 145px;
$review-item-total-width: 666px;
$review-item-total-height: 656px;
$review-item-image: '/assets/template/css/sprites/sprite.png';
$review-item: (0px, 0px, 0px, 0px, 579px, 145px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'review-item', );
$search-white-name: 'search-white';
$search-white-x: 646px;
$search-white-y: 363px;
$search-white-offset-x: -646px;
$search-white-offset-y: -363px;
$search-white-width: 15px;
$search-white-height: 15px;
$search-white-total-width: 666px;
$search-white-total-height: 656px;
$search-white-image: '/assets/template/css/sprites/sprite.png';
$search-white: (646px, 363px, -646px, -363px, 15px, 15px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'search-white', );
$search-name: 'search';
$search-x: 646px;
$search-y: 378px;
$search-offset-x: -646px;
$search-offset-y: -378px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 666px;
$search-total-height: 656px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (646px, 378px, -646px, -378px, 15px, 15px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'search', );
$section-menu-cemetery-small-name: 'section-menu-cemetery-small';
$section-menu-cemetery-small-x: 406px;
$section-menu-cemetery-small-y: 419px;
$section-menu-cemetery-small-offset-x: -406px;
$section-menu-cemetery-small-offset-y: -419px;
$section-menu-cemetery-small-width: 31px;
$section-menu-cemetery-small-height: 31px;
$section-menu-cemetery-small-total-width: 666px;
$section-menu-cemetery-small-total-height: 656px;
$section-menu-cemetery-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery-small: (406px, 419px, -406px, -419px, 31px, 31px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery-small', );
$section-menu-cemetery-name: 'section-menu-cemetery';
$section-menu-cemetery-x: 579px;
$section-menu-cemetery-y: 416px;
$section-menu-cemetery-offset-x: -579px;
$section-menu-cemetery-offset-y: -416px;
$section-menu-cemetery-width: 46px;
$section-menu-cemetery-height: 46px;
$section-menu-cemetery-total-width: 666px;
$section-menu-cemetery-total-height: 656px;
$section-menu-cemetery-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery: (579px, 416px, -579px, -416px, 46px, 46px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery', );
$section-menu-columbarie-small-name: 'section-menu-columbarie-small';
$section-menu-columbarie-small-x: 71px;
$section-menu-columbarie-small-y: 558px;
$section-menu-columbarie-small-offset-x: -71px;
$section-menu-columbarie-small-offset-y: -558px;
$section-menu-columbarie-small-width: 27px;
$section-menu-columbarie-small-height: 32px;
$section-menu-columbarie-small-total-width: 666px;
$section-menu-columbarie-small-total-height: 656px;
$section-menu-columbarie-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie-small: (71px, 558px, -71px, -558px, 27px, 32px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie-small', );
$section-menu-columbarie-name: 'section-menu-columbarie';
$section-menu-columbarie-x: 256px;
$section-menu-columbarie-y: 419px;
$section-menu-columbarie-offset-x: -256px;
$section-menu-columbarie-offset-y: -419px;
$section-menu-columbarie-width: 40px;
$section-menu-columbarie-height: 47px;
$section-menu-columbarie-total-width: 666px;
$section-menu-columbarie-total-height: 656px;
$section-menu-columbarie-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie: (256px, 419px, -256px, -419px, 40px, 47px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie', );
$section-menu-cremation-small-name: 'section-menu-cremation-small';
$section-menu-cremation-small-x: 0px;
$section-menu-cremation-small-y: 624px;
$section-menu-cremation-small-offset-x: 0px;
$section-menu-cremation-small-offset-y: -624px;
$section-menu-cremation-small-width: 21px;
$section-menu-cremation-small-height: 32px;
$section-menu-cremation-small-total-width: 666px;
$section-menu-cremation-small-total-height: 656px;
$section-menu-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation-small: (0px, 624px, 0px, -624px, 21px, 32px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation-small', );
$section-menu-cremation-name: 'section-menu-cremation';
$section-menu-cremation-x: 380px;
$section-menu-cremation-y: 485px;
$section-menu-cremation-offset-x: -380px;
$section-menu-cremation-offset-y: -485px;
$section-menu-cremation-width: 31px;
$section-menu-cremation-height: 47px;
$section-menu-cremation-total-width: 666px;
$section-menu-cremation-total-height: 656px;
$section-menu-cremation-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation: (380px, 485px, -380px, -485px, 31px, 47px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation', );
$section-menu-morgue-small-name: 'section-menu-morgue-small';
$section-menu-morgue-small-x: 500px;
$section-menu-morgue-small-y: 485px;
$section-menu-morgue-small-offset-x: -500px;
$section-menu-morgue-small-offset-y: -485px;
$section-menu-morgue-small-width: 32px;
$section-menu-morgue-small-height: 28px;
$section-menu-morgue-small-total-width: 666px;
$section-menu-morgue-small-total-height: 656px;
$section-menu-morgue-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue-small: (500px, 485px, -500px, -485px, 32px, 28px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue-small', );
$section-menu-morgue-name: 'section-menu-morgue';
$section-menu-morgue-x: 579px;
$section-menu-morgue-y: 513px;
$section-menu-morgue-offset-x: -579px;
$section-menu-morgue-offset-y: -513px;
$section-menu-morgue-width: 47px;
$section-menu-morgue-height: 41px;
$section-menu-morgue-total-width: 666px;
$section-menu-morgue-total-height: 656px;
$section-menu-morgue-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue: (579px, 513px, -579px, -513px, 47px, 41px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue', );
$service-200-small-name: 'service-200-small';
$service-200-small-x: 491px;
$service-200-small-y: 304px;
$service-200-small-offset-x: -491px;
$service-200-small-offset-y: -304px;
$service-200-small-width: 46px;
$service-200-small-height: 25px;
$service-200-small-total-width: 666px;
$service-200-small-total-height: 656px;
$service-200-small-image: '/assets/template/css/sprites/sprite.png';
$service-200-small: (491px, 304px, -491px, -304px, 46px, 25px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-200-small', );
$service-200-name: 'service-200';
$service-200-x: 383px;
$service-200-y: 238px;
$service-200-offset-x: -383px;
$service-200-offset-y: -238px;
$service-200-width: 87px;
$service-200-height: 47px;
$service-200-total-width: 666px;
$service-200-total-height: 656px;
$service-200-image: '/assets/template/css/sprites/sprite.png';
$service-200: (383px, 238px, -383px, -238px, 87px, 47px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-200', );
$service-burial-small-name: 'service-burial-small';
$service-burial-small-x: 335px;
$service-burial-small-y: 419px;
$service-burial-small-offset-x: -335px;
$service-burial-small-offset-y: -419px;
$service-burial-small-width: 36px;
$service-burial-small-height: 40px;
$service-burial-small-total-width: 666px;
$service-burial-small-total-height: 656px;
$service-burial-small-image: '/assets/template/css/sprites/sprite.png';
$service-burial-small: (335px, 419px, -335px, -419px, 36px, 40px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-burial-small', );
$service-burial-name: 'service-burial';
$service-burial-x: 171px;
$service-burial-y: 304px;
$service-burial-offset-x: -171px;
$service-burial-offset-y: -304px;
$service-burial-width: 68px;
$service-burial-height: 76px;
$service-burial-total-width: 666px;
$service-burial-total-height: 656px;
$service-burial-image: '/assets/template/css/sprites/sprite.png';
$service-burial: (171px, 304px, -171px, -304px, 68px, 76px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-burial', );
$service-calc-small-name: 'service-calc-small';
$service-calc-small-x: 443px;
$service-calc-small-y: 485px;
$service-calc-small-offset-x: -443px;
$service-calc-small-offset-y: -485px;
$service-calc-small-width: 27px;
$service-calc-small-height: 35px;
$service-calc-small-total-width: 666px;
$service-calc-small-total-height: 656px;
$service-calc-small-image: '/assets/template/css/sprites/sprite.png';
$service-calc-small: (443px, 485px, -443px, -485px, 27px, 35px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-calc-small', );
$service-calc-name: 'service-calc';
$service-calc-x: 0px;
$service-calc-y: 485px;
$service-calc-offset-x: 0px;
$service-calc-offset-y: -485px;
$service-calc-width: 53px;
$service-calc-height: 73px;
$service-calc-total-width: 666px;
$service-calc-total-height: 656px;
$service-calc-image: '/assets/template/css/sprites/sprite.png';
$service-calc: (0px, 485px, 0px, -485px, 53px, 73px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-calc', );
$service-cremation-small-name: 'service-cremation-small';
$service-cremation-small-x: 45px;
$service-cremation-small-y: 558px;
$service-cremation-small-offset-x: -45px;
$service-cremation-small-offset-y: -558px;
$service-cremation-small-width: 26px;
$service-cremation-small-height: 41px;
$service-cremation-small-total-width: 666px;
$service-cremation-small-total-height: 656px;
$service-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$service-cremation-small: (45px, 558px, -45px, -558px, 26px, 41px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-cremation-small', );
$service-cremation-name: 'service-cremation';
$service-cremation-x: 579px;
$service-cremation-y: 0px;
$service-cremation-offset-x: -579px;
$service-cremation-offset-y: 0px;
$service-cremation-width: 50px;
$service-cremation-height: 77px;
$service-cremation-total-width: 666px;
$service-cremation-total-height: 656px;
$service-cremation-image: '/assets/template/css/sprites/sprite.png';
$service-cremation: (579px, 0px, -579px, 0px, 50px, 77px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-cremation', );
$service-place-small-name: 'service-place-small';
$service-place-small-x: 371px;
$service-place-small-y: 419px;
$service-place-small-offset-x: -371px;
$service-place-small-offset-y: -419px;
$service-place-small-width: 35px;
$service-place-small-height: 35px;
$service-place-small-total-width: 666px;
$service-place-small-total-height: 656px;
$service-place-small-image: '/assets/template/css/sprites/sprite.png';
$service-place-small: (371px, 419px, -371px, -419px, 35px, 35px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-place-small', );
$service-place-name: 'service-place';
$service-place-x: 317px;
$service-place-y: 238px;
$service-place-offset-x: -317px;
$service-place-offset-y: -238px;
$service-place-width: 66px;
$service-place-height: 66px;
$service-place-total-width: 666px;
$service-place-total-height: 656px;
$service-place-image: '/assets/template/css/sprites/sprite.png';
$service-place: (317px, 238px, -317px, -238px, 66px, 66px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-place', );
$service-posobie-small-name: 'service-posobie-small';
$service-posobie-small-x: 437px;
$service-posobie-small-y: 419px;
$service-posobie-small-offset-x: -437px;
$service-posobie-small-offset-y: -419px;
$service-posobie-small-width: 35px;
$service-posobie-small-height: 26px;
$service-posobie-small-total-width: 666px;
$service-posobie-small-total-height: 656px;
$service-posobie-small-image: '/assets/template/css/sprites/sprite.png';
$service-posobie-small: (437px, 419px, -437px, -419px, 35px, 26px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-posobie-small', );
$service-posobie-name: 'service-posobie';
$service-posobie-x: 305px;
$service-posobie-y: 304px;
$service-posobie-offset-x: -305px;
$service-posobie-offset-y: -304px;
$service-posobie-width: 71px;
$service-posobie-height: 55px;
$service-posobie-total-width: 666px;
$service-posobie-total-height: 656px;
$service-posobie-image: '/assets/template/css/sprites/sprite.png';
$service-posobie: (305px, 304px, -305px, -304px, 71px, 55px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'service-posobie', );
$site-map-512-name: 'site-map-512';
$site-map-512-x: 646px;
$site-map-512-y: 393px;
$site-map-512-offset-x: -646px;
$site-map-512-offset-y: -393px;
$site-map-512-width: 16px;
$site-map-512-height: 12px;
$site-map-512-total-width: 666px;
$site-map-512-total-height: 656px;
$site-map-512-image: '/assets/template/css/sprites/sprite.png';
$site-map-512: (646px, 393px, -646px, -393px, 16px, 12px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'site-map-512', );
$slide-next-small-name: 'slide-next-small';
$slide-next-small-x: 646px;
$slide-next-small-y: 196px;
$slide-next-small-offset-x: -646px;
$slide-next-small-offset-y: -196px;
$slide-next-small-width: 12px;
$slide-next-small-height: 37px;
$slide-next-small-total-width: 666px;
$slide-next-small-total-height: 656px;
$slide-next-small-image: '/assets/template/css/sprites/sprite.png';
$slide-next-small: (646px, 196px, -646px, -196px, 12px, 37px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'slide-next-small', );
$slide-next-name: 'slide-next';
$slide-next-x: 0px;
$slide-next-y: 558px;
$slide-next-offset-x: 0px;
$slide-next-offset-y: -558px;
$slide-next-width: 23px;
$slide-next-height: 66px;
$slide-next-total-width: 666px;
$slide-next-total-height: 656px;
$slide-next-image: '/assets/template/css/sprites/sprite.png';
$slide-next: (0px, 558px, 0px, -558px, 23px, 66px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'slide-next', );
$slide-prev-small-name: 'slide-prev-small';
$slide-prev-small-x: 646px;
$slide-prev-small-y: 233px;
$slide-prev-small-offset-x: -646px;
$slide-prev-small-offset-y: -233px;
$slide-prev-small-width: 12px;
$slide-prev-small-height: 37px;
$slide-prev-small-total-width: 666px;
$slide-prev-small-total-height: 656px;
$slide-prev-small-image: '/assets/template/css/sprites/sprite.png';
$slide-prev-small: (646px, 233px, -646px, -233px, 12px, 37px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'slide-prev-small', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 23px;
$slide-prev-y: 558px;
$slide-prev-offset-x: -23px;
$slide-prev-offset-y: -558px;
$slide-prev-width: 22px;
$slide-prev-height: 66px;
$slide-prev-total-width: 666px;
$slide-prev-total-height: 656px;
$slide-prev-image: '/assets/template/css/sprites/sprite.png';
$slide-prev: (23px, 558px, -23px, -558px, 22px, 66px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'slide-prev', );
$support-1-name: 'support-1';
$support-1-x: 59px;
$support-1-y: 419px;
$support-1-offset-x: -59px;
$support-1-offset-y: -419px;
$support-1-width: 62px;
$support-1-height: 58px;
$support-1-total-width: 666px;
$support-1-total-height: 656px;
$support-1-image: '/assets/template/css/sprites/sprite.png';
$support-1: (59px, 419px, -59px, -419px, 62px, 58px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'support-1', );
$vintage-big-name: 'vintage-big';
$vintage-big-x: 0px;
$vintage-big-y: 145px;
$vintage-big-offset-x: 0px;
$vintage-big-offset-y: -145px;
$vintage-big-width: 317px;
$vintage-big-height: 159px;
$vintage-big-total-width: 666px;
$vintage-big-total-height: 656px;
$vintage-big-image: '/assets/template/css/sprites/sprite.png';
$vintage-big: (0px, 145px, 0px, -145px, 317px, 159px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'vintage-big', );
$vintage-small-name: 'vintage-small';
$vintage-small-x: 171px;
$vintage-small-y: 380px;
$vintage-small-offset-x: -171px;
$vintage-small-offset-y: -380px;
$vintage-small-width: 47px;
$vintage-small-height: 23px;
$vintage-small-total-width: 666px;
$vintage-small-total-height: 656px;
$vintage-small-image: '/assets/template/css/sprites/sprite.png';
$vintage-small: (171px, 380px, -171px, -380px, 47px, 23px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'vintage-small', );
$vintage-name: 'vintage';
$vintage-x: 427px;
$vintage-y: 304px;
$vintage-offset-x: -427px;
$vintage-offset-y: -304px;
$vintage-width: 64px;
$vintage-height: 32px;
$vintage-total-width: 666px;
$vintage-total-height: 656px;
$vintage-image: '/assets/template/css/sprites/sprite.png';
$vintage: (427px, 304px, -427px, -304px, 64px, 32px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'vintage', );
$white-arrow-small-name: 'white-arrow-small';
$white-arrow-small-x: 629px;
$white-arrow-small-y: 0px;
$white-arrow-small-offset-x: -629px;
$white-arrow-small-offset-y: 0px;
$white-arrow-small-width: 17px;
$white-arrow-small-height: 48px;
$white-arrow-small-total-width: 666px;
$white-arrow-small-total-height: 656px;
$white-arrow-small-image: '/assets/template/css/sprites/sprite.png';
$white-arrow-small: (629px, 0px, -629px, 0px, 17px, 48px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'white-arrow-small', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 556px;
$white-arrow-y: 145px;
$white-arrow-offset-x: -556px;
$white-arrow-offset-y: -145px;
$white-arrow-width: 23px;
$white-arrow-height: 66px;
$white-arrow-total-width: 666px;
$white-arrow-total-height: 656px;
$white-arrow-image: '/assets/template/css/sprites/sprite.png';
$white-arrow: (556px, 145px, -556px, -145px, 23px, 66px, 666px, 656px, '/assets/template/css/sprites/sprite.png', 'white-arrow', );
$spritesheet-width: 666px;
$spritesheet-height: 656px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($address, $arrow-left-small, $arrow-left, $arrow-orange-down-320, $arrow-right-blue, $arrow-right-small-white, $arrow-right-small, $arrow-right, $burials-1, $burials-2, $burials-3, $burials-5, $burials-6, $cemetary, $columbaria, $cremation-1, $cremation-2, $cremation-3, $cremation-4, $email-white, $footer-menu-arrow, $funeral-1, $funeral-2, $funeral-3, $funeral-4, $icon-accessories, $icon-building, $icon-coffin, $icon-confession, $icon-cross, $icon-dops, $icon-employee-big, $icon-employee, $icon-experience-big, $icon-experience, $icon-infrastucture, $icon-mo-gerb-small, $icon-mo-gerb, $icon-monument, $icon-phone-slider, $icon-phone, $icon-plane, $icon-play-small, $icon-play, $icon-search, $icon-textil, $icon-transport, $icon-wreath, $mail-contact, $map-marker-white, $menu-arrow-right, $menu-border, $morgue, $phone-contact, $phone-white, $play-button, $price-burial-small, $price-burial, $price-cremation-small, $price-cremation, $review-item, $search-white, $search, $section-menu-cemetery-small, $section-menu-cemetery, $section-menu-columbarie-small, $section-menu-columbarie, $section-menu-cremation-small, $section-menu-cremation, $section-menu-morgue-small, $section-menu-morgue, $service-200-small, $service-200, $service-burial-small, $service-burial, $service-calc-small, $service-calc, $service-cremation-small, $service-cremation, $service-place-small, $service-place, $service-posobie-small, $service-posobie, $site-map-512, $slide-next-small, $slide-next, $slide-prev-small, $slide-prev, $support-1, $vintage-big, $vintage-small, $vintage, $white-arrow-small, $white-arrow, );
$spritesheet: (666px, 656px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
