// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$address-name: 'address';
$address-x: 632px;
$address-y: 407px;
$address-offset-x: -632px;
$address-offset-y: -407px;
$address-width: 21px;
$address-height: 24px;
$address-total-width: 655px;
$address-total-height: 625px;
$address-image: '/assets/template/css/sprites/sprite.png';
$address: (632px, 407px, -632px, -407px, 21px, 24px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'address', );
$arrow-left-small-name: 'arrow-left-small';
$arrow-left-small-x: 644px;
$arrow-left-small-y: 489px;
$arrow-left-small-offset-x: -644px;
$arrow-left-small-offset-y: -489px;
$arrow-left-small-width: 8px;
$arrow-left-small-height: 16px;
$arrow-left-small-total-width: 655px;
$arrow-left-small-total-height: 625px;
$arrow-left-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-left-small: (644px, 489px, -644px, -489px, 8px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-left-small', );
$arrow-left-name: 'arrow-left';
$arrow-left-x: 632px;
$arrow-left-y: 214px;
$arrow-left-offset-x: -632px;
$arrow-left-offset-y: -214px;
$arrow-left-width: 20px;
$arrow-left-height: 37px;
$arrow-left-total-width: 655px;
$arrow-left-total-height: 625px;
$arrow-left-image: '/assets/template/css/sprites/sprite.png';
$arrow-left: (632px, 214px, -632px, -214px, 20px, 37px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-left', );
$arrow-orange-down-320-name: 'arrow-orange-down-320';
$arrow-orange-down-320-x: 359px;
$arrow-orange-down-320-y: 377px;
$arrow-orange-down-320-offset-x: -359px;
$arrow-orange-down-320-offset-y: -377px;
$arrow-orange-down-320-width: 25px;
$arrow-orange-down-320-height: 17px;
$arrow-orange-down-320-total-width: 655px;
$arrow-orange-down-320-total-height: 625px;
$arrow-orange-down-320-image: '/assets/template/css/sprites/sprite.png';
$arrow-orange-down-320: (359px, 377px, -359px, -377px, 25px, 17px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-orange-down-320', );
$arrow-right-blue-name: 'arrow-right-blue';
$arrow-right-blue-x: 632px;
$arrow-right-blue-y: 460px;
$arrow-right-blue-offset-x: -632px;
$arrow-right-blue-offset-y: -460px;
$arrow-right-blue-width: 16px;
$arrow-right-blue-height: 29px;
$arrow-right-blue-total-width: 655px;
$arrow-right-blue-total-height: 625px;
$arrow-right-blue-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-blue: (632px, 460px, -632px, -460px, 16px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-right-blue', );
$arrow-right-small-white-name: 'arrow-right-small-white';
$arrow-right-small-white-x: 644px;
$arrow-right-small-white-y: 526px;
$arrow-right-small-white-offset-x: -644px;
$arrow-right-small-white-offset-y: -526px;
$arrow-right-small-white-width: 8px;
$arrow-right-small-white-height: 16px;
$arrow-right-small-white-total-width: 655px;
$arrow-right-small-white-total-height: 625px;
$arrow-right-small-white-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small-white: (644px, 526px, -644px, -526px, 8px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small-white', );
$arrow-right-small-name: 'arrow-right-small';
$arrow-right-small-x: 644px;
$arrow-right-small-y: 505px;
$arrow-right-small-offset-x: -644px;
$arrow-right-small-offset-y: -505px;
$arrow-right-small-width: 8px;
$arrow-right-small-height: 16px;
$arrow-right-small-total-width: 655px;
$arrow-right-small-total-height: 625px;
$arrow-right-small-image: '/assets/template/css/sprites/sprite.png';
$arrow-right-small: (644px, 505px, -644px, -505px, 8px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-right-small', );
$arrow-right-name: 'arrow-right';
$arrow-right-x: 632px;
$arrow-right-y: 251px;
$arrow-right-offset-x: -632px;
$arrow-right-offset-y: -251px;
$arrow-right-width: 20px;
$arrow-right-height: 37px;
$arrow-right-total-width: 655px;
$arrow-right-total-height: 625px;
$arrow-right-image: '/assets/template/css/sprites/sprite.png';
$arrow-right: (632px, 251px, -632px, -251px, 20px, 37px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'arrow-right', );
$burials-1-name: 'burials-1';
$burials-1-x: 470px;
$burials-1-y: 238px;
$burials-1-offset-x: -470px;
$burials-1-offset-y: -238px;
$burials-1-width: 51px;
$burials-1-height: 45px;
$burials-1-total-width: 655px;
$burials-1-total-height: 625px;
$burials-1-image: '/assets/template/css/sprites/sprite.png';
$burials-1: (470px, 238px, -470px, -238px, 51px, 45px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'burials-1', );
$burials-2-name: 'burials-2';
$burials-2-x: 358px;
$burials-2-y: 304px;
$burials-2-offset-x: -358px;
$burials-2-offset-y: -304px;
$burials-2-width: 45px;
$burials-2-height: 49px;
$burials-2-total-width: 655px;
$burials-2-total-height: 625px;
$burials-2-image: '/assets/template/css/sprites/sprite.png';
$burials-2: (358px, 304px, -358px, -304px, 45px, 49px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'burials-2', );
$burials-3-name: 'burials-3';
$burials-3-x: 329px;
$burials-3-y: 419px;
$burials-3-offset-x: -329px;
$burials-3-offset-y: -419px;
$burials-3-width: 41px;
$burials-3-height: 51px;
$burials-3-total-width: 655px;
$burials-3-total-height: 625px;
$burials-3-image: '/assets/template/css/sprites/sprite.png';
$burials-3: (329px, 419px, -329px, -419px, 41px, 51px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'burials-3', );
$burials-5-name: 'burials-5';
$burials-5-x: 88px;
$burials-5-y: 377px;
$burials-5-offset-x: -88px;
$burials-5-offset-y: -377px;
$burials-5-width: 51px;
$burials-5-height: 37px;
$burials-5-total-width: 655px;
$burials-5-total-height: 625px;
$burials-5-image: '/assets/template/css/sprites/sprite.png';
$burials-5: (88px, 377px, -88px, -377px, 51px, 37px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'burials-5', );
$burials-6-name: 'burials-6';
$burials-6-x: 579px;
$burials-6-y: 381px;
$burials-6-offset-x: -579px;
$burials-6-offset-y: -381px;
$burials-6-width: 51px;
$burials-6-height: 51px;
$burials-6-total-width: 655px;
$burials-6-total-height: 625px;
$burials-6-image: '/assets/template/css/sprites/sprite.png';
$burials-6: (579px, 381px, -579px, -381px, 51px, 51px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'burials-6', );
$cemetary-name: 'cemetary';
$cemetary-x: 221px;
$cemetary-y: 304px;
$cemetary-offset-x: -221px;
$cemetary-offset-y: -304px;
$cemetary-width: 66px;
$cemetary-height: 60px;
$cemetary-total-width: 655px;
$cemetary-total-height: 625px;
$cemetary-image: '/assets/template/css/sprites/sprite.png';
$cemetary: (221px, 304px, -221px, -304px, 66px, 60px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'cemetary', );
$columbaria-name: 'columbaria';
$columbaria-x: 272px;
$columbaria-y: 419px;
$columbaria-offset-x: -272px;
$columbaria-offset-y: -419px;
$columbaria-width: 57px;
$columbaria-height: 57px;
$columbaria-total-width: 655px;
$columbaria-total-height: 625px;
$columbaria-image: '/assets/template/css/sprites/sprite.png';
$columbaria: (272px, 419px, -272px, -419px, 57px, 57px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'columbaria', );
$cremation-1-name: 'cremation-1';
$cremation-1-x: 579px;
$cremation-1-y: 150px;
$cremation-1-offset-x: -579px;
$cremation-1-offset-y: -150px;
$cremation-1-width: 47px;
$cremation-1-height: 59px;
$cremation-1-total-width: 655px;
$cremation-1-total-height: 625px;
$cremation-1-image: '/assets/template/css/sprites/sprite.png';
$cremation-1: (579px, 150px, -579px, -150px, 47px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'cremation-1', );
$cremation-2-name: 'cremation-2';
$cremation-2-x: 579px;
$cremation-2-y: 268px;
$cremation-2-offset-x: -579px;
$cremation-2-offset-y: -268px;
$cremation-2-width: 47px;
$cremation-2-height: 59px;
$cremation-2-total-width: 655px;
$cremation-2-total-height: 625px;
$cremation-2-image: '/assets/template/css/sprites/sprite.png';
$cremation-2: (579px, 268px, -579px, -268px, 47px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'cremation-2', );
$cremation-3-name: 'cremation-3';
$cremation-3-x: 579px;
$cremation-3-y: 432px;
$cremation-3-offset-x: -579px;
$cremation-3-offset-y: -432px;
$cremation-3-width: 41px;
$cremation-3-height: 59px;
$cremation-3-total-width: 655px;
$cremation-3-total-height: 625px;
$cremation-3-image: '/assets/template/css/sprites/sprite.png';
$cremation-3: (579px, 432px, -579px, -432px, 41px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'cremation-3', );
$cremation-4-name: 'cremation-4';
$cremation-4-x: 0px;
$cremation-4-y: 525px;
$cremation-4-offset-x: 0px;
$cremation-4-offset-y: -525px;
$cremation-4-width: 59px;
$cremation-4-height: 59px;
$cremation-4-total-width: 655px;
$cremation-4-total-height: 625px;
$cremation-4-image: '/assets/template/css/sprites/sprite.png';
$cremation-4: (0px, 525px, 0px, -525px, 59px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'cremation-4', );
$email-white-name: 'email-white';
$email-white-x: 432px;
$email-white-y: 285px;
$email-white-offset-x: -432px;
$email-white-offset-y: -285px;
$email-white-width: 20px;
$email-white-height: 16px;
$email-white-total-width: 655px;
$email-white-total-height: 625px;
$email-white-image: '/assets/template/css/sprites/sprite.png';
$email-white: (432px, 285px, -432px, -285px, 20px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'email-white', );
$footer-menu-arrow-name: 'footer-menu-arrow';
$footer-menu-arrow-x: 632px;
$footer-menu-arrow-y: 431px;
$footer-menu-arrow-offset-x: -632px;
$footer-menu-arrow-offset-y: -431px;
$footer-menu-arrow-width: 16px;
$footer-menu-arrow-height: 29px;
$footer-menu-arrow-total-width: 655px;
$footer-menu-arrow-total-height: 625px;
$footer-menu-arrow-image: '/assets/template/css/sprites/sprite.png';
$footer-menu-arrow: (632px, 431px, -632px, -431px, 16px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'footer-menu-arrow', );
$funeral-1-name: 'funeral-1';
$funeral-1-x: 177px;
$funeral-1-y: 525px;
$funeral-1-offset-x: -177px;
$funeral-1-offset-y: -525px;
$funeral-1-width: 59px;
$funeral-1-height: 59px;
$funeral-1-total-width: 655px;
$funeral-1-total-height: 625px;
$funeral-1-image: '/assets/template/css/sprites/sprite.png';
$funeral-1: (177px, 525px, -177px, -525px, 59px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'funeral-1', );
$funeral-2-name: 'funeral-2';
$funeral-2-x: 59px;
$funeral-2-y: 525px;
$funeral-2-offset-x: -59px;
$funeral-2-offset-y: -525px;
$funeral-2-width: 59px;
$funeral-2-height: 59px;
$funeral-2-total-width: 655px;
$funeral-2-total-height: 625px;
$funeral-2-image: '/assets/template/css/sprites/sprite.png';
$funeral-2: (59px, 525px, -59px, -525px, 59px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'funeral-2', );
$funeral-3-name: 'funeral-3';
$funeral-3-x: 579px;
$funeral-3-y: 209px;
$funeral-3-offset-x: -579px;
$funeral-3-offset-y: -209px;
$funeral-3-width: 47px;
$funeral-3-height: 59px;
$funeral-3-total-width: 655px;
$funeral-3-total-height: 625px;
$funeral-3-image: '/assets/template/css/sprites/sprite.png';
$funeral-3: (579px, 209px, -579px, -209px, 47px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'funeral-3', );
$funeral-4-name: 'funeral-4';
$funeral-4-x: 118px;
$funeral-4-y: 525px;
$funeral-4-offset-x: -118px;
$funeral-4-offset-y: -525px;
$funeral-4-width: 59px;
$funeral-4-height: 59px;
$funeral-4-total-width: 655px;
$funeral-4-total-height: 625px;
$funeral-4-image: '/assets/template/css/sprites/sprite.png';
$funeral-4: (118px, 525px, -118px, -525px, 59px, 59px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'funeral-4', );
$icon-accessories-name: 'icon-accessories';
$icon-accessories-x: 173px;
$icon-accessories-y: 495px;
$icon-accessories-offset-x: -173px;
$icon-accessories-offset-y: -495px;
$icon-accessories-width: 30px;
$icon-accessories-height: 24px;
$icon-accessories-total-width: 655px;
$icon-accessories-total-height: 625px;
$icon-accessories-image: '/assets/template/css/sprites/sprite.png';
$icon-accessories: (173px, 495px, -173px, -495px, 30px, 24px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-accessories', );
$icon-building-name: 'icon-building';
$icon-building-x: 145px;
$icon-building-y: 495px;
$icon-building-offset-x: -145px;
$icon-building-offset-y: -495px;
$icon-building-width: 28px;
$icon-building-height: 26px;
$icon-building-total-width: 655px;
$icon-building-total-height: 625px;
$icon-building-image: '/assets/template/css/sprites/sprite.png';
$icon-building: (145px, 495px, -145px, -495px, 28px, 26px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-building', );
$icon-coffin-name: 'icon-coffin';
$icon-coffin-x: 473px;
$icon-coffin-y: 525px;
$icon-coffin-offset-x: -473px;
$icon-coffin-offset-y: -525px;
$icon-coffin-width: 29px;
$icon-coffin-height: 29px;
$icon-coffin-total-width: 655px;
$icon-coffin-total-height: 625px;
$icon-coffin-image: '/assets/template/css/sprites/sprite.png';
$icon-coffin: (473px, 525px, -473px, -525px, 29px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-coffin', );
$icon-confession-name: 'icon-confession';
$icon-confession-x: 304px;
$icon-confession-y: 377px;
$icon-confession-offset-x: -304px;
$icon-confession-offset-y: -377px;
$icon-confession-width: 30px;
$icon-confession-height: 21px;
$icon-confession-total-width: 655px;
$icon-confession-total-height: 625px;
$icon-confession-image: '/assets/template/css/sprites/sprite.png';
$icon-confession: (304px, 377px, -304px, -377px, 30px, 21px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-confession', );
$icon-cross-name: 'icon-cross';
$icon-cross-x: 632px;
$icon-cross-y: 288px;
$icon-cross-offset-x: -632px;
$icon-cross-offset-y: -288px;
$icon-cross-width: 20px;
$icon-cross-height: 34px;
$icon-cross-total-width: 655px;
$icon-cross-total-height: 625px;
$icon-cross-image: '/assets/template/css/sprites/sprite.png';
$icon-cross: (632px, 288px, -632px, -288px, 20px, 34px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-cross', );
$icon-dops-name: 'icon-dops';
$icon-dops-x: 83px;
$icon-dops-y: 495px;
$icon-dops-offset-x: -83px;
$icon-dops-offset-y: -495px;
$icon-dops-width: 30px;
$icon-dops-height: 30px;
$icon-dops-total-width: 655px;
$icon-dops-total-height: 625px;
$icon-dops-image: '/assets/template/css/sprites/sprite.png';
$icon-dops: (83px, 495px, -83px, -495px, 30px, 30px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-dops', );
$icon-employee-big-name: 'icon-employee-big';
$icon-employee-big-x: 0px;
$icon-employee-big-y: 419px;
$icon-employee-big-offset-x: 0px;
$icon-employee-big-offset-y: -419px;
$icon-employee-big-width: 83px;
$icon-employee-big-height: 106px;
$icon-employee-big-total-width: 655px;
$icon-employee-big-total-height: 625px;
$icon-employee-big-image: '/assets/template/css/sprites/sprite.png';
$icon-employee-big: (0px, 419px, 0px, -419px, 83px, 106px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-employee-big', );
$icon-employee-name: 'icon-employee';
$icon-employee-x: 488px;
$icon-employee-y: 419px;
$icon-employee-offset-x: -488px;
$icon-employee-offset-y: -419px;
$icon-employee-width: 39px;
$icon-employee-height: 41px;
$icon-employee-total-width: 655px;
$icon-employee-total-height: 625px;
$icon-employee-image: '/assets/template/css/sprites/sprite.png';
$icon-employee: (488px, 419px, -488px, -419px, 39px, 41px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-employee', );
$icon-experience-big-name: 'icon-experience-big';
$icon-experience-big-x: 317px;
$icon-experience-big-y: 145px;
$icon-experience-big-offset-x: -317px;
$icon-experience-big-offset-y: -145px;
$icon-experience-big-width: 130px;
$icon-experience-big-height: 93px;
$icon-experience-big-total-width: 655px;
$icon-experience-big-total-height: 625px;
$icon-experience-big-image: '/assets/template/css/sprites/sprite.png';
$icon-experience-big: (317px, 145px, -317px, -145px, 130px, 93px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-experience-big', );
$icon-experience-name: 'icon-experience';
$icon-experience-x: 447px;
$icon-experience-y: 145px;
$icon-experience-offset-x: -447px;
$icon-experience-offset-y: -145px;
$icon-experience-width: 109px;
$icon-experience-height: 78px;
$icon-experience-total-width: 655px;
$icon-experience-total-height: 625px;
$icon-experience-image: '/assets/template/css/sprites/sprite.png';
$icon-experience: (447px, 145px, -447px, -145px, 109px, 78px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-experience', );
$icon-infrastucture-name: 'icon-infrastucture';
$icon-infrastucture-x: 502px;
$icon-infrastucture-y: 525px;
$icon-infrastucture-offset-x: -502px;
$icon-infrastucture-offset-y: -525px;
$icon-infrastucture-width: 28px;
$icon-infrastucture-height: 29px;
$icon-infrastucture-total-width: 655px;
$icon-infrastucture-total-height: 625px;
$icon-infrastucture-image: '/assets/template/css/sprites/sprite.png';
$icon-infrastucture: (502px, 525px, -502px, -525px, 28px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-infrastucture', );
$icon-mo-gerb-small-name: 'icon-mo-gerb-small';
$icon-mo-gerb-small-x: 370px;
$icon-mo-gerb-small-y: 419px;
$icon-mo-gerb-small-offset-x: -370px;
$icon-mo-gerb-small-offset-y: -419px;
$icon-mo-gerb-small-width: 39px;
$icon-mo-gerb-small-height: 51px;
$icon-mo-gerb-small-total-width: 655px;
$icon-mo-gerb-small-total-height: 625px;
$icon-mo-gerb-small-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb-small: (370px, 419px, -370px, -419px, 39px, 51px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb-small', );
$icon-mo-gerb-name: 'icon-mo-gerb';
$icon-mo-gerb-x: 0px;
$icon-mo-gerb-y: 304px;
$icon-mo-gerb-offset-x: 0px;
$icon-mo-gerb-offset-y: -304px;
$icon-mo-gerb-width: 88px;
$icon-mo-gerb-height: 115px;
$icon-mo-gerb-total-width: 655px;
$icon-mo-gerb-total-height: 625px;
$icon-mo-gerb-image: '/assets/template/css/sprites/sprite.png';
$icon-mo-gerb: (0px, 304px, 0px, -304px, 88px, 115px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-mo-gerb', );
$icon-monument-name: 'icon-monument';
$icon-monument-x: 557px;
$icon-monument-y: 525px;
$icon-monument-offset-x: -557px;
$icon-monument-offset-y: -525px;
$icon-monument-width: 24px;
$icon-monument-height: 27px;
$icon-monument-total-width: 655px;
$icon-monument-total-height: 625px;
$icon-monument-image: '/assets/template/css/sprites/sprite.png';
$icon-monument: (557px, 525px, -557px, -525px, 24px, 27px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-monument', );
$icon-panel-plane-name: 'icon-panel-plane';
$icon-panel-plane-x: 88px;
$icon-panel-plane-y: 304px;
$icon-panel-plane-offset-x: -88px;
$icon-panel-plane-offset-y: -304px;
$icon-panel-plane-width: 133px;
$icon-panel-plane-height: 73px;
$icon-panel-plane-total-width: 655px;
$icon-panel-plane-total-height: 625px;
$icon-panel-plane-image: '/assets/template/css/sprites/sprite.png';
$icon-panel-plane: (88px, 304px, -88px, -304px, 133px, 73px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-panel-plane', );
$icon-phone-slider-name: 'icon-phone-slider';
$icon-phone-slider-x: 239px;
$icon-phone-slider-y: 495px;
$icon-phone-slider-offset-x: -239px;
$icon-phone-slider-offset-y: -495px;
$icon-phone-slider-width: 18px;
$icon-phone-slider-height: 18px;
$icon-phone-slider-total-width: 655px;
$icon-phone-slider-total-height: 625px;
$icon-phone-slider-image: '/assets/template/css/sprites/sprite.png';
$icon-phone-slider: (239px, 495px, -239px, -495px, 18px, 18px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-phone-slider', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 644px;
$icon-phone-y: 542px;
$icon-phone-offset-x: -644px;
$icon-phone-offset-y: -542px;
$icon-phone-width: 10px;
$icon-phone-height: 10px;
$icon-phone-total-width: 655px;
$icon-phone-total-height: 625px;
$icon-phone-image: '/assets/template/css/sprites/sprite.png';
$icon-phone: (644px, 542px, -644px, -542px, 10px, 10px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-phone', );
$icon-plane-name: 'icon-plane';
$icon-plane-x: 383px;
$icon-plane-y: 285px;
$icon-plane-offset-x: -383px;
$icon-plane-offset-y: -285px;
$icon-plane-width: 29px;
$icon-plane-height: 16px;
$icon-plane-total-width: 655px;
$icon-plane-total-height: 625px;
$icon-plane-image: '/assets/template/css/sprites/sprite.png';
$icon-plane: (383px, 285px, -383px, -285px, 29px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-plane', );
$icon-play-small-name: 'icon-play-small';
$icon-play-small-x: 358px;
$icon-play-small-y: 525px;
$icon-play-small-offset-x: -358px;
$icon-play-small-offset-y: -525px;
$icon-play-small-width: 32px;
$icon-play-small-height: 36px;
$icon-play-small-total-width: 655px;
$icon-play-small-total-height: 625px;
$icon-play-small-image: '/assets/template/css/sprites/sprite.png';
$icon-play-small: (358px, 525px, -358px, -525px, 32px, 36px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-play-small', );
$icon-play-name: 'icon-play';
$icon-play-x: 151px;
$icon-play-y: 419px;
$icon-play-offset-x: -151px;
$icon-play-offset-y: -419px;
$icon-play-width: 59px;
$icon-play-height: 66px;
$icon-play-total-width: 655px;
$icon-play-total-height: 625px;
$icon-play-image: '/assets/template/css/sprites/sprite.png';
$icon-play: (151px, 419px, -151px, -419px, 59px, 66px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-play', );
$icon-search-name: 'icon-search';
$icon-search-x: 632px;
$icon-search-y: 563px;
$icon-search-offset-x: -632px;
$icon-search-offset-y: -563px;
$icon-search-width: 18px;
$icon-search-height: 18px;
$icon-search-total-width: 655px;
$icon-search-total-height: 625px;
$icon-search-image: '/assets/template/css/sprites/sprite.png';
$icon-search: (632px, 563px, -632px, -563px, 18px, 18px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-search', );
$icon-textil-name: 'icon-textil';
$icon-textil-x: 271px;
$icon-textil-y: 377px;
$icon-textil-offset-x: -271px;
$icon-textil-offset-y: -377px;
$icon-textil-width: 33px;
$icon-textil-height: 23px;
$icon-textil-total-width: 655px;
$icon-textil-total-height: 625px;
$icon-textil-image: '/assets/template/css/sprites/sprite.png';
$icon-textil: (271px, 377px, -271px, -377px, 33px, 23px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-textil', );
$icon-transport-name: 'icon-transport';
$icon-transport-x: 447px;
$icon-transport-y: 223px;
$icon-transport-offset-x: -447px;
$icon-transport-offset-y: -223px;
$icon-transport-width: 35px;
$icon-transport-height: 15px;
$icon-transport-total-width: 655px;
$icon-transport-total-height: 625px;
$icon-transport-image: '/assets/template/css/sprites/sprite.png';
$icon-transport: (447px, 223px, -447px, -223px, 35px, 15px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-transport', );
$icon-wreath-name: 'icon-wreath';
$icon-wreath-x: 444px;
$icon-wreath-y: 525px;
$icon-wreath-offset-x: -444px;
$icon-wreath-offset-y: -525px;
$icon-wreath-width: 29px;
$icon-wreath-height: 29px;
$icon-wreath-total-width: 655px;
$icon-wreath-total-height: 625px;
$icon-wreath-image: '/assets/template/css/sprites/sprite.png';
$icon-wreath: (444px, 525px, -444px, -525px, 29px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'icon-wreath', );
$mail-contact-name: 'mail-contact';
$mail-contact-x: 334px;
$mail-contact-y: 377px;
$mail-contact-offset-x: -334px;
$mail-contact-offset-y: -377px;
$mail-contact-width: 25px;
$mail-contact-height: 18px;
$mail-contact-total-width: 655px;
$mail-contact-total-height: 625px;
$mail-contact-image: '/assets/template/css/sprites/sprite.png';
$mail-contact: (334px, 377px, -334px, -377px, 25px, 18px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'mail-contact', );
$map-marker-white-name: 'map-marker-white';
$map-marker-white-x: 560px;
$map-marker-white-y: 304px;
$map-marker-white-offset-x: -560px;
$map-marker-white-offset-y: -304px;
$map-marker-white-width: 18px;
$map-marker-white-height: 23px;
$map-marker-white-total-width: 655px;
$map-marker-white-total-height: 625px;
$map-marker-white-image: '/assets/template/css/sprites/sprite.png';
$map-marker-white: (560px, 304px, -560px, -304px, 18px, 23px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'map-marker-white', );
$menu-arrow-right-name: 'menu-arrow-right';
$menu-arrow-right-x: 644px;
$menu-arrow-right-y: 552px;
$menu-arrow-right-offset-x: -644px;
$menu-arrow-right-offset-y: -552px;
$menu-arrow-right-width: 8px;
$menu-arrow-right-height: 10px;
$menu-arrow-right-total-width: 655px;
$menu-arrow-right-total-height: 625px;
$menu-arrow-right-image: '/assets/template/css/sprites/sprite.png';
$menu-arrow-right: (644px, 552px, -644px, -552px, 8px, 10px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'menu-arrow-right', );
$menu-border-name: 'menu-border';
$menu-border-x: 649px;
$menu-border-y: 132px;
$menu-border-offset-x: -649px;
$menu-border-offset-y: -132px;
$menu-border-width: 3px;
$menu-border-height: 34px;
$menu-border-total-width: 655px;
$menu-border-total-height: 625px;
$menu-border-image: '/assets/template/css/sprites/sprite.png';
$menu-border: (649px, 132px, -649px, -132px, 3px, 34px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'menu-border', );
$morgue-name: 'morgue';
$morgue-x: 236px;
$morgue-y: 525px;
$morgue-offset-x: -236px;
$morgue-offset-y: -525px;
$morgue-width: 56px;
$morgue-height: 58px;
$morgue-total-width: 655px;
$morgue-total-height: 625px;
$morgue-image: '/assets/template/css/sprites/sprite.png';
$morgue: (236px, 525px, -236px, -525px, 56px, 58px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'morgue', );
$phone-contact-name: 'phone-contact';
$phone-contact-x: 632px;
$phone-contact-y: 384px;
$phone-contact-offset-x: -632px;
$phone-contact-offset-y: -384px;
$phone-contact-width: 23px;
$phone-contact-height: 23px;
$phone-contact-total-width: 655px;
$phone-contact-total-height: 625px;
$phone-contact-image: '/assets/template/css/sprites/sprite.png';
$phone-contact: (632px, 384px, -632px, -384px, 23px, 23px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'phone-contact', );
$phone-white-name: 'phone-white';
$phone-white-x: 221px;
$phone-white-y: 495px;
$phone-white-offset-x: -221px;
$phone-white-offset-y: -495px;
$phone-white-width: 18px;
$phone-white-height: 18px;
$phone-white-total-width: 655px;
$phone-white-total-height: 625px;
$phone-white-image: '/assets/template/css/sprites/sprite.png';
$phone-white: (221px, 495px, -221px, -495px, 18px, 18px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'phone-white', );
$play-button-name: 'play-button';
$play-button-x: 409px;
$play-button-y: 419px;
$play-button-offset-x: -409px;
$play-button-offset-y: -419px;
$play-button-width: 39px;
$play-button-height: 51px;
$play-button-total-width: 655px;
$play-button-total-height: 625px;
$play-button-image: '/assets/template/css/sprites/sprite.png';
$play-button: (409px, 419px, -409px, -419px, 39px, 51px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'play-button', );
$price-burial-small-white-name: 'price-burial-small-white';
$price-burial-small-white-x: 174px;
$price-burial-small-white-y: 377px;
$price-burial-small-white-offset-x: -174px;
$price-burial-small-white-offset-y: -377px;
$price-burial-small-white-width: 31px;
$price-burial-small-white-height: 34px;
$price-burial-small-white-total-width: 655px;
$price-burial-small-white-total-height: 625px;
$price-burial-small-white-image: '/assets/template/css/sprites/sprite.png';
$price-burial-small-white: (174px, 377px, -174px, -377px, 31px, 34px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-burial-small-white', );
$price-burial-small-name: 'price-burial-small';
$price-burial-small-x: 530px;
$price-burial-small-y: 525px;
$price-burial-small-offset-x: -530px;
$price-burial-small-offset-y: -525px;
$price-burial-small-width: 27px;
$price-burial-small-height: 29px;
$price-burial-small-total-width: 655px;
$price-burial-small-total-height: 625px;
$price-burial-small-image: '/assets/template/css/sprites/sprite.png';
$price-burial-small: (530px, 525px, -530px, -525px, 27px, 29px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-burial-small', );
$price-burial-name: 'price-burial';
$price-burial-x: 579px;
$price-burial-y: 327px;
$price-burial-offset-x: -579px;
$price-burial-offset-y: -327px;
$price-burial-width: 49px;
$price-burial-height: 54px;
$price-burial-total-width: 655px;
$price-burial-total-height: 625px;
$price-burial-image: '/assets/template/css/sprites/sprite.png';
$price-burial: (579px, 327px, -579px, -327px, 49px, 54px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-burial', );
$price-contacts-email-name: 'price-contacts-email';
$price-contacts-email-x: 412px;
$price-contacts-email-y: 285px;
$price-contacts-email-offset-x: -412px;
$price-contacts-email-offset-y: -285px;
$price-contacts-email-width: 20px;
$price-contacts-email-height: 16px;
$price-contacts-email-total-width: 655px;
$price-contacts-email-total-height: 625px;
$price-contacts-email-image: '/assets/template/css/sprites/sprite.png';
$price-contacts-email: (412px, 285px, -412px, -285px, 20px, 16px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-contacts-email', );
$price-contacts-marker-name: 'price-contacts-marker';
$price-contacts-marker-x: 203px;
$price-contacts-marker-y: 495px;
$price-contacts-marker-offset-x: -203px;
$price-contacts-marker-offset-y: -495px;
$price-contacts-marker-width: 18px;
$price-contacts-marker-height: 23px;
$price-contacts-marker-total-width: 655px;
$price-contacts-marker-total-height: 625px;
$price-contacts-marker-image: '/assets/template/css/sprites/sprite.png';
$price-contacts-marker: (203px, 495px, -203px, -495px, 18px, 23px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-contacts-marker', );
$price-cremation-small-white-name: 'price-cremation-small-white';
$price-cremation-small-white-x: 632px;
$price-cremation-small-white-y: 180px;
$price-cremation-small-white-offset-x: -632px;
$price-cremation-small-white-offset-y: -180px;
$price-cremation-small-white-width: 22px;
$price-cremation-small-white-height: 34px;
$price-cremation-small-white-total-width: 655px;
$price-cremation-small-white-total-height: 625px;
$price-cremation-small-white-image: '/assets/template/css/sprites/sprite.png';
$price-cremation-small-white: (632px, 180px, -632px, -180px, 22px, 34px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-cremation-small-white', );
$price-cremation-small-name: 'price-cremation-small';
$price-cremation-small-x: 632px;
$price-cremation-small-y: 354px;
$price-cremation-small-offset-x: -632px;
$price-cremation-small-offset-y: -354px;
$price-cremation-small-width: 19px;
$price-cremation-small-height: 30px;
$price-cremation-small-total-width: 655px;
$price-cremation-small-total-height: 625px;
$price-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$price-cremation-small: (632px, 354px, -632px, -354px, 19px, 30px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-cremation-small', );
$price-cremation-name: 'price-cremation';
$price-cremation-x: 292px;
$price-cremation-y: 525px;
$price-cremation-offset-x: -292px;
$price-cremation-offset-y: -525px;
$price-cremation-width: 35px;
$price-cremation-height: 54px;
$price-cremation-total-width: 655px;
$price-cremation-total-height: 625px;
$price-cremation-image: '/assets/template/css/sprites/sprite.png';
$price-cremation: (292px, 525px, -292px, -525px, 35px, 54px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'price-cremation', );
$review-item-name: 'review-item';
$review-item-x: 0px;
$review-item-y: 0px;
$review-item-offset-x: 0px;
$review-item-offset-y: 0px;
$review-item-width: 579px;
$review-item-height: 145px;
$review-item-total-width: 655px;
$review-item-total-height: 625px;
$review-item-image: '/assets/template/css/sprites/sprite.png';
$review-item: (0px, 0px, 0px, 0px, 579px, 145px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'review-item', );
$search-white-name: 'search-white';
$search-white-x: 497px;
$search-white-y: 223px;
$search-white-offset-x: -497px;
$search-white-offset-y: -223px;
$search-white-width: 15px;
$search-white-height: 15px;
$search-white-total-width: 655px;
$search-white-total-height: 625px;
$search-white-image: '/assets/template/css/sprites/sprite.png';
$search-white: (497px, 223px, -497px, -223px, 15px, 15px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'search-white', );
$search-name: 'search';
$search-x: 482px;
$search-y: 223px;
$search-offset-x: -482px;
$search-offset-y: -223px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 655px;
$search-total-height: 625px;
$search-image: '/assets/template/css/sprites/sprite.png';
$search: (482px, 223px, -482px, -223px, 15px, 15px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'search', );
$section-menu-cemetery-small-name: 'section-menu-cemetery-small';
$section-menu-cemetery-small-x: 205px;
$section-menu-cemetery-small-y: 377px;
$section-menu-cemetery-small-offset-x: -205px;
$section-menu-cemetery-small-offset-y: -377px;
$section-menu-cemetery-small-width: 31px;
$section-menu-cemetery-small-height: 31px;
$section-menu-cemetery-small-total-width: 655px;
$section-menu-cemetery-small-total-height: 625px;
$section-menu-cemetery-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery-small: (205px, 377px, -205px, -377px, 31px, 31px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery-small', );
$section-menu-cemetery-name: 'section-menu-cemetery';
$section-menu-cemetery-x: 403px;
$section-menu-cemetery-y: 304px;
$section-menu-cemetery-offset-x: -403px;
$section-menu-cemetery-offset-y: -304px;
$section-menu-cemetery-width: 46px;
$section-menu-cemetery-height: 46px;
$section-menu-cemetery-total-width: 655px;
$section-menu-cemetery-total-height: 625px;
$section-menu-cemetery-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cemetery: (403px, 304px, -403px, -304px, 46px, 46px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-cemetery', );
$section-menu-columbarie-small-name: 'section-menu-columbarie-small';
$section-menu-columbarie-small-x: 417px;
$section-menu-columbarie-small-y: 525px;
$section-menu-columbarie-small-offset-x: -417px;
$section-menu-columbarie-small-offset-y: -525px;
$section-menu-columbarie-small-width: 27px;
$section-menu-columbarie-small-height: 32px;
$section-menu-columbarie-small-total-width: 655px;
$section-menu-columbarie-small-total-height: 625px;
$section-menu-columbarie-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie-small: (417px, 525px, -417px, -525px, 27px, 32px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie-small', );
$section-menu-columbarie-name: 'section-menu-columbarie';
$section-menu-columbarie-x: 448px;
$section-menu-columbarie-y: 419px;
$section-menu-columbarie-offset-x: -448px;
$section-menu-columbarie-offset-y: -419px;
$section-menu-columbarie-width: 40px;
$section-menu-columbarie-height: 47px;
$section-menu-columbarie-total-width: 655px;
$section-menu-columbarie-total-height: 625px;
$section-menu-columbarie-image: '/assets/template/css/sprites/sprite.png';
$section-menu-columbarie: (448px, 419px, -448px, -419px, 40px, 47px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-columbarie', );
$section-menu-cremation-small-name: 'section-menu-cremation-small';
$section-menu-cremation-small-x: 632px;
$section-menu-cremation-small-y: 322px;
$section-menu-cremation-small-offset-x: -632px;
$section-menu-cremation-small-offset-y: -322px;
$section-menu-cremation-small-width: 21px;
$section-menu-cremation-small-height: 32px;
$section-menu-cremation-small-total-width: 655px;
$section-menu-cremation-small-total-height: 625px;
$section-menu-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation-small: (632px, 322px, -632px, -322px, 21px, 32px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation-small', );
$section-menu-cremation-name: 'section-menu-cremation';
$section-menu-cremation-x: 327px;
$section-menu-cremation-y: 525px;
$section-menu-cremation-offset-x: -327px;
$section-menu-cremation-offset-y: -525px;
$section-menu-cremation-width: 31px;
$section-menu-cremation-height: 47px;
$section-menu-cremation-total-width: 655px;
$section-menu-cremation-total-height: 625px;
$section-menu-cremation-image: '/assets/template/css/sprites/sprite.png';
$section-menu-cremation: (327px, 525px, -327px, -525px, 31px, 47px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-cremation', );
$section-menu-morgue-small-name: 'section-menu-morgue-small';
$section-menu-morgue-small-x: 113px;
$section-menu-morgue-small-y: 495px;
$section-menu-morgue-small-offset-x: -113px;
$section-menu-morgue-small-offset-y: -495px;
$section-menu-morgue-small-width: 32px;
$section-menu-morgue-small-height: 28px;
$section-menu-morgue-small-total-width: 655px;
$section-menu-morgue-small-total-height: 625px;
$section-menu-morgue-small-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue-small: (113px, 495px, -113px, -495px, 32px, 28px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue-small', );
$section-menu-morgue-name: 'section-menu-morgue';
$section-menu-morgue-x: 521px;
$section-menu-morgue-y: 238px;
$section-menu-morgue-offset-x: -521px;
$section-menu-morgue-offset-y: -238px;
$section-menu-morgue-width: 47px;
$section-menu-morgue-height: 41px;
$section-menu-morgue-total-width: 655px;
$section-menu-morgue-total-height: 625px;
$section-menu-morgue-image: '/assets/template/css/sprites/sprite.png';
$section-menu-morgue: (521px, 238px, -521px, -238px, 47px, 41px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'section-menu-morgue', );
$service-200-small-name: 'service-200-small';
$service-200-small-x: 579px;
$service-200-small-y: 491px;
$service-200-small-offset-x: -579px;
$service-200-small-offset-y: -491px;
$service-200-small-width: 46px;
$service-200-small-height: 25px;
$service-200-small-total-width: 655px;
$service-200-small-total-height: 625px;
$service-200-small-image: '/assets/template/css/sprites/sprite.png';
$service-200-small: (579px, 491px, -579px, -491px, 46px, 25px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-200-small', );
$service-200-name: 'service-200';
$service-200-x: 383px;
$service-200-y: 238px;
$service-200-offset-x: -383px;
$service-200-offset-y: -238px;
$service-200-width: 87px;
$service-200-height: 47px;
$service-200-total-width: 655px;
$service-200-total-height: 625px;
$service-200-image: '/assets/template/css/sprites/sprite.png';
$service-200: (383px, 238px, -383px, -238px, 87px, 47px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-200', );
$service-burial-small-name: 'service-burial-small';
$service-burial-small-x: 527px;
$service-burial-small-y: 419px;
$service-burial-small-offset-x: -527px;
$service-burial-small-offset-y: -419px;
$service-burial-small-width: 36px;
$service-burial-small-height: 40px;
$service-burial-small-total-width: 655px;
$service-burial-small-total-height: 625px;
$service-burial-small-image: '/assets/template/css/sprites/sprite.png';
$service-burial-small: (527px, 419px, -527px, -419px, 36px, 40px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-burial-small', );
$service-burial-name: 'service-burial';
$service-burial-x: 83px;
$service-burial-y: 419px;
$service-burial-offset-x: -83px;
$service-burial-offset-y: -419px;
$service-burial-width: 68px;
$service-burial-height: 76px;
$service-burial-total-width: 655px;
$service-burial-total-height: 625px;
$service-burial-image: '/assets/template/css/sprites/sprite.png';
$service-burial: (83px, 419px, -83px, -419px, 68px, 76px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-burial', );
$service-calc-small-name: 'service-calc-small';
$service-calc-small-x: 390px;
$service-calc-small-y: 525px;
$service-calc-small-offset-x: -390px;
$service-calc-small-offset-y: -525px;
$service-calc-small-width: 27px;
$service-calc-small-height: 35px;
$service-calc-small-total-width: 655px;
$service-calc-small-total-height: 625px;
$service-calc-small-image: '/assets/template/css/sprites/sprite.png';
$service-calc-small: (390px, 525px, -390px, -525px, 27px, 35px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-calc-small', );
$service-calc-name: 'service-calc';
$service-calc-x: 579px;
$service-calc-y: 0px;
$service-calc-offset-x: -579px;
$service-calc-offset-y: 0px;
$service-calc-width: 53px;
$service-calc-height: 73px;
$service-calc-total-width: 655px;
$service-calc-total-height: 625px;
$service-calc-image: '/assets/template/css/sprites/sprite.png';
$service-calc: (579px, 0px, -579px, 0px, 53px, 73px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-calc', );
$service-cremation-small-name: 'service-cremation-small';
$service-cremation-small-x: 0px;
$service-cremation-small-y: 584px;
$service-cremation-small-offset-x: 0px;
$service-cremation-small-offset-y: -584px;
$service-cremation-small-width: 26px;
$service-cremation-small-height: 41px;
$service-cremation-small-total-width: 655px;
$service-cremation-small-total-height: 625px;
$service-cremation-small-image: '/assets/template/css/sprites/sprite.png';
$service-cremation-small: (0px, 584px, 0px, -584px, 26px, 41px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-cremation-small', );
$service-cremation-name: 'service-cremation';
$service-cremation-x: 579px;
$service-cremation-y: 73px;
$service-cremation-offset-x: -579px;
$service-cremation-offset-y: -73px;
$service-cremation-width: 50px;
$service-cremation-height: 77px;
$service-cremation-total-width: 655px;
$service-cremation-total-height: 625px;
$service-cremation-image: '/assets/template/css/sprites/sprite.png';
$service-cremation: (579px, 73px, -579px, -73px, 50px, 77px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-cremation', );
$service-place-small-name: 'service-place-small';
$service-place-small-x: 139px;
$service-place-small-y: 377px;
$service-place-small-offset-x: -139px;
$service-place-small-offset-y: -377px;
$service-place-small-width: 35px;
$service-place-small-height: 35px;
$service-place-small-total-width: 655px;
$service-place-small-total-height: 625px;
$service-place-small-image: '/assets/template/css/sprites/sprite.png';
$service-place-small: (139px, 377px, -139px, -377px, 35px, 35px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-place-small', );
$service-place-name: 'service-place';
$service-place-x: 317px;
$service-place-y: 238px;
$service-place-offset-x: -317px;
$service-place-offset-y: -238px;
$service-place-width: 66px;
$service-place-height: 66px;
$service-place-total-width: 655px;
$service-place-total-height: 625px;
$service-place-image: '/assets/template/css/sprites/sprite.png';
$service-place: (317px, 238px, -317px, -238px, 66px, 66px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-place', );
$service-posobie-small-name: 'service-posobie-small';
$service-posobie-small-x: 236px;
$service-posobie-small-y: 377px;
$service-posobie-small-offset-x: -236px;
$service-posobie-small-offset-y: -377px;
$service-posobie-small-width: 35px;
$service-posobie-small-height: 26px;
$service-posobie-small-total-width: 655px;
$service-posobie-small-total-height: 625px;
$service-posobie-small-image: '/assets/template/css/sprites/sprite.png';
$service-posobie-small: (236px, 377px, -236px, -377px, 35px, 26px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-posobie-small', );
$service-posobie-name: 'service-posobie';
$service-posobie-x: 287px;
$service-posobie-y: 304px;
$service-posobie-offset-x: -287px;
$service-posobie-offset-y: -304px;
$service-posobie-width: 71px;
$service-posobie-height: 55px;
$service-posobie-total-width: 655px;
$service-posobie-total-height: 625px;
$service-posobie-image: '/assets/template/css/sprites/sprite.png';
$service-posobie: (287px, 304px, -287px, -304px, 71px, 55px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'service-posobie', );
$site-map-512-name: 'site-map-512';
$site-map-512-x: 556px;
$site-map-512-y: 211px;
$site-map-512-offset-x: -556px;
$site-map-512-offset-y: -211px;
$site-map-512-width: 16px;
$site-map-512-height: 12px;
$site-map-512-total-width: 655px;
$site-map-512-total-height: 625px;
$site-map-512-image: '/assets/template/css/sprites/sprite.png';
$site-map-512: (556px, 211px, -556px, -211px, 16px, 12px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'site-map-512', );
$slide-next-small-name: 'slide-next-small';
$slide-next-small-x: 632px;
$slide-next-small-y: 489px;
$slide-next-small-offset-x: -632px;
$slide-next-small-offset-y: -489px;
$slide-next-small-width: 12px;
$slide-next-small-height: 37px;
$slide-next-small-total-width: 655px;
$slide-next-small-total-height: 625px;
$slide-next-small-image: '/assets/template/css/sprites/sprite.png';
$slide-next-small: (632px, 489px, -632px, -489px, 12px, 37px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'slide-next-small', );
$slide-next-name: 'slide-next';
$slide-next-x: 632px;
$slide-next-y: 0px;
$slide-next-offset-x: -632px;
$slide-next-offset-y: 0px;
$slide-next-width: 23px;
$slide-next-height: 66px;
$slide-next-total-width: 655px;
$slide-next-total-height: 625px;
$slide-next-image: '/assets/template/css/sprites/sprite.png';
$slide-next: (632px, 0px, -632px, 0px, 23px, 66px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'slide-next', );
$slide-prev-small-name: 'slide-prev-small';
$slide-prev-small-x: 632px;
$slide-prev-small-y: 526px;
$slide-prev-small-offset-x: -632px;
$slide-prev-small-offset-y: -526px;
$slide-prev-small-width: 12px;
$slide-prev-small-height: 37px;
$slide-prev-small-total-width: 655px;
$slide-prev-small-total-height: 625px;
$slide-prev-small-image: '/assets/template/css/sprites/sprite.png';
$slide-prev-small: (632px, 526px, -632px, -526px, 12px, 37px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'slide-prev-small', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 632px;
$slide-prev-y: 66px;
$slide-prev-offset-x: -632px;
$slide-prev-offset-y: -66px;
$slide-prev-width: 22px;
$slide-prev-height: 66px;
$slide-prev-total-width: 655px;
$slide-prev-total-height: 625px;
$slide-prev-image: '/assets/template/css/sprites/sprite.png';
$slide-prev: (632px, 66px, -632px, -66px, 22px, 66px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'slide-prev', );
$support-1-name: 'support-1';
$support-1-x: 210px;
$support-1-y: 419px;
$support-1-offset-x: -210px;
$support-1-offset-y: -419px;
$support-1-width: 62px;
$support-1-height: 58px;
$support-1-total-width: 655px;
$support-1-total-height: 625px;
$support-1-image: '/assets/template/css/sprites/sprite.png';
$support-1: (210px, 419px, -210px, -419px, 62px, 58px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'support-1', );
$vintage-big-name: 'vintage-big';
$vintage-big-x: 0px;
$vintage-big-y: 145px;
$vintage-big-offset-x: 0px;
$vintage-big-offset-y: -145px;
$vintage-big-width: 317px;
$vintage-big-height: 159px;
$vintage-big-total-width: 655px;
$vintage-big-total-height: 625px;
$vintage-big-image: '/assets/template/css/sprites/sprite.png';
$vintage-big: (0px, 145px, 0px, -145px, 317px, 159px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'vintage-big', );
$vintage-small-name: 'vintage-small';
$vintage-small-x: 513px;
$vintage-small-y: 304px;
$vintage-small-offset-x: -513px;
$vintage-small-offset-y: -304px;
$vintage-small-width: 47px;
$vintage-small-height: 23px;
$vintage-small-total-width: 655px;
$vintage-small-total-height: 625px;
$vintage-small-image: '/assets/template/css/sprites/sprite.png';
$vintage-small: (513px, 304px, -513px, -304px, 47px, 23px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'vintage-small', );
$vintage-name: 'vintage';
$vintage-x: 449px;
$vintage-y: 304px;
$vintage-offset-x: -449px;
$vintage-offset-y: -304px;
$vintage-width: 64px;
$vintage-height: 32px;
$vintage-total-width: 655px;
$vintage-total-height: 625px;
$vintage-image: '/assets/template/css/sprites/sprite.png';
$vintage: (449px, 304px, -449px, -304px, 64px, 32px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'vintage', );
$white-arrow-small-name: 'white-arrow-small';
$white-arrow-small-x: 632px;
$white-arrow-small-y: 132px;
$white-arrow-small-offset-x: -632px;
$white-arrow-small-offset-y: -132px;
$white-arrow-small-width: 17px;
$white-arrow-small-height: 48px;
$white-arrow-small-total-width: 655px;
$white-arrow-small-total-height: 625px;
$white-arrow-small-image: '/assets/template/css/sprites/sprite.png';
$white-arrow-small: (632px, 132px, -632px, -132px, 17px, 48px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'white-arrow-small', );
$white-arrow-name: 'white-arrow';
$white-arrow-x: 556px;
$white-arrow-y: 145px;
$white-arrow-offset-x: -556px;
$white-arrow-offset-y: -145px;
$white-arrow-width: 23px;
$white-arrow-height: 66px;
$white-arrow-total-width: 655px;
$white-arrow-total-height: 625px;
$white-arrow-image: '/assets/template/css/sprites/sprite.png';
$white-arrow: (556px, 145px, -556px, -145px, 23px, 66px, 655px, 625px, '/assets/template/css/sprites/sprite.png', 'white-arrow', );
$spritesheet-width: 655px;
$spritesheet-height: 625px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($address, $arrow-left-small, $arrow-left, $arrow-orange-down-320, $arrow-right-blue, $arrow-right-small-white, $arrow-right-small, $arrow-right, $burials-1, $burials-2, $burials-3, $burials-5, $burials-6, $cemetary, $columbaria, $cremation-1, $cremation-2, $cremation-3, $cremation-4, $email-white, $footer-menu-arrow, $funeral-1, $funeral-2, $funeral-3, $funeral-4, $icon-accessories, $icon-building, $icon-coffin, $icon-confession, $icon-cross, $icon-dops, $icon-employee-big, $icon-employee, $icon-experience-big, $icon-experience, $icon-infrastucture, $icon-mo-gerb-small, $icon-mo-gerb, $icon-monument, $icon-panel-plane, $icon-phone-slider, $icon-phone, $icon-plane, $icon-play-small, $icon-play, $icon-search, $icon-textil, $icon-transport, $icon-wreath, $mail-contact, $map-marker-white, $menu-arrow-right, $menu-border, $morgue, $phone-contact, $phone-white, $play-button, $price-burial-small-white, $price-burial-small, $price-burial, $price-contacts-email, $price-contacts-marker, $price-cremation-small-white, $price-cremation-small, $price-cremation, $review-item, $search-white, $search, $section-menu-cemetery-small, $section-menu-cemetery, $section-menu-columbarie-small, $section-menu-columbarie, $section-menu-cremation-small, $section-menu-cremation, $section-menu-morgue-small, $section-menu-morgue, $service-200-small, $service-200, $service-burial-small, $service-burial, $service-calc-small, $service-calc, $service-cremation-small, $service-cremation, $service-place-small, $service-place, $service-posobie-small, $service-posobie, $site-map-512, $slide-next-small, $slide-next, $slide-prev-small, $slide-prev, $support-1, $vintage-big, $vintage-small, $vintage, $white-arrow-small, $white-arrow, );
$spritesheet: (655px, 625px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
