//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div id="page-about">

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li>О компании</li>
                </ul>
            </div>

            <h1>О компании</h1>

            <div class="b-about__grid">
                <div class="b-about__content">
                    <p>Мы относимся к своему делу с максимальной серьезностью и не позволяем даже малейших просчетов. Наша задача - полностью оградить клиента от любых переживаний. Специалисты службы «МФЦ-Ритуал» знают, как сгладить болезненные проявления и оказать действительно качественную поддержку в непростой период жизни.</p>
                    <p>Обращение в ритуальную службу Москвы - разумный выбор для каждого, кому приходится столкнуться с тяжелой потерей. Мы предлагаем высокое качество услуг и всесторонний подход по умеренным и полностью обоснованным ценам.</p>
                    <p>В этом разделе вы найдете ключевую информацию о городской ритуальной службе МФЦ-Ритуал. Познакомившись с ней, вы сможете сделать осознанный выбор.</p>
                </div>
                <div class="b-about__menu">
                    <div class="about-menu">
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--about">
                                <span class="about-menu__text">О службе МФЦ-Ритуал</span>
                            </a>
                        </div>
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--vacancy">
                                <span class="about-menu__text">Вакансии</span>
                            </a>
                        </div>
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--reviews">
                                <span class="about-menu__text">Отзывы</span>
                            </a>
                        </div>
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--news">
                                <span class="about-menu__text">Новости</span>
                            </a>
                        </div>
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--partnership">
                                <span class="about-menu__text">Сотрудничество</span>
                            </a>
                        </div>
                        <div class="about-menu__item">
                            <a href="#" class="about-menu__link about-menu__link--gbu">
                                <span class="about-menu__text">Вышестоящая организация</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="about-awards">
    <div class="container">
        <div class="about-awards__box">
            <div class="about-awards__header">
                Благодарственные письма
            </div>
            <div class="about-awards__subheader">Ваше мнение - наша награда!</div>
            <div class="about-awards__list about-grateful-slider">
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar01.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar01.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar02.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar02.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar03.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar03.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar04.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar04.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar05.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar05.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar03.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar03.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar04.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar04.jpg" alt=""></a>
                </div>
                <div class="about-awards__item">
                    <a href="/assets/template/images/blagodar05.jpg" data-fancybox="grateful"><img src="/assets/template/images/blagodar05.jpg" alt=""></a>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="advantages">
    <div class="container">
        <div class="advantages__header">
            Преимущества многофункционального похоронно-ритуального центра МФЦ-Ритуал
        </div>
        <div class="advantages__info">
            <p>
                На что стоит обратить внимание при выборе ритуальной компании?<br />
                Почему стоит выбрать именно наше ритуальное агентство?
            </p>
        </div>

        <div class="separator"><div class="separator__icon"></div></div>

        <div class="advantages__grid">
            <div class="advantages__items">
                <div class="advantages__item advantages__item--experience">
                    <div class="advantages__title">Опыт</div>
                    <div class="advantages__intro">Мы занимаемся организацией похорон в Москве уже больше 10 лет и знаем все подводные камни</div>
                    <div class="b-experience">
                        <div class="b-experience__years">11</div>
                        <div class="b-experience__text">лет</div>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__title">корректность</div>
                    <div class="advantages__intro">Наши сотрудники максимально корректно для родственников и близких покойного человека возьмут на себя все заботы по организации и проведению траурного мероприятия</div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__title">защита от «черных похоронных агентов»</div>
                    <div class="advantages__intro">Распорядитель ритуальной службы МФЦ-Ритуал защитит вас от любых схем обмана при взаимодействии с сотрудниками служб экстренного вызова, моргов, кладбищ и колумбариев</div>
                </div>
                <div class="advantages__item">
                    <div class="advantages__title">пунктуальность</div>
                    <div class="advantages__intro">В похоронном деле не может быть задержек. У нас не бывает сбоев – инфраструктура предприятия позволяет нам проводить 20 траурных церемоний в день строго по графику</div>
                </div>
            </div>
            <div class="main-labels">
                <a href="#" class="main-labels__item main-labels__item--contract labels-contract">
                    <div class="labels-contract__name">
                        ГБУ<br class="in-mobile"> МФЦ-Ритуал
                    </div>
                    <div class="labels-contract__info">
                        Договор №345 ЦДС/К-18
                    </div>
                </a>
                <a href="#" class="main-labels__item main-labels__item--mo labels-mo">
                    <div class="labels-mo__name">
                        Московская<br /> область
                    </div>
                </a>
            </div>
            <div class="section-menu">
                <a href="#" class="section-menu__item section-menu__item--morgue">
                    Морги Москвы
                </a>
                <a href="#" class="section-menu__item section-menu__item--cemetery">
                    Кладбища Москвы
                </a>
                <a href="#" class="section-menu__item section-menu__item--columbarie">
                    Колумбарии Москвы
                </a>
                <a href="#" class="section-menu__item section-menu__item--cremation">
                    Крематории Москвы
                </a>
            </div>
        </div>

    </div>
</div>

<div class="main-services">
    <div class="container">
        <div class="main-services__header">
            Ритуальные товары и услуги
        </div>
        <div class="main-services__grid">
            <div class="main-services__item">
                <a href="#" class="service-block service-block--burial">
                    <div class="service-block__caption">
                        Захоронение
                    </div>
                </a>
            </div>
            <div class="main-services__item">
                <a href="#" class="service-block service-block--place">
                    <div class="service-block__caption">
                        Место на кладбище
                    </div>
                </a>
            </div>
            <div class="main-services__item">
                <a href="#" class="service-block service-block--calc">
                    <div class="service-block__caption">
                        Калькулятор похорон
                    </div>
                </a>
            </div>
            <div class="main-services__item">
                <a href="#" class="service-block service-block--cremation2">
                    <div class="service-block__caption">
                        Кремация
                    </div>
                </a>
            </div>
            <div class="main-services__item">
                <a href="#" class="service-block service-block--200">
                    <div class="service-block__caption">
                        Груз 200
                    </div>
                </a>
            </div>
            <div class="main-services__item">
                <a href="#" class="service-block service-block--posobie">
                    <div class="service-block__caption">
                        Льготы и пособия
                    </div>
                </a>
            </div>
        </div>

        <div class="about-personal stext">
            <div class="header1">Наши сотрудники</div>
            <p>На сегодняшний день штат «МФЦ-Ритуал» состоит из 30 сотрудников различных специальностей.</p>
            <p>Каждый работник со всей ответственностью относится к возложенным на него обязательствам, понимая и 
                осознавая всю серьезность мероприятия. Профессиональные менеджеры грамотно и деликатно работают с 
                клиентами, пытаясь в самые сложные моменты их жизни в индивидуальном порядке выполнить все пожелания и требования.</p>
        </div>

        <a href="#" class="agent-list">
            <div class="agent-list__box">
                <div class="agent-list__caption">Список ритуальных агентов МФЦ-Ритуал</div>
                <div class="agent-list__text">Городская специализированная служба по вопросам похоронного дела</div>
                <span class="agent-arrow">
                    <span class="agent-arrow__inner"></span>
                </span>
                <span class="agent-arrow-small">
                    <span class="agent-arrow-small__inner"></span>
                </span>
            </div>
        </a>

    </div>
</div>

<div class="about-bottom">
    <div class="container">
        <div class="about-bottom__lead">
            Одно из преимуществ сотрудничества с нами – индивидуальный подход к каждому клиенту. Потому, если среди 
            вышеперечисленных услуг вы не нашли интересующую конкретно вас –<br /> мы всегда готовы к диалогу, можем 
            обсудить дополнительные услуги и предоставить нестандартную помощь для оптимального проведения церемонии погребения
        </div>

        <div class="separator"><div class="separator__icon"></div></div>

        <div class="main-contacts__grid">
            <div class="main-contacts__content">
                <div class="main-contacts__header">
                    Наши контакты
                </div>
                <div class="main-contacts__subheader">
                    Свяжитесь удобным для вас способом
                </div>
                <div class="main-contacts__list">
                    <div class="main-contacts__item main-contacts__item--phone">
                        <a href="tel:#">+7 495 532-88-62 </a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--email">
                        <a href="tel:#">info@mfc-ritual.ru</a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--address">
                        Москва<br />
                        2-я Мелитопольская, д. 4Б
                    </div>
                </div>
            </div>
            <div class="main-contacts__map">
                <div id="map"></div>
            </div>
        </div>

        <div class="separator"><div class="separator__icon"></div></div>
            
        <div class="about-bottom__funeral stext">
            <div class="about-how-works__grid">
                <div class="about-how-works__text">
                    <div class="about-how-works__header">
                        Организация похорон
                    </div>
                    <p>Клиентам небезразлично, кто именно будет отвечать за организацию похорон из близких. На текущий момент в штате Московской ритуальной службы занято более трех десятков сотрудников различных специализаций. Каждый работник подходит к выполнению обязанностей ответственно и с полной отдачей. Наши сотрудники никогда не забывают всю важность и степень серьезности траурных мероприятий.</p>
                    <p>У нас трудятся высококвалифицированные менеджеры, способные обстоятельно и предельно деликатно общаться с клиентами. Даже самые незначительные пожелания заказчиков непременно берутся в учет. Специалисты из юридического отдела действуют строго в соответствии с нормами федерального законодательства «О погребении и похоронном деле», а также локальных нормативно-правовых актах.</p>
                </div>
                <div class="about-how-works__video">
                    <div class="main-video">
                        <img class="main-video__image" src="/assets/template/images/how-works.jpg" alt="">
                        <a data-fancybox="" href="https://www.youtube.com/watch?v=RLsYyoQJk7g" class="main-video__link">
                            <span class="main-video__caption">Как работает городская похоронная служба <span>МФЦ-Ритуал</span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="about-bottom__content">
                    <p>Мы берем на себя обязанность по согласованию всех вопросов касательно оформления документов. Пока ведется работа с документацией, квалифицированные мастера флористики занимаются созданием изысканных авторских композиций. В профессионализме наших сотрудников сомневаться не стоит - за их плечами обучение в «Российско-Немецком учебном центре Похоронного сервиса и погребального искусства». Такой опыт не проходит зря, наделяя сотрудников умением справляться с работой оперативно и качественно. Мы тщательно следим, чтобы запланированные мероприятия и порядок их организации в полной мере соответствовали медицинским, юридическим и этическим нормам.</p>
                    <h3>Почему следует обращаться к нам</h3>
                    <p>Основное преимущество нашей компании - комплексный и всегда индивидуальный подход к каждому клиенту. В отличие от многих конкурентов, мы обеспечиваем его не только на словах: если среди вышеперечисленных услуг вы не нашли нужную, просто сообщите нам об этом. Наши менеджеры готовы вступить в диалог и согласовать порядок предоставления специального сервиса или оказать помощь нестандартного характера.</p>
                    <h3 style="margin-top: 30px;">Почему выбирают именно нас?</h3>
                    <p>Объективные причины востребованности услуг "МФЦ-Ритуал":</p>
                    <p>— Грамотно продуманная ценовая политика без ущерба качества услуг. Это крайне важно, ведь в сложной жизненной ситуации человеческое отношение и понимание превыше всего;</p>
                    <p>— Мы - не роботы, и охотно поддерживаем клиентов психологически;</p>
                    <p>— Обращаться к нам могут люди самого разного достатка. Убедитесь в этом лично, ознакомившись с прайс-листом компании по данной ссылке.</p>
                    <p>Искренне желаем вам как можно дольше не иметь повода для обращения к услугам наших сотрудников. Но когда настанет тот день, когда вам все же понадобится помощь и поддержка, просто наберите указанный номер. Обратившись к менеджеру, вы получите подробную информацию о порядке заказа, условиях предоставления услуг и порядке расчета стоимости.</p>
            </div>

        </div>

    </div>
</div>

</div>

//= include/mediahelp.html
//= include/footer-contacts.html