//= include/header.html

	<div class="single-page single-page--agent">
		<div class="container">
			<div class="single-page__grid">
				<div class="single-page__content stext">

                    <div class="crumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Ритуальные услуги</a></li>
                            <li>Ритуальный агент</li>
                        </ul>
                    </div>

					<h1>Бесплатный выезд ритуального агентакруглосуточно по Москве и МО</h1>
					<p><span class="bold">Ритуальный агент (распорядитель похорон)</span> — специалист по организации похорон и траурных мероприятий, работающий по поручению родственников умершего.</p>
                    <p>Участие опытного распорядителя в организации похорон – практическая необходимость. Грамотные действия профессионального ритуального агента, знающего все нюансы своей сферы деятельности, помогут избежать лишних трат, нервотрепки и сэкономить время.</p>
                    <p>Подавляющее большинство семей считают, что похоронами должен заниматься опытный, ответственный и этически безупречный ритуальный агент – он сделает быстрее, лучше и надёжнее, чем сами родственники. </p>
                    <div class="header2">Что делать если скончался человек:</div>
                    <p>Связаться с нашей службой и вызвать ритуального агента можно круглосуточно<br /> по телефону <span class="bold">+7 495 532-88-62</span></p>
                    <div class="content-btn__row">
                        <a href="#" class="content-btn">Скончался дома</a>
                        <a href="#" class="content-btn">Скончался в больнице</a>
                    </div>

                    <div class="separator"><div class="separator__icon"></div></div>

                    <div class="agent-docs">
                        <div class="header2">Образцы получаемых документов</div>
                        <div class="agent-docs__row">
                            <div class="agent-docs__item">
                                <div class="agent-docs__card">
                                    <div class="agent-docs__image">
                                        <img src="/assets/template/images/docs/gss.png" alt="">
                                    </div>
                                    <div class="agent-docs__info">
                                        <div class="agent-docs__title">
                                            Гербовое свидетельство о смерти
                                        </div>
                                        <div class="agent-docs__descr">
                                            Выдается в МФЦ, отделом ЗАГС
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="agent-docs__item">
                                <div class="agent-docs__card">
                                    <div class="agent-docs__image">
                                        <img src="/assets/template/images/docs/ss.png" alt="">
                                    </div>
                                    <div class="agent-docs__info">
                                        <div class="agent-docs__title">
                                            Справка о смерти
                                        </div>
                                        <div class="agent-docs__descr">
                                            Выдается в морге
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="agent-docs__item">
                                <div class="agent-docs__card">
                                    <div class="agent-docs__image">
                                        <img src="/assets/template/images/docs/spsp.png" alt="">
                                    </div>
                                    <div class="agent-docs__info">
                                        <div class="agent-docs__title">
                                            Справка на получение социального пособия (форма-33)
                                        </div>
                                        <div class="agent-docs__descr">
                                            Выдается в МФЦ, отделом ЗАГС
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="separator"><div class="separator__icon"></div></div>

                    <h2>ПЕРЕЧЕНЬ ОБЯЗАННОСТЕЙ И УСЛУГИ  РИТУАЛЬНОГО АГЕНТА</h2>

                    <ul class="mdash">
                        <li>Бесплатный  выезд за 40 минут  в любой район Москвы и Московской области - позволяет экономить время и переживание</li>
                        <li>Составление сметы на похоронные товары - гарантирует возможность предварительно рассчитать предстоящие расходы </li>
                        <li>Контроль выдачи тела в морге и сопровождение на кладбище, при этом агент компании присутствует на каждом этапе транспортировки тела</li>
                        <li>Сбор необходимых документов для захоронения и получения льгот</li>
                        <li>Получение свидетельства о смерти и справки на получение социального пособия (форма - 33)</li>
                        <li>Заказ кремации и подготовка к ней</li>
                        <li>Заказ муниципального захоронения</li>
                        <li>Заказ и организация поминального обеда</li>
                        <li>Организация отпевания и панихиды</li>
                        <li>Предоставление специального транспорта и составление маршрута похорон</li>
                        <li>Защита от «черных» похоронных агентов</li>
                    </ul>

                    <div class="header2">РИТУАЛЬНЫЙ АГЕНТ «МФЦ-РИТУАЛ»</div>

                    <p>При организации процесса похорон по поручениям родственников умершего работают специальные сотрудники «МФЦ-Ритуал» – ритуальные агенты в Москве и Московской области. Это высококвалифицированные и опытные специалисты. Они знают все нюансы сферы ритуальных услуг, от их грамотной работы зависит, насколько чётко и быстро будут организованы похоронные мероприятия. Обратившись за услугами похоронных агентов «МФЦ-Ритуал», вы избежите лишних трат, нервотрепки, сэкономите время. Мы считаем, что в современных условиях похоронами должен заниматься ритуальный агент, только он сможет организовать все необходимые процедуры быстрее и лучше родственников.</p>
                    <h3>Какие обязанности возьмет на себя наш ритуальный агент?</h3>
                    <p>Мы можем без ложной скромности сказать, что в «МФЦ-Ритуал» работают лучшие похоронные агенты Москвы. Они смогут провести похоронные ритуалы любой сложности и уровня, от скромного погребения, когда попрощаться с покойным придут только самые близкие люди, до пышных и  недорогих похорон.</p>
                    <h3>Профессиональные качества похоронных агентов</h3>
                    <p>Согласно столичным законам, все ритуальные агенты в Москве должны получить аккредитацию. В «МФЦ-Ритуал» работают только аккредитованные специалисты, досконально изучившие тонкости своего нелегкого, но, увы, необходимого людям ремесла. Они строго придерживаются этических норм и неписаных правил работников ритуальной службы. Агенты прошли профессиональное обучение и ежегодно посещают специальные курсы повышения квалификации.</p>
                    <p>Ведь каждый опытный ритуальный агент это, во многих отношениях, тонкий психолог и даже философ. В ритуальном бизнесе могут надолго задержаться только чуткие к чужому горю и, в то же время, психологически устойчивые люди. Наши агенты умеют слушать и слышат людей, они аккуратны и ответственны. Всегда сообщают родственникам обо всех положенных по закону льготах и государственных выплатах, подробно консультируют о порядке их получения, если будет нужно, займутся сопутствующими бюрократическими и организационными хлопотами, включая организацию поминальной трапезы и религиозных обрядов.</p>
                    <p>Агент похоронных услуг «МФЦ-Ритуал» настоящий профессионал и приложит все усилия, чтобы лишний стресс не коснулся родных и близких покойного. Также о каждом сотруднике Вы можете ознакомится с <a href="#">отзывами</a>.</p>

                    <div class="separator"><div class="separator__icon"></div></div>

                    <h2>Похоронный агент обязан:</h2>

                    <ul class="mdash">
                        <li><span class="bold">Организовать процесс похорон в соответствии с этикой и традициями погребального обряда.</span><br />
                            Каждый специалист нашей службы хорошо знает, как гражданские, так и религиозные аспекты похоронных ритуалов. При выполнении заказа по похоронам обязательно учитываются национальные традиции разных народов, проживающих в нашей стране. Соблюдение обрядов помогает исполнить волю покойного, проявить уважение к чувствам родственников.</li>
                        <li><span class="bold">Проконсультировать заказчиков по всем вопросам, связанным с похоронами.</span><br />
                            Для большинства граждан  процесс организации похорон – дело малознакомое. Человеку, только что потерявшему кого-то из родных, трудно собраться с силами и проанализировать ситуацию. А ведь предстоит за короткое время решить массу проблем, связаться со службами и организациями, приобрести все необходимое. Погребение или кремация, проведение религиозных обрядов, оформление документов на захоронение, выбор кладбища, заказ поминального обеда и многие другие детали волнуют родственников и требуют разъяснений. Ритуальный агент хорошо подготовлен и может предоставить исчерпывающую информацию по данным вопросам.</li>
                        <li><span class="bold">Обсудить с клиентами предстоящие траурные услуги и мероприятия, составить их список и оформить договор на предоставление услуг.</span><br />
                            Агент рассказывает заказчикам обо всех возможностях нашей службы, информирует о расценках, вместе с клиентом планирует ритуальные мероприятия. Наши специалисты возьмут на себя все обязанности по проведению похорон, чтобы близкие усопшего могли сосредоточиться на своих чувствах и достойно проводить его в последний путь.</li>
                    </ul>

                    <p>Когда в дом приходит беда, сложно сосредоточиться, отвлечься от переживаний и заняться насущными делами. В этот горестный момент родственникам усопшего требуется поддержка – прежде всего, помощь в организации процесса похорон.</p>
                    <p>Государственный ритуальный агент представляет нашу службу и берет на себя все обязательства по оказанию ритуальных услуг. Это  проведение похорон, оформление документов, консультационная помощь. Важнейшим аспектом работы ритуального агента является моральная поддержка людей, потерявших близкого. В минуту тяжелой утраты очень нужно, чтобы рядом оказался человек, который четко, профессионально организует траурные мероприятия. Самим своим присутствием, корректной работой ритуальный агент утешает и успокаивает, вселяя уверенность, что похороны пройдут достойно.</p>

                    <div class="separator"><div class="separator__icon"></div></div>

                    <p class="danger">Просим вас проявлять бдительность!</p>
                    <p>В последнее время участились случаи, когда под видом представителей ритуальной службы скрываются мошенники, которые пользуются растерянностью и подавленностью людей в своих корыстных целях. Чтобы не стать их жертвой, пожалуйста, проверьте следующие документы:</p>

                    <ul class="mdash">
                        <li>удостоверение ритуального агента</li>
                        <li>квитанция-договор по форме ПП РФ 26.05.2008 номер 359</li>
                        <li>прейскурант ритуальной службы с печатью и подписью руководителя</li>
                    </ul>

				</div>
				<div class="single-page__sidebar">
                    <div class="sidebar-employee">
                        <a href="#" class="btn btn--employee">Список сотрудников центра</a>
                    </div>
                    <div class="agent-steps">
                        <div class="agent-steps__title">
                            Стоимость услуг ритуального агента по оформлению документов <span class="red">4000 рублей</span>
                        </div>
                        <ol class="styled">
                            <li>Выезд агента на дом, отправка усопшего в морг, составление сметы</li>
                            <li>Получение медицинской справки о смерти в морге</li>
                            <li>Получение гербового свидетельства о смерти и справки на пособие</li>
                            <li>Доставка одежды в морг и согласование даты и время похорон</li>
                        </ol>
                    </div>
                    <div class="agent-form">
                        <form action="">
                            <div class="agent-form__caption">ВЫЗВАТЬ РИТУАЛЬНОГО АГЕНТА бесплатно <span class="red">ОНЛАЙН</span></div>
                            <div class="agent-form__info">
                                С помощью данного сервиса после заполнения всех полей к Вам на указанный адрес приедет ритуальный агент городской специализированной службы "МФЦ-Ритуал"
                            </div>
                            <div class="agent-form__inputs">
                                <div class="agent-form__input-item error">
                                    <input type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="agent-form__input-item">
                                    <input type="text" name="address" placeholder="Адрес">
                                </div>
                                <div class="agent-form__input-item">
                                    <input type="text" name="phone" placeholder="Номер телефона" data-mask="+7(999) 999-99-99">
                                </div>
                            </div>
                            <div class="agent-form__submit-box">
                                <button class="btn">Вызвать ритуального агента</button>
                            </div>
                            <p class="agent-form__fz152">
                                Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
                            </p>
                        </form>    
                    </div>
                    <div class="sidebar-reviews">
                        <div class="sidebar-reviews__title">
                            Отзывы об &laquo;МФЦ-Ритуал&raquo;
                        </div>
                        <div class="sidebar-reviews__list">
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Благодарю за помощь в организации кремации! Сервис предоставления услуг на самом высшем уровне. Цены доступные, а выбор товаров очень разнообразный. Спасибо
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Владимир Ефимович</span>
                                    <span class="sidebar-reviews__date">27 ноября 2018</span>
                                </div>
                            </div>
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Благодарю за проведение  похорон и предоставление места на кладбище. Сотрудники Вашей ритуальной службы "МФЦ-Ритуал", отработали по самому высокому баллу. Водитель и грузчики знают как надо, очень доброжелательные люди и  во всем помогали.
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Эдуард</span>
                                    <span class="sidebar-reviews__date">15 ноября 2018</span>
                                </div>
                            </div>
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Спасибо, что в наши тяжелые моменты жизни, пришли к нам на помощь! Благодарим вас за все! Похороны прошли  четко и слажено. Ритуальный агент все знает на перед , помогал и поддерживал. Цены очень приемлемые, а качество на высшем уровне!
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Екатерина</span>
                                    <span class="sidebar-reviews__date">04 ноября 2018</span>
                                </div>
                            </div>

                        </div>
                        <div class="sidebar-reviews__button">
                            <a href="#" class="btn">Смотреть все отзывы</a>
                        </div>
                    </div>


				</div>
			</div>
		</div>
    </div>
    


//= include/footer.html