//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/info/">Полезная информация</a></li>
                    <li>Статьи</li>
                </ul>
            </div>

            <h1>Все статьи</h1>

            <div class="b-articles">
                <div class="b-articles__grid">
                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель.
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--1"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель.
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--2"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель.
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--1"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель. Николо-Архангельский и 
                                Митинский крематории будут работать в штатном режиме...
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--2"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель.
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--1"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель. Николо-Архангельский и 
                                Митинский крематории будут работать в штатном режиме...
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--2"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель.
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>

                    <div class="separator article-separator--1"><div class="separator__icon"></div></div>

                    <div class="b-articles__item">
                        <div class="article-card">
                            <div class="article-card__name">
                                <a href="#" class="article-card__link">Отделения Пенсионного фонда</a>
                            </div>
                            <div class="article-card__date">
                                15 ноября 2018
                            </div>
                            <div class="article-card__text">
                                Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. 
                                Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель. Николо-Архангельский и 
                                Митинский крематории будут работать в штатном режиме...
                            </div>
                            <div class="article-card__more">
                                <a href="" class="article-card__more-link">Читать полностью</a>
                            </div>
                        </div>
                    </div>
    

                </div>
                <div class="b-articles__pagination">
                    <div class="styled-page-navigation">
                        <span class="styled-page-navigation__item styled-page-first styled-page-current">1</span>
                        <a href="/reviews/?PAGEN_1=2" class="styled-page-navigation__item " class="styled-page-navigation__item">2</a>
                        <a href="/reviews/?PAGEN_1=3" class="styled-page-navigation__item " class="styled-page-navigation__item">3</a>
                        <a href="/reviews/?PAGEN_1=4" class="styled-page-navigation__item " class="styled-page-navigation__item">4</a>
                        <a href="/reviews/?PAGEN_1=5" class="styled-page-navigation__item " class="styled-page-navigation__item">5</a>
                        <a class="styled-page-dots styled-page-navigation__item" href="/reviews/?PAGEN_1=6">...</a>
                        <a href="/reviews/?PAGEN_1=7" class="styled-page-navigation__item">7</a>
                        <a class="styled-page-navigation__next" href="/reviews/?PAGEN_1=2">След.</a>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>


//= include/mediahelp.html
//= include/footer.html