//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Ритуальные товары</a></li>
                    <li>Гробы</li>
                </ul>
            </div>

            <h1>Ритуальные товары — Магазин ритуальных товаров</h1>
            <p>Если умер близкий человек и нужно купить ритуальные товары и принадлежности необходимое для траурной церемонии, посетите наш интернет-магазин ритуальных товаров. Здесь представлен полный перечень ритуальных предметов и аксессуаров из ассортимента крупнейшего салона похоронных принадлежностей в Москве.</p>
            <h3>Ритуальные товары в Москве - можно купить в МФЦ-Ритуал</h3>
            <p>Если вы хотите сделать выбор лично, можно приехать в многофункциональный похоронный центр (магазин ритуальных товаров) МФЦ-Ритуал, расположенный по адресу ул. Поликарпова, 11. Здесь вы не только подберете необходимые предметы похоронного обихода и удобный автотранспорт, но также сможете получить обстоятельные консультации по организации церемонии прощания и закажете оптимальный для вас план похорон. </p>
            <div class="separator"><div class="separator__icon"></div></div>

        </div>
    </div>
</div>

<div class="b-catalog">
    <div class="container">
        <div class="b-catalog__box">
            <div class="b-catalog__sidebar">
                <div class="catalog-menu">

                    <div class="catalog-menu__item catalog-menu__item--active">
                        <div class="catalog-menu__title">
                            Гробы
                            <a href="#">Все гробы</a>
                        </div>
                        <div class="catalog-menu__items">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Полированные Россия</a></li>
                                <li><a href="#">Полированные импорт</a></li>
                                <li><a href="#">Гробы VIP</a></li>
                                <li><a href="#">Обитые тканью</a></li>
                                <li><a href="#" class="active">Мусульманские</a></li>
                                <li><a href="#">Цинковые</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="catalog-menu__item">
                        <div class="catalog-menu__title">
                            Венки
                            <a href="#">Все венки</a>
                        </div>
                        <div class="catalog-menu__items">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Искусственные</a></li>
                                <li><a href="#">Из живых цветов</a></li>
                                <li><a href="#">Траурные композиции</a></li>
                                <li><a href="#">Траурные ленты</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="catalog-menu__item">
                        <div class="catalog-menu__title">
                            Текстиль
                            <a href="#">Весь текстиль</a>
                        </div>
                        <div class="catalog-menu__items">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Постель в гроб</a></li>
                                <li><a href="#">Покрывало в гроб</a></li>
                                <li><a href="#">Подушка в гроб</a></li>
                                <li><a href="#">Похоронные тапочки</a></li>
                                <li><a href="#">Ритуальная одежда</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="catalog-menu__item">
                        <div class="catalog-menu__title">
                            Кресты
                            <a href="#">Все кресты</a>
                        </div>
                        <div class="catalog-menu__items">
                            <ul class="catalog-menu__list">
                                <li><a href="#">Сосновые</a></li>
                                <li><a href="#">Дубовые</a></li>
                                <li><a href="#">Металлические</a></li>
                                <li><a href="#">Таблички</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="b-catalog__content">

                <div class="catalog-product__list">
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/coffin/b-4.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Гроб «Б-4»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: сосна
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/coffin/b-5.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Гроб «Б-5»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: сосна
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/coffin/apollo.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Гроб «Аполло»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: сосна
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/wreath/standart-1-140.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Венок «140 стандарт - 1»
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/wreath/standart-3-140.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Венок «140 стандарт - 3»
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/wreath/custom-2-140.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Венок «140 заказной - 2»
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/cross/orthodox.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Крест «Православный»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: дуб
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/cross/shamrock.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Крест «Трилистник с распятием»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: дуб
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-product__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <img src="/assets/template/images/cross/with-roof.png" alt="" />
                            </div>
                            <div class="product-card__name">
                                Крест «С крышей и распятием»
                            </div>
                            <div class="product-card__options">
                                <div class="product-card__option">
                                    Материал: дуб
                                </div>
                            </div>
                            <div class="product-card__more">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <div class="separator"><div class="separator__icon"></div></div>

        <div class="b-catalog__bottom stext">
            <h3>Интернет-каталог ритуальных товаров - МФЦ-Ритуал</h3>
            <p>У кого нет времени заниматься подбором ритуальных товаров, то для вас работает наш интернет-магазин ритуальных товаров в Москве, но если вы живете близко, то плюсы от личного посещения нашего салона очевидны: бумажный проспект или интернет-магазин ритуальных товаров не могут заменить возможность воочию увидеть и выбрать все необходимое, чтобы достойно проводить близкого человека в последний путь.</p>
            <p>Кроме того, личное посещение салона поможет вам сформировать впечатление о похоронной службе, которой вы планируете доверить организацию церемонии прощания с близким человеком.</p>
            <p>Опытный консультант проведет вам по демонстрационным залам, подробно расскажет о том или ином предмете ритуального назначения и ответит на все интересующие вас вопросы.</p>
            <p>Осмотр ритуальных товаров займет около часа, поскольку ассортимент большой, а выбор в такой ситуации – дело ответственное и нелегкое.</p>
            
            <h3>Похоронные товары - товары для похорон в Москве</h3>
            <p>Салон и онлайн-каталог ритуальных товаров МФЦ-Ритуал – это отличная возможность выбрать и приобрести похоронные товары в удобное время и устраивающем вас режиме.</p>
            <p>Качественные фотографии и описания помогут вам сделать нужный выбор. Для удобства просмотра, поиска и заказа все ритуальные товары разделены на категории: гробы, венки, кресты, текстиль и аксессуары.</p>
            <p>Крупнейший в Москве многофункциональный похоронный центр (магазин ритуальных товаров) МФЦ-Риутал открыт ежедневно с 9.00 до 17.00 и расположен по адресу ул. Поликарпова, 11.</p>
        </div>

        <div class="separator"><div class="separator__icon"></div></div>

        <div class="main-contacts__grid">
            <div class="main-contacts__content">
                <div class="main-contacts__header">
                    Наши контакты
                </div>
                <div class="main-contacts__subheader">
                    Свяжитесь удобным для вас способом
                </div>
                <div class="main-contacts__list">
                    <div class="main-contacts__item main-contacts__item--phone">
                        <a href="tel:#">+7 495 532-88-62 </a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--email">
                        <a href="tel:#">info@mfc-ritual.ru</a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--address">
                        Москва<br />
                        2-я Мелитопольская, д. 4Б
                    </div>
                </div>
            </div>
            <div class="main-contacts__map">
                <div id="map"></div>
            </div>
        </div>

    </div>
</div>


//= include/mediahelp.html
//= include/footer.html