//= include/header.html

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li>Контакты</li>
                </ul>
            </div>

            <div class="contacts-top">
                <div class="contacts-top__grid">
                    <div class="contacts-top__left">
                        <h1>Контакты</h1>

                        <div class="b-contacts__list">
                            <div class="b-contacts__item b-contacts__item--address">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">АДРЕС МНОГОФУНКЦИОНАЛЬНОГО ПОХОРОННОГО ЦЕНТРА</div>
                                    <div class="b-contacts__value">
                                        Москва, ул. Поликарпова, 11
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item b-contacts__item--phone">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">ТЕЛЕФОН ДЛЯ ЗАКАЗА</div>
                                    <div class="b-contacts__value">
                                        <a href="tel:#">+7 495 532-88-62</a>
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item b-contacts__item--email">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">ЭЛЕКТРОННАЯ ПОЧТА</div>
                                    <div class="b-contacts__value">
                                        <a href="tel:#">info@mfc-ritual.ru</a>
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item b-contacts__item--bo13">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">Оплата наличными</div>
                                    <div class="b-contacts__value">
                                        Бланк отчетности БО-13(2)
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                    <div class="contacts-top__right">
                        <div class="header1">Пункты приема населения</div>
                        <div class="b-contacts__list">
                            <div class="b-contacts__item b-contacts__item--address">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__value">
                                        Москва, Электрический переулок, 3/10с3
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item b-contacts__item--address">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__value">
                                        Москва, Тарный проезд, 2, стр. 6.
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item-light b-contacts__item-light--address b-contacts__item--manufacture">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">производство</div>
                                    <div class="b-contacts__value">
                                        Москва, м. Бульвар Дмитрия Донского,<br />
                                        ул. 2-я Мелитопольская, д. 4Б
                                    </div>
                                </div>
                            </div>
                            <div class="b-contacts__item-light b-contacts__item-light--address">
                                <div class="b-contacts__card">
                                    <div class="b-contacts__label">мастерская по изготовлению памятников</div>
                                    <div class="b-contacts__value">
                                        Солнечногорский район, поселок Майдарово
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts-map">
                <div id="map"></div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="contacts-photo">
                <div class="contacts-photo__header">Фотографии магазина</div>
                <div class="contacts-photo__grid">
                    <div class="contacts-photo__item">
                        <img src="/assets/template/images/contacts/shop-1.jpg" alt="">
                    </div>
                    <div class="contacts-photo__item">
                        <img src="/assets/template/images/contacts/shop-2.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="contacts-dispetcher">
    <div class="container">
        <div class="contacts-dispetcher__grid">
            <div class="contacts-dispetcher__content">
                <div class="contacts-dispetcher__header">Центральная диспетчерская служба</div>
                <div class="contacts-dispetcher__phones">
                    <div class="phone-panel">
                        <div class="phone-panel__box">
                            <div class="phone-panel__redline">Круглосуточная горячая линия</div>
                            <div class="phone-panel__value">+7 495 532-88-62</div>
                        </div>
                    </div>
                    <div class="contacts-dispetcher__agent">
                        Выезд ритуального агента <span class="bold">полностью бесплатный</span> и возможен <span class="bold">в любое время суток</span>
                    </div>
                </div>
                <div class="contacts-dispetcher__text">
                    <p class="contacts-dispetcher__label">Центральная диспетчерская служба принимает заказы<br /> на полный спектр услуг для населения:</p>
                    <ul class="ndash">
                        <li>Организация похорон</li>
                        <li>Вызов ритуального агента</li>
                        <li>Заказ ритуальной продукции</li>
                        <li>Катафальный транспорт</li>
                        <li>Оформление кремации</li>
                        <li>Оформление места захоронения</li>
                    </ul>
                </div>    
                


            </div>
            <div class="contacts-dispetcher__sidebar">
                <div class="agent-form">
                        <form action="">
                            <div class="agent-form__caption">ВЫЗВАТЬ РИТУАЛЬНОГО АГЕНТА бесплатно <span class="red">ОНЛАЙН</span></div>
                            <div class="agent-form__info">
                                С помощью данного сервиса после заполнения всех полей к Вам на указанный адрес приедет ритуальный агент городской специализированной службы "МФЦ-Ритуал"
                            </div>
                            <div class="agent-form__inputs">
                                <div class="agent-form__input-item error">
                                    <input type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="agent-form__input-item">
                                    <input type="text" name="phone" placeholder="Номер телефона" data-mask="+7(999) 999-99-99">
                                </div>
                            </div>
                            <div class="agent-form__submit-box">
                                <button class="btn">Вызвать ритуального агента</button>
                            </div>
                            <p class="agent-form__fz152">
                                Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
                            </p>
                        </form>    
                    </div>
            </div>
            
        </div>
    </div>
</div>

<div class="contacts-bottom">
    <div class="container">
        <div class="contacts-bottom__content stext">
            <div class="contacts-bottom__regions">
                <div class="contacts-bottom__agent">
                        <div class="contacts-bottom__agent-lead">
                            Для оперативного вызова ритуального агента, относящегося непосредственно к округу проживания покойного, 
                            либо месту нахождения его родственников, обращайтесь в окружные похоронные  отделения  службы «МФЦ-Ритуал»
                        </div>
                        <div class="phone-panel">
                                <div class="phone-panel__box">
                                    <div class="phone-panel__redline">Круглосуточная горячая линия</div>
                                    <div class="phone-panel__value">+7 495 532-88-62</div>
                                </div>
                        </div>
                </div>
                <div class="contacts-bottom__map">
                        //= include/map-svg.html
                        <div class="agent-map-mobile">
                            <table style="width: 100%;" class="agent-map-table">
                                <tbody>
                                <tr>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ЗАО" href="/about/vyzov-agenta/zao/">Западный административный округ (ЗАО) &gt;&gt;&gt;</a></td>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ВАО" href="/about/vyzov-agenta/vao/">Восточный административный округ (ВАО) &gt;&gt;&gt;</a></td>
                                </tr>
                                <tr>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ЦАО" href="/about/vyzov-agenta/cao/">Центральный административный округ (ЦАО) &gt;&gt;&gt;</a></td>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в САО" href="/about/vyzov-agenta/sao/">Северный административный округ (САО) &gt;&gt;&gt;</a></td>
                                </tr>
                                <tr>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в СЗАО" href="/about/vyzov-agenta/szao/">Северо-западный административный округ (СЗАО) &gt;&gt;&gt;</a></td>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ЮВАО" href="/about/vyzov-agenta//uvao/">Юго-восточный административный округ (ЮВАО) &gt;&gt;&gt;</a></td>
                                </tr>
                                <tr>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ЮАО" href="/about/vyzov-agenta/uao/">Южный административный округ (ЮАО) &gt;&gt;&gt;</a></td>
                                <td class=" justifyleft"><a title="Вызвать ритуального агента в ЮЗАО" href="/about/vyzov-agenta/uzao/">Юго-западный административный округ (ЮЗАО) &gt;&gt;&gt;</a></td>
                                </tr>
                                <tr>
                                    <td class="justifyleft"><a title="Вызвать ритуального агента в СВАО" href="/about/vyzov-agenta/svao/">Северо-восточный административный округ (СВАО) &gt;&gt;&gt;</a></td>
                                    <td class="justifyleft"><a title="Вызвать ритуального агента в ТАО" href="/about/vyzov-agenta/tao/">Троицкий административный округ (ТАО) &gt;&gt;&gt;</a></td>
                                </tr>
                                <tr>
                                    <td class="justifyleft"><a title="Вызвать ритуального агента в НАО" href="/about/vyzov-agenta/nao/">Новомосковский административный округ (НАО) &gt;&gt;&gt;</a></td>
                                    <td class="justifyleft"><a title="Вызвать ритуального агента в ЗелАО" href="/about/vyzov-agenta/zelao/">Зеленоградский административный округ (ЗелАО) &gt;&gt;&gt;</a></td>
                                </tr>
                                </tbody>
                                </table>
                        </div>
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <h3>Как избежать сложностей и лишних эмоций при организации похорон</h3>
            <p>Смерть - это всегда не очень приятное явление, а смерть близкого человека, вообще, является настоящей трагедией. От одной мысли, что больше не будет рядом того, кто был с вами на протяжении долгих лет, становится как-то не по себе. Но рано или поздно каждый с этим сталкивается. Конечно, сдержать эмоции в такой ситуации очень сложно. Еще сложнее пытаться что-то делать. Но время не стоит на месте и после смерти кого-то из близких нужно как-то организовать похороны. Понятно, что для этого необходимо обращаться в какие-то государственные организации, ритуальные агентства и т.д.</p>
            <p>Ведь проводы человека в последний путь - это не просто формальная процедура, а знак того, что этот человек был для вас очень дорог. К тому же на похороны придут и другие люди, поэтому все нужно организовать правильно. Но как это сделать, если эмоции вас переполняют и вы совершенно не можете собраться с мыслями? Поможет в этом вам «МФЦ-Ритуал», контакты которого вы видите на данной странице. </p>
            <h3>Перечень услуг нашей компании</h3>
            <p>Наша компания предлагает вам весь комплекс ритуальных услуг, включая подготовку и полную организацию похорон. Помимо продажи основной атрибутики (венки, кресты, гробы и т.д.), мы занимаемся еще и решением организационных вопросов. Взаимодействие с руководством кладбищ, государственными органами, медицинскими организациями и т.д. - все эти заботы мы полностью готовы взять на себя. Мы понимаем, насколько для вас тяжела утрата близкого человека, поэтому не хотим доставлять вам неудобства. Все, что от вас потребуется - обратиться к нам один раз и сообщить все необходимые данные. Мы работаем в сфере ритуальных услуг достаточно долгое время и смогли заслужить репутацию одного из лучших ритуальных агентств. </p>
            <h3>В трудный момент мы придем на помощь </h3>
            <p>Контакты «МФЦ-Ритуал», указанные на этом сайте, лучше записать сразу. Они могут понадобиться в любой момент, даже самый неподходящий. Возможно, кто-то из ваших знакомых будет искать ритуальное агентство. Хотелось бы отметить, что мы занимаемся не только организацией похорон, но и сопровождением прочих мероприятий, связанных с ритуальными услугами (перезахоронение, установка памятника и т.д.). Поэтому лучше, если наши контактные данные всегда будут находиться у вас под рукой. Поверьте - к таким моментам лучше быть готовым заранее, хотя бы в плане того, что у вас будет определенная информация. Поэтому сохраните наши контактные данные и обращайтесь в любой момент, как только вам понадобится наша помощь.</p>

        </div>
    </div>
</div>

//= include/mediahelp.html
//= include/footer-contacts.html