//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about/">О компании</a></li>
                    <li>Вышестоящая организация ГБУ "РИТУАЛ"</li>
                </ul>
            </div>

            <h1>ГБУ "РИТУАЛ"</h1>
            <p>
                27 января 2015 указом Московского Правительства за номером 29-РП была создана структура, 
                специализирующая на предоставлении ритуальных услуг различным слоям городского населения столицы. 
                Образование новой структуры проходило на базе ГУП с одноименным названием. Начиная с 30-х гг. прошлого века, 
                в Москве действовала организация «Спецтрест», обслуживающая граждан в похоронной сфере. Именно на смену этой 
                структуры был образован «Ритуал» после распада Советского Союза.
            </p>

            <div class="gbu-chain">
                <div class="gbu-chain__item">
                    <img src="/assets/template/images/gbu/gbu-1.png" alt="">
                </div>
                <img class="gbu-chain__arrow" src="/assets/template/images/gbu/gbu-arrow.png" alt="">
                <div class="gbu-chain__item">
                    <img src="/assets/template/images/gbu/gbu-2.png" alt="">
                </div>
                <img class="gbu-chain__arrow" src="/assets/template/images/gbu/gbu-arrow.png" alt="">
                <div class="gbu-chain__item">
                    <img src="/assets/template/images/gbu/gbu-3.png" alt="">
                </div>
                <img class="gbu-chain__arrow" src="/assets/template/images/gbu/gbu-arrow.png" alt="">
                <div class="gbu-chain__item">
                    <img src="/assets/template/images/gbu/gbu-4.png" alt="">
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="gbu-top">
                <div class="gbu-top__grid">
                    <div class="gbu-top__target">
                        <p>Основным родом деятельности новой структуры стал надзор и содержание инфраструктуры похоронного значения на всей территории Московского муниципалитета. По статистическим сведениям на прошлый год в распоряжении службы находятся 136 кладбищ и 3 муниципальных крематория. Причем надсмотр осуществляет как над закрытыми, так и ныне действующими территориями для погребений.</p>
                        <p>ГБУ «РИТУАЛ» входит в городское ведомство торговли и услуг. Помимо надзора и содержания, орган уполномочен осуществлять аукционные торги мест для создания родовых и семейных погребений.</p>
                    </div>
                    <div class="gbu-top__srtucture gbu-srtucture">
                        <div class="gbu-srtucture__item gbu-srtucture__item--manager">
                            <div class="gbu-srtucture__card">
                                <div class="gbu-srtucture__title">
                                    Глава службы:
                                </div>
                                <div class="gbu-srtucture__text">
                                    Артем Александрович Екимов
                                </div>
                            </div>
                        </div>
                        <div class="gbu-srtucture__item gbu-srtucture__item--address">
                            <div class="gbu-srtucture__card">
                                <div class="gbu-srtucture__title">
                                    Прием граждан осуществляется по адресу:
                                </div>
                                <div class="gbu-srtucture__text">
                                    125057, Москва, ул. Песчаная, 3
                                </div>
                            </div>
                        </div>
                        <div class="gbu-srtucture__item gbu-srtucture__item--clock">
                            <div class="gbu-srtucture__card">
                                <div class="gbu-srtucture__title">
                                    График работы службы приема населения:
                                </div>
                                <div class="gbu-srtucture__text">
                                    Понедельник, вторник, четверг 8:00 - 15:00<br />
                                    Пятница 8:00 - 15:45
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>

<div class="gbu-blue stext">
    <div class="container">
        <div class="gbu-blue__grid">
            <div class="gbu-blue__item">
                <div class="gbu-blue__title">
                    Основное назначение службы
                </div>
                <ul class="mdash">
                    <li>Уход и благоустройство территорий погостов</li>
                    <li>Обслуживание и уход за могилами</li>
                    <li>Выдача и подготовка мест, предназначенных для родового или семейного захоронения</li>
                    <li>Улучшение работы ритуальных объектов и муниципальных крематориев</li>
                    <li>Ведение учета и архива погребений, а также базы данных похороненных лиц столичного региона, в том числе военнослужащих. Одной из основных задач является формирование единой погребальной базы столицы</li>
                    <li>Формирование бесперебойной и круглосуточной работы службы диспетчеров</li>
                </ul>
            </div>
            <div class="gbu-blue__item">
                <div class="gbu-blue__title">
                    В структуру организации входят три муниципальных ритуальных предприятия, готовых оказать следующие услуги
                </div>
                <ol class="styled">
                    <li>АО «Ритуал – сервис». Является одной из старейших служб на рынке ритуальных услуг. Готова предоставить полный цикл похоронных услуг, от организации необходимых мероприятий, до предоставления нужной атрибутики, в том числе для льготной категории населения бесплатно, либо с предоставлением существенных скидок.</li>
                    <li>ОАО «МКК-Ритуал». Организация проводит земляные работы на погостах.</li>
                    <li>ООО «Ритуал-гранит». Компания занимается изготовлением монументов и могильных памятников, в том числе бесплатное предоставление оных для льготной категории граждан, таких как действующие на момент смерти военнослужащие или ушедшие в запас.</li>
                </ol>
                

            </div>
        </div>
    </div>
</div>

<div class="gbu-contacts">
    <div class="container">
        <div class="main-contacts__grid">
            <div class="main-contacts__content">
                <div class="main-contacts__header">
                    Наши контакты
                </div>
                <div class="main-contacts__subheader">
                    Свяжитесь удобным для вас способом
                </div>
                <div class="main-contacts__list">
                    <div class="main-contacts__item main-contacts__item--phone">
                        <a href="tel:#">+7 495 532-88-62 </a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--email">
                        <a href="tel:#">info@mfc-ritual.ru</a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--address">
                        Москва<br />
                        2-я Мелитопольская, д. 4Б
                    </div>
                </div>
            </div>
            <div class="main-contacts__map">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

//= include/mediahelp.html
//= include/footer.html