//= include/header.html

	<div class="single-page">
		<div class="container">
	        <div class="single-page__content stext">
                <div class="crumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Ритуальные услуги</a></li>
                        <li>Груз 200</li>
                    </ul>
                </div>

                <h1>Перевозка и транспортировка груза 200 по России, странам СНГ и всему миру</h1>
                <p>Термин «Груз 200» означает перевозку тела или праха умершего на дальнее расстояние к месту погребения (или перезахоронения).</p>
                <p>Термин вошел в русский язык после Афганской войны (1979-1989), где выражение груз 200 применялось советскими военными для обозначения перевозки тела погибшего военнослужащего на родину к месту погребения.</p>
                <h3>Как правильно перевозить груз 200</h3>
                <p>Перевозят груз 200 в специальном контейнере, в который вкладывается герметично запаянный цинковый гроб с телом или урной с прахом. </p>
                <p>Перевезти груз 200 – сложная организационная задача, требующая соблюдения условий хранения тела и транспортировки, а также оформления значительного количества разрешительных документов. Перевозкой груза 200 занимаются похоронные компании.</p>
            </div>
		</div>
    </div>

    <div class="service-200">
        <div class="container">
            <div class="service-200__content stext">
                <div class="header1">Список предоставляемых услуг</div>

                <div class="service-200__items">
                    <div class="service-200__item">
                        <div class="service-200__card service-200__card--1">
                            Оформление документов в течение 1 дня
                        </div>
                    </div>
                    <div class="service-200__item">
                        <div class="service-200__card service-200__card--2">
                            Бесплатная консультация и выезд агента
                        </div>
                    </div>
                    <div class="service-200__item">
                        <div class="service-200__card service-200__card--3">
                            Отправка Груза 200 по России, в Украину, ближнему и дальнему зарубежью
                        </div>
                    </div>
                    <div class="service-200__item">
                        <div class="service-200__card service-200__card--4">
                            Отправка и встреча в аэропортах: Домодедово, Внуково, Шереметьево
                        </div>
                    </div>
                </div>

                <div class="service-200__grid">
                    <div class="service-200__col">
                        <div class="service-200__panel">
                            <div class="service-200__caption">отправка груз 200</div>
                            <ol class="styled">
                                <li>Выезд агента, составление сметы бесплатно</li>
                                <li>Ящик транспортировочный (цинк)</li>
                                <li>Опайка цинка</li>
                                <li>Гроб + постель + подушка + покрывало</li>
                                <li>Получение медицинской справки в морге</li>
                                <li>Получение гербового свидетельства о смерти и справки на пособие</li>
                                <li>Получение справки СЭС</li>
                                <li>Доставка одежды в морг, согласование даты и время похорон</li>
                                <li>Катафальный автобус в аэропорт</li>
                                <li>Оформление заказа</li>
                                <li>Акт о не вложении</li>
                                <li>Доставка принадлежностей в морг</li>
                                <li>Перевод паспорта иностранного гражданина</li>
                            </ol>
                        </div>
                    </div>
                    <div class="service-200__col">
                        <div class="service-200__panel">
                            <div class="service-200__caption">встреча груз 200</div>
                            <ol class="styled">
                                <li>Встреча Груз 200 в аэропорту</li>
                                <li>Размещение в трупохранилище</li>
                                <li>Заказ  на захоронение/кремацию</li>
                                <li>Туалет и бальзамирование усопшего</li>
                                <li>Катафальный автобус в трупохранилище</li>
                                <li>Гроб + постель + подушка + покрывало</li>
                                <li>Отпевания (очное)</li>
                                <li>Поминальная трапеза</li>
                                <li>Перевод документов на русский язык</li>
                                <li>Предоставление бесплатного места на кладбище</li>
                                <li>Организация копки могилы на родственном участке</li>
                                <li>Кремация в Крематории Москвы</li>
                                <li>Панихида</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="consultation-form">
                    <div class="consultation-form__caption">
                        Получите бесплатную консультацию по перевозке груза 200
                    </div>
                    <div class="consultation-form__info">
                        Наши сотрудники помогут вам организовать перевозку в любое время суток, правильно оформит все необходимые сопроводительные документы
                    </div>
                    <div class="consultation-form__grid">
                        <div class="consultation-form__input-item">
                            <input type="text" name="name" placeholder="Ваше имя">
                        </div>
                        <div class="consultation-form__input-item">
                            <input type="text" name="name" placeholder="Ваш номер телефона" data-mask="+7(999) 999-99-99">
                        </div>
                        <div class="consultation-form__input-item">
                            <button class="btn">Получить консультацию</button>
                        </div>
                    </div>
                    <p class="consultation-form__fz152">
                        Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
    


//= include/footer.html