//= include/header-main.html



	<div class="main-about">
		<div class="container">
			<div class="main-about__grid">
				<div class="main-about__content">
					<h1>Многофункциональный<br /> похоронно-ритуальный центр  МФЦ-Ритуал</h1>

					<p>Многофункциональный похоронно-ритуальный центр по обслуживанию населения «МФЦ - Ритуал»
						предоставляет ритуальные услуги, связанные с погребением усопших,
						комплексный сервис по захоронению и кремированию в Москве и Московской области.</p>
					<div class="text-hidden">
					<p>Его главная цель – помочь населению, которое столкнулось с трудностями по причине утраты
						близких.</p>
					<p>Воспользовавшись услугами этого центра, гражданин получит государственные ритуальные услуги –
						организацию похоронной процедуры. Также ритуальная служба «МФЦ - Ритуал»
						грамотно и юридически правильно оформляют документы и «справки о смерти»,
						организовывает отпевание и процессом погребения, решает вопросы по отправлению тела
						скончавшегося в морг, занимается вопросом подготовки прощания,
						кремирования либо поиском бесплатного места на московском кладбище.</p>
					</div>
					<p class="main-about__more-box"><a href="#" class="main-about__more"><span class="main-about__more--open">Раскрыть</span><span class="main-about__more--hide">Скрыть</span></a></p>
				</div>
				<div class="main-about__sidebar">
					<a href="#" class="what-doing">
						<div class="what-doing__title">
							Что делать, если умер близкий человек?
						</div>
						<div class="what-doing__text">
							Порядок ваших действий в<br /> экстренных ситуациях
						</div>
						<div class="what-doing__link">
							<span>Узнать подробнее</span>
						</div>
					</a>
					<a href="#" class="btn btn--employee">Список сотрудников центра</a>

				</div>
			</div>
		</div>
	</div>

	<div class="main-price">
		<div class="container">
			<div class="main-price__grid">
				<div class="main-price__cremation">
					<div class="main-price__header main-price__header--cremation">
						Стоимость кремации
					</div>
					<div class="price-block__list">
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Базовый</div>
									<div class="price-block__text">Минимальный пакет товаров и<br /> услуг, необходимых для погребения</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">16 760</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Минимальный пакет товаров и<br /> услуг, необходимых для<br /> погребения</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Стандарт</div>
									<div class="price-block__text">Включает в себя все необходимые процедуры для проведения погребения</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">26 990</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Включает в себя все необходимые процедуры для проведения погребения</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Премиум</div>
									<div class="price-block__text">Похороны, подчеркивающие<br /> особый социальный статус усобшего</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">67 940</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Похороны, подчеркивающие<br class="in-mobile"/> особый социальный статус<br class="in-mobile" /> усобшего</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">VIP</div>
									<div class="price-block__text">Элитные похороны, проводимые по специально разработанному сценарию</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">226 550</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Элитные похороны, проводимые по специально разработанному сценарию</div>
						</a>
					</div>
				</div>
				<div class="main-price__burial">
					<div class="main-price__header main-price__header--burial">
						Стоимость захоронения
					</div>
					<div class="price-block__list">
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Базовый</div>
									<div class="price-block__text">Минимальный пакет товаров и услуг,<br /> необходимых для погребения</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">21 560</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Минимальный пакет товаров и<br /> услуг, необходимых для<br /> погребения</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Стандарт</div>
									<div class="price-block__text">Включает в себя все необходимые процедуры для проведения погребения</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">32 580</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Включает в себя все необходимые процедуры для проведения погребения</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">Премиум</div>
									<div class="price-block__text">Похороны, подчеркивающие особый социальный<br /> статус усобшего</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">76 140</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Похороны, подчеркивающие<br class="in-mobile"/> особый социальный статус<br class="in-mobile" /> усобшего</div>
						</a>
						<a href="#" class="price-block">
							<div class="price-block__row">
								<div class="price-block__info">
									<div class="price-block__caption">VIP</div>
									<div class="price-block__text">Элитные похороны, проводимые по специально<br /> разработанному сценарию</div>
								</div>
								<div class="price-block__cost">
									<div class="price-block__price">242 750</div>
									<div class="price-block__cur">рублей</div>
								</div>
							</div>
							<div class="price-block__text--mobile">Элитные похороны, проводимые<br /> по специально разработанному сценарию</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main-partners">
		<div class="container">
			<div class="main-partners__grid partners-slider">
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/eac-ritual.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/minzdrav.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/mosopen.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/pf-rf.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/mosru.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/soc-departament.jpg" alt="">
				</div>
				<div class="main-partners__item">
					<img src="/assets/template/images/partners/soc-registr.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

	<div class="main-services">
		<div class="container">
			<div class="main-services__header">
				Ритуальные товары и услуги
			</div>
			<div class="main-services__grid">
				<div class="main-services__item">
					<a href="#" class="service-block service-block--burial">
						<div class="service-block__caption">
							Захоронение
						</div>
					</a>
				</div>
				<div class="main-services__item">
					<a href="#" class="service-block service-block--place">
						<div class="service-block__caption">
							Место на кладбище
						</div>
					</a>
				</div>
				<div class="main-services__item">
					<a href="#" class="service-block service-block--calc">
						<div class="service-block__caption">
							Калькулятор похорон
						</div>
					</a>
				</div>
				<div class="main-services__item">
					<a href="#" class="service-block service-block--cremation2">
						<div class="service-block__caption">
							Кремация
						</div>
					</a>
				</div>
				<div class="main-services__item">
					<a href="#" class="service-block service-block--200">
						<div class="service-block__caption">
							Груз 200
						</div>
					</a>
				</div>
				<div class="main-services__item">
					<a href="#" class="service-block service-block--posobie">
						<div class="service-block__caption">
							Льготы и пособия
						</div>
					</a>
				</div>
			</div>

			<a href="#" class="agent-list">
				<div class="agent-list__box">
					<div class="agent-list__caption">Список ритуальных агентов МФЦ-Ритуал</div>
					<div class="agent-list__text">Городская специализированная служба по вопросам похоронного дела</div>
					<span class="agent-arrow">
						<span class="agent-arrow__inner"></span>
					</span>
					<span class="agent-arrow-small">
						<span class="agent-arrow-small__inner"></span>
					</span>
				</div>
			</a>

		</div>
	</div>

	<div class="advantages">
		<div class="container">
			<div class="advantages__header">
				Преимущества многофункционального похоронно-ритуального центра МФЦ-Ритуал
			</div>
			<div class="advantages__info">
				<p>
					На что стоит обратить внимание при выборе ритуальной компании?<br />
					Почему стоит выбрать именно наше ритуальное агентство?
				</p>
			</div>

			<div class="separator"><div class="separator__icon"></div></div>

			<div class="advantages__grid">
				<div class="advantages__items">
					<div class="advantages__item advantages__item--experience">
						<div class="advantages__title">Опыт</div>
						<div class="advantages__intro">Мы занимаемся организацией похорон в Москве уже больше 10 лет и знаем все подводные камни</div>
						<div class="b-experience">
							<div class="b-experience__years">11</div>
							<div class="b-experience__text">лет</div>
						</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__title">корректность</div>
						<div class="advantages__intro">Наши сотрудники максимально корректно для родственников и близких покойного человека возьмут на себя все заботы по организации и проведению траурного мероприятия</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__title">защита от «черных похоронных агентов»</div>
						<div class="advantages__intro">Распорядитель ритуальной службы МФЦ-Ритуал защитит вас от любых схем обмана при взаимодействии с сотрудниками служб экстренного вызова, моргов, кладбищ и колумбариев</div>
					</div>
					<div class="advantages__item">
						<div class="advantages__title">пунктуальность</div>
						<div class="advantages__intro">В похоронном деле не может быть задержек. У нас не бывает сбоев – инфраструктура предприятия позволяет нам проводить 20 траурных церемоний в день строго по графику</div>
					</div>
				</div>
				<div class="main-labels">
					<div class="main-labels__item main-labels__item--contract labels-contract">
						<div class="labels-contract__name">
							ГБУ<br class="in-mobile"> МФЦ-Ритуал
						</div>
						<div class="labels-contract__info">
							Договор №345 ЦДС/К-18
						</div>
					</div>
					<div class="main-labels__item main-labels__item--mo labels-mo">
						<div class="labels-mo__name">
							Московская<br /> область
						</div>
					</div>
				</div>
				<div class="section-menu">
					<a href="#" class="section-menu__item section-menu__item--morgue">
						Морги Москвы
					</a>
					<a href="#" class="section-menu__item section-menu__item--cemetery">
						Кладбища Москвы
					</a>
					<a href="#" class="section-menu__item section-menu__item--columbarie">
						Колумбарии Москвы
					</a>
					<a href="#" class="section-menu__item section-menu__item--cremation">
						Крематории Москвы
					</a>
				</div>
			</div>

			<div class="separator"><div class="separator__icon"></div></div>

			<div class="how-works">
				<div class="how-works__grid">
					<div class="how-works__text">
						<div class="how-works__header">
							Похоронный дом <br class="in-mobile" />МФЦ-Ритуал — высокое качество услуг по низким ценам
						</div>
						<p>
							Участие города в капитале компании с уверенностью позволяет нам заявлять о том, что
							обратившись в похоронный дом МФЦ-Ритуал, вы всегда сможете рассчитывать на высокое качество
							ритуальных услуг службы по более низким ценам в сравнении с конкурентами!
						</p>
					</div>
					<div class="how-works__video">
						<div class="main-video">
							<img class="main-video__image" src="/assets/template/images/how-works.jpg" alt="">
							<a data-fancybox="" href="https://www.youtube.com/watch?v=RLsYyoQJk7g" class="main-video__link">
								<span class="main-video__caption">Как работает городская похоронная служба <span>МФЦ-Ритуал</span></span>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main-reviews">
		<div class="container">
			<div class="main-reviews__grid">
				<div class="main-reviews__box">
					<div class="main-reviews__header-box">
						<span class="main-reviews__header">Отзывы</span>
						<a href="#" class="main-reviews__header-link">Все отзывы</a>
					</div>
					<div class="main-reviews__list">
						<div class="main-reviews__item">
							<div class="main-reviews__panel-box">
								<div class="main-reviews__panel">
									<div class="main-reviews__text">
										Благодарю за помощь в организации кремации! Сервис предоставления услуг на самом высшем уровне. Цены доступные, а выбор товаров очень разнообразный. Спасибо
									</div>
								</div>
							</div>
							<div class="main-reviews__meta">
								<span class="main-reviews__author">Владимир Ефимович</span>
								<span class="main-reviews__date">27 ноября 2018</span>
							</div>
						</div>
						<div class="main-reviews__item">
							<div class="main-reviews__panel-box">
								<div class="main-reviews__panel">
									<div class="main-reviews__text">
										Благодарю за проведение  похорон и предоставление места на кладбище. Сотрудники Вашей ритуальной службы "МФЦ-Ритуал", отработали по самому высокому баллу. Водитель и грузчики знают как надо, очень доброжелательные люди и  во всем помогали.
									</div>
								</div>
							</div>
							<div class="main-reviews__meta">
								<span class="main-reviews__author">Эдуард</span>
								<span class="main-reviews__date">15 ноября 2018</span>
							</div>
						</div>
					</div>
				</div>
				<div class="main-awards">
					<div class="main-awards__header">Благодарственные письма</div>
					<div class="main-awards__subheader">Ваше мнение - наша награда!</div>
					<div class="main-awards__list grateful-slider">
						<div class="main-awards__item">
							<img src="/assets/template/images/blagodar01.jpg" alt="">
						</div>
						<div class="main-awards__item">
							<img src="/assets/template/images/blagodar02.jpg" alt="">
						</div>
						<div class="main-awards__item">
							<img src="/assets/template/images/blagodar03.jpg" alt="">
						</div>
						<div class="main-awards__item">
							<img src="/assets/template/images/blagodar04.jpg" alt="">
						</div>
						<div class="main-awards__item">
							<img src="/assets/template/images/blagodar05.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="main-news">
		<div class="container">
			<div class="main-news__header-box">
				<span class="main-news__header">Новости</span>
				<a href="#" class="main-news__header-link">Все новости</a>
			</div>
			<div class="main-news__grid">
				<div class="main-news__big">
					<div class="news-big">
						<div class="news-big__image" style="background-image: url('/assets/template/images/news/news-1.jpg')"></div>
						<div class="news-big__info">
							<div class="news-big__date">15 ноября 2018</div>
							<div class="news-big__title">
								<a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
							</div>
							<div class="news-big__text">
								Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
								работ предположительно составит от 1 до 2 недель
							</div>
						</div>
					</div>
				</div>
				<div class="main-news__list">

					<div class="news-small">
						<div class="news-small__image" style="background-image: url('/assets/template/images/news/news-2.jpg')"></div>
						<div class="news-small__info">
							<div class="news-small__date">4 ноября 2018</div>
							<div class="news-small__title">
								<a href="#" class="news-small__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
							</div>
							<div class="news-small__text">
								Классик русской литературы похоронен в субботу 18 августа на Троекуровском кладбище в Москве
							</div>
						</div>
					</div>

					<div class="news-small">
						<div class="news-small__image" style="background-image: url('/assets/template/images/news/news-3.jpg')"></div>
						<div class="news-small__info">
							<div class="news-small__date">28 октября 2018</div>
							<div class="news-small__title">
								<a href="#" class="news-small__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
							</div>
							<div class="news-small__text">
								Классик русской литературы похоронен в субботу 18 августа на Троекуровском кладбище в Москве
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="separator"><div class="separator__icon"></div></div>

		</div>
	</div>

	<div class="main-insurance">
		<div class="container">
			<div class="main-insurance__grid">
				<div class="main-insurance__content">
					<div class="main-insurance__header">
						Наша ответственность застрахована
					</div>
					<div class="main-insurance__text">
						Что-то может пойти не так? Не волнуйтесь, ведь нас поддерживают лучшие страховые компании
					</div>
					<div class="main-insurance__list">
						<div class="main-insurance__item">
							<img src="/assets/template/images/insurance/partner_vsk.png" alt="">
						</div>
						<div class="main-insurance__item">
							<img src="/assets/template/images/insurance/sogaz.png" alt="">
						</div>
						<div class="main-insurance__item">
							<img src="/assets/template/images/insurance/rgs.png" alt="">
						</div>
					</div>
				</div>
				<div class="main-insurance__sidebar">

					<a href="#" class="attention">
						<div class="attention__title">
							Просим вас проявлять бдительность!
						</div>
						<div class="attention__text">
							Чтобы не попасться в руки мошенников, ознакомьтесь с подробной инструкцией и планом действий
						</div>
						<div class="attention__link">
							<span>Узнать подробнее</span>
						</div>
					</a>

				</div>
			</div>

			<div class="separator"><div class="separator__icon"></div></div>

		</div>
	</div>

	<div class="main-contacts">
		<div class="container">
			<div class="main-contacts__grid">
				<div class="main-contacts__content">
					<div class="main-contacts__header">
						Наши контакты
					</div>
					<div class="main-contacts__subheader">
						Свяжитесь удобным для вас способом
					</div>
					<div class="main-contacts__list">
						<div class="main-contacts__item main-contacts__item--phone">
							<a href="tel:#">+7 495 532-88-62 </a>
						</div>
						<div class="main-contacts__item main-contacts__item--email">
							<a href="tel:#">info@mfc-ritual.ru</a>
						</div>
						<div class="main-contacts__item main-contacts__item--address">
							Москва<br />
							2-я Мелитопольская, д. 4Б
						</div>
					</div>
				</div>
				<div class="main-contacts__map">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>

//= include/footer.html