//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li>Полезная информация</li>
                </ul>
            </div>

            <h1>Полезная информация</h1>

            <div class="b-info">
                <div class="b-info__grid">
                    <div class="b-info__column">
                        <div class="b-info__block">
                            <div class="b-info__title">Городские учреждения</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--uszn">УСЗН Москвы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--docs">Мои документы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--mfc">МФЦ Москвы</a>
                            </div>
                        </div>
                        <div class="b-info__block">
                            <div class="b-info__title">конфесионные обряды</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--orthodox">Православные похороны</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--islam">Похороны в исламе</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--buddism">Похороны в буддизме</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--iudaism">Похороны в Иудаизме</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--protest">Похороны в Протестанстве</a>
                            </div>
                        </div>
                        <div class="b-info__block">
                            <div class="b-info__title">правовая информация</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--heir-rights">Права наследников</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="b-info__column">
                        <div class="b-info__block">
                            <div class="b-info__title">ритуальная инфраструктура москвы</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--hram">Храмы на кладбищах</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--kladb">Кладбища Москвы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--crematoriums">Крематории Москвы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--morgues">Морги Москвы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--columbarium">Колумбарии Москвы</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--warehouse">Трупохранилища</a>
                            </div>
                        </div>
                        <div class="b-info__block">
                            <div class="b-info__title">ритуальная инфраструктура Московской области</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--kladb">Кладбища Московской области</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--morgues">Морги Московской области</a>
                            </div>
                        </div>
                    </div>
                    <div class="b-info__column">
                        <div class="b-info__block">
                            <div class="b-info__title">Необходимые документы</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--forma13">Форма БО-13</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--certificate">Свидетельство о смерти</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--gerbcertif">Гербовое свидетельство о смерти</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--doc">Документы для захоронения, похорон, кремации</a>
                            </div>
                        </div>
                        <div class="b-info__block">
                            <div class="b-info__title">Дополнительная информация</div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--whatdo">Что делать, если умер человек</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--question">Вопрос-ответ</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--articles">Все статьи</a>
                            </div>
                            <div class="b-info__item">
                                <a href="#" class="b-info__link b-info__link--fraud">Схемы обмана</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="b-info__contacts">
                <div class="main-contacts__grid">
                    <div class="main-contacts__content">
                        <div class="main-contacts__header">
                            Наши контакты
                        </div>
                        <div class="main-contacts__subheader">
                            Свяжитесь удобным для вас способом
                        </div>
                        <div class="main-contacts__list">
                            <div class="main-contacts__item main-contacts__item--phone">
                                <a href="tel:#">+7 495 532-88-62 </a>
                            </div>
                            <div class="main-contacts__item main-contacts__item--email">
                                <a href="tel:#">info@mfc-ritual.ru</a>
                            </div>
                            <div class="main-contacts__item main-contacts__item--address">
                                Москва<br />
                                2-я Мелитопольская, д. 4Б
                            </div>
                        </div>
                    </div>
                    <div class="main-contacts__map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


//= include/mediahelp.html
//= include/footer.html