//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/info/">Полезная информация</a></li>
                    <li>Морги Москвы</li>
                </ul>
            </div>

            <h1>Морги Москвы</h1>

            <p>
                Морг – название танатологических (от греческого «танатос» — смерть) медицинских организаций. 
                Их назначение – обеспечить сохранность тел в специальных холодильных камерах, провести медицинскую 
                экспертизу, а также вскрытие тела умершего в ряде определенных правилами случаев. Морги Москвы готовят 
                тело покойного к похоронам – бальзамируют, обмывают, проводят косметические процедуры, одевают, укладывают 
                в гроб и выносят в ритуальный зал на церемонию прощания. Умершие помещаются в морг независимо от места и причины смерти.
            </p>
            <h3>Морги Москвы: адреса и контактная информация</h3>
            <p>
                Если вам срочно потребовались морги Москвы, то ниже мы даем полный список контактов, где представлены адреса и телефоны 
                моргов Москвы – они понадобятся в случае смерти близкого человека. Полный список контактных данных моргов приводится в 
                отдельном файле по ссылке ниже
            </p>
            <p><span class="bold">Морги Москвы делятся на три типа:</span></p>
            <ul class="mdash">
                <li>Патоанатомические отделения (ПАО). Это морги при больницах и стационарах. Сюда помещают тела умерших, чья смерть не была 
                    насильственной или нет подозрений на криминальные причины смерти. В подавляющем большинстве случаев умерших привозят в ПАО.</li>
                <li>Бюро судебной медицины (СМЭ). Сюда помещают в тех случаях, когда смерть явно насильственная или есть основания так думать.</li>
                <li>Трупохранилища (останкохранилища). Так называются морги, куда привозят неопознанные/невостребованные тела из ПАО или СМЭ
                     вместе со свидетельством о смерти.</li>
            </ul>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="b-morgues">
                <div class="b-morgues__header">Морги городских клинических больниц</div>
                <div class="b-morgues__grid">
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 1 им. Пирогова в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг ЦКБ №1 МПС РФ в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг ЦКБ №1 Управления делами Президента РФ в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг госпиталя ветеранов войны № 2 в Москве</a>
                    </div>

                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг ЦКБ № 2 им. Семашко ОАО «РЖД» в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 3 им. М.П. Кончаловского</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг госпиталя ветеранов войны № 3 в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг республиканской клинической больницы №3 министерства здравоохранения РФ</a>
                    </div>

                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 4 в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 5 им. братьев Бахрушиных</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 7 им. С.С.Юдина в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг детской городской клинической больницы №9 им. Г.Н.Сперанского в Москве</a>
                    </div>

                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 12 им. В.М. Буянова</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 13 в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 23 им. Давыдовского в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической больницы № 24 в Москве</a>
                    </div>
                </div>
            </div>

            <div class="b-morgues">
                <div class="b-morgues__header">Морги инфекционных больниц</div>
                <div class="b-morgues__grid">
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической инфекционной больницы № 1 в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической инфекционной больницы № 2 в Москве</a>
                    </div>
                    <div class="b-morgues__item">
                        <a href="#" class="b-morgues__title">Морг городской клинической инфекционной больницы № 3 в Москве</a>
                    </div>
                    <div class="b-morgues__item b-morgues__item--empty">

                    </div>
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="morgue-info">
                <div class="morgue-info__grid">
                    <div class="morgue-info__content">
                        <p class="morgue-info__danger">Обратите внимание!</p>
                        <ul class="mdash">
                            <li>Только ПАО и СМЭ устанавливают причину смерти и выдают свидетельство о смерти.</li>
                            <li>Морги есть не во всех больницах. В Москве действует единая схема прикрепления медучреждений к моргам. 
                                Чтобы выяснить, в какой из них перевезен покойный, нужно знать, в каком медучреждении он обслуживался.</li>
                        </ul>
                        <h3>Морги Москвы: график работы</h3>
                        <ul class="mdash">
                            <li>понедельник-пятница: 9.00 до 15.00;</li>
                            <li>праздничные дни, суббота: 9.00 до 13.30;</li>
                            <li>воскресенье: получить тело можно, если справка о смерти выдана в субботу.</li>
                        </ul>
                    </div>
                    <div class="morgue-info__sidebar">

                        <a href="#" class="sidebar-panel">
                            <div class="sidebar-panel__title">
                                Как отказаться от вскрытия?
                            </div>
                            <div class="sidebar-panel__text">
                                Ознакомьтесь, если для вас этот вопрос актуален
                            </div>
                            <div class="sidebar-panel__link">
                                <span>Узнать подробнее</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <a href="#" class="morgue-schedule morgue-schedule-js">
                <div class="morgue-schedule__box">
                    <div class="morgue-schedule__caption">График посещения морга</div>
                    <span class="morgue-schedule-arrow">
                        <span class="morgue-schedule-arrow__inner"></span>
                    </span>
                    <span class="morgue-schedule-arrow-small">
                        <span class="morgue-schedule-arrow-small__inner"></span>
                    </span>
                </div>
            </a>

            <div class="schedule-box">
                <div class="schedule-box__item">
                    <div class="schedule-card">
                        <div class="schedule-card__name">
                            <div class="schedule-card__title">
                                первое посещение
                            </div>
                            <div class="schedule-card__text">
                                на следующий день после перевозки тела в морг
                            </div>
                        </div>
                        <div class="schedule-card__value">
                            <div class="schedule-card__title">
                                Что нужно сделать:
                            </div>
                            <div class="schedule-card__text">
                                получить медицинское свидетельство о смерти;<br />
                                договориться о дате и времени приема вещей для облачения покойного;<br />
                                заказать платные услуги морга;<br />
                                договориться о дате и времени выдачи тела.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="schedule-box__item">
                    <div class="schedule-card">
                        <div class="schedule-card__name">
                            <div class="schedule-card__title">
                                ВТОРОЕ ПОСЕЩЕНИЕ
                            </div>
                            <div class="schedule-card__text">
                                накануне выдачи тела для погребения
                            </div>
                        </div>
                        <div class="schedule-card__value">
                            <div class="schedule-card__title">
                                Что нужно сделать:
                            </div>
                            <div class="schedule-card__text">
                                передать вещи для облачения покойного
                            </div>
                        </div>
                    </div>
                </div>

                <div class="schedule-box__item">
                    <div class="schedule-card">
                        <div class="schedule-card__name">
                            <div class="schedule-card__title">
                                третье ПОСЕЩЕНИЕ
                            </div>
                        </div>
                        <div class="schedule-card__value">
                            <div class="schedule-card__title">
                                Что нужно сделать:
                            </div>
                            <div class="schedule-card__text">
                                прибыть в ритуальный зал морга, при себе иметь гербовое свидетельство о смерти
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="morgues-text stext">
                <h3>Перевозка тела в морг, кто этим занимается?</h3>
                <p>В Москве, тела тех, кто умер дома, перевозят в морг городским спецтранспортом. Если умерший обслуживался в московской поликлинике, это бесплатно.</p>
                <p class="bold">Городская ритуальная служба МФЦ-Ритуал бесплатно перевозит умершего дома в Москве в морги:​</p>
                <ul class="mdash">
                    <li>главного военного клинического госпиталя им. Н.Н. Бурденко (Госпитальная площадь, 3А, стр. 1.)</li>
                    <li>клинической больницы МЕДСИ (Пятницкое шоссе, 1)</li>
                    <li>Федерального медицинского биофизического центра им. Бурназяна (ул. Гамалеи, д. 17)</li>
                    <li>патологоанатомической лаборатории № 162 (г. Одинцово, на ул. Маршала Бирюзова, д.1)</li>
                </ul>
                <p class="bold">Если человек умер в Московской области:</p>
                <ul class="mdash">
                    <li>служба МФЦ-Ритуал перевезет тело спецтранспортом в вышеперечисленные морги по тарифу в зависимости от километража. Для ряда льготных категорий граждан перевозка из Подмосковья в Москву бесплатная.</li>
                </ul>
                <h3>Цены на услуги морга. Морг прейскурант.</h3>
                <p>Морги Москвы являются государственными (муниципальными) учреждениями. Цены на услуги морга устанавливаются городом и зафиксированы в официальном прейскуранте, наличие которого строго обязательно. Если вы приходите в морг, прейскурант обязаны предоставить вам по требованию, а стоимость коммерческих услуг должна строго соответствовать прейскуранту.</p>
                <p class="bold">Бесплатные услуги:</p>
                <ul class="mdash">
                    <li>хранение до семи дней (в отдельных случаях до 14);</li>
                    <li>обмывание;</li>
                    <li>одевание (одежду приносят родственники);</li>
                    <li>вынос гроба в траурный зал морга.</li>
                </ul>
                <p class="bold">Стоимость услуг морга (коммерческие услуги):</p>
                <p>Фиксированная стоимость полного пакета стандартных услуг по санитарной, косметической обработке и бальзамированию в моргах Главного военного клинического госпиталя им. Н.Н. Бурденко и клинической больницы МЕДСИ составляет 13 500 руб. и 12 000 руб. соответственно. В особых случаях стоимость пакета 16 500 руб. и 16 000 тыс. руб. соответственно.</p>
                <p>Цены услуг морга даны на 2018 г.</p>
                
                <h3>Справочная моргов — единая справочная моргов</h3>
                <p>Единая справочная моргов и Служба регистрации несчастных случаев в в Москве расположена: улица Щепкина, дом 20.</p>
                <p class="bold">Морги Москвы — Телефон:</p>
                <p>Тел.: +7-495-688-22-52. </p>
                <p class="red">Внимание!: По этому телефону вы узнаете адрес морга.</p>
                
                <h3>Морг Москвы - Официальный сайт.</h3>
                <p>Единая справочная моргов — Официальный сайт отсутствует</p>
                
                <h3>Бюро регистрации несчастных случаев ГУ МВД России по Москве</h3>
                <p>Если человек исчез, узнать, не произошел ли с несчастный случай, можно по телефонам Бюро регистрации несчастных случаев ГУ МВД России по Москве: +7 (495) 688-22-52; +7 (495) 684-44-03.</p>
                <p>Дежурные части ОВД, морги и больницы ежедневно направляют в бюро информацию о неопознанных телах и доставленных в больницу. Помимо ФИО бюро имеет информацию о приметах (рост, вес, цвет волос, возраст, одежда и прочее).</p>
                
                <h3>Еще способы узнать, не попал ли человек в больницу?</h3>
                <p>Телефоны - Горячая линия о госпитализированных в Москве:</p>
                <p>+7 (499) 445-57-66<br />
                +7 (499) 445-01-02<br />
                +7 (499) 445-02-13</p>
                
                <h3>Карта моргов Москвы</h3>
                <div id="morgues-map"></div>

                <p>Городская похоронная служба МФЦ-Ритуал поможет вам грамотно воспользоваться услугами моргов Москвы и Подмосковья строго по ценам 
                    прейскуранта и защитит вас от обмана и вымогательства. За квалифицированной консультацией обращайтесь по телефону круглосуточной 
                    городской ритуальной информационной службы 8 (495) 523-88-62</p>
            </div>

        </div>
    </div>
</div>


//= include/mediahelp.html
//= include/footer.html