//= include/header.html

    <div class="fixed-buttons">
        <a href="#" class="fixed-buttons__item fixed-buttons__item--agent" data-bf-config="agent">
            Вызов ритуального агента <span>ОНЛАЙН</span>
        </a>
        <div class="fixed-buttons__bottom">
            <a href="/gruz-200/" class="fixed-buttons__item fixed-buttons__item--200">
                <span>Груз 200</span>
            </a>
            <a href="/transport/" class="fixed-buttons__item fixed-buttons__item--transport">
                <span>Похоронный транспорт</span>
            </a>
        </div>
    </div>
    <a href="/reviews/" class="fixed-rating">
        <div class="fixed-rating__values">
            <span class="fixed-rating__value">4.8</span> из 5
        </div>
        <div class="fixed-rating__stars">
            <span class="fixed-rating__star"></span>
            <span class="fixed-rating__star"></span>
            <span class="fixed-rating__star"></span>
            <span class="fixed-rating__star"></span>
            <span class="fixed-rating__star--4-8"></span>
        </div>
        <div class="fixed-rating__text">
            на основании независимых отзывов наших клиентов
        </div>
    </a>
    
    

            

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">

            <div class="crumbs">
                <link href="/bitrix/css/main/font-awesome.css?150995472128777" type="text/css" rel="stylesheet" />
<ul class="breadcrumb" itemprop="http://schema.org/breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
			<li id="bx_breadcrumb_0" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a href="/" title="Главная" itemprop="url">
					<span itemprop="name">Главная</span>
				</a>
				<meta itemprop="position" content="1" />
			</li>
			<li id="bx_breadcrumb_1" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a href="/info/" title="Полезная информация" itemprop="url">
					<span itemprop="name">Полезная информация</span>
				</a>
				<meta itemprop="position" content="2" />
			</li>
			<li id="bx_breadcrumb_2" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a href="/info/morgi/" title="Морги" itemprop="url">
					<span itemprop="name">Морги</span>
				</a>
				<meta itemprop="position" content="3" />
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				
				<span itemprop="name">Клинических больниц</span>
				<meta itemprop="position" content="4" />
			</li></ul>            </div>


			<h1>Морг городской клинической больницы № 1 им. Пирогова в Москве</h1>

							<p>Раздел находится в стадии наполнения</p>			

		</div>
    </div>
</div>

<div class="morgue-form">
    <div class="container">
        <div class="morgue-form__content stext">

			<div class="morgue-consultation-form">
			    <div class="morgue-consultation-form__caption">
			        Заказать организацию похорон и кремации в морге городской клинической больницы № 1 им. Пирогова в Москве			    </div>
			    <div class="morgue-consultation-form__info">
			        Наши сотрудники помогут вам организовать перевозку в любое время суток, правильно оформит все необходимые сопроводительные документы
			    </div>
			    <form action="" method="post" data-bf-config="morgue">
			    <div class="morgue-consultation-form__grid">
			        <div class="morgue-consultation-form__input-item" data-bf-error="name">
			            <input type="text" name="name" placeholder="Ваше имя">
			        </div>
			        <div class="morgue-consultation-form__input-item" data-bf-error="phone">
			            <input type="text" name="phone" placeholder="Ваш номер телефона" data-mask="+7(999) 999-99-99">
			        </div>
			        <div class="morgue-consultation-form__input-item">
			            <button class="btn">Заказать похороны</button>
			        </div>
			    </div>
			    </form>
			    <p class="morgue-consultation-form__fz152">
			        Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="/policy-personal-data/">правилами обработки персональных данных.</a>
			    </p>
			</div>
		</div>
	</div>
</div>

<div class="main-price">
	<div class="container">
		<div class="main-price__grid">
			<div class="main-price__cremation">
				<div class="main-price__header main-price__header--cremation">
					 Стоимость кремации
				</div>
				<div class="price-block__list">
 <a href="/prices/#cremation" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Базовый
							</div>
							<div class="price-block__text">
								Минимальный пакет товаров и<br>
								 услуг, необходимых для погребения
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								13 990
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Минимальный пакет товаров и<br>
						 услуг, необходимых для<br>
						 погребения
					</div>
 </a> <a href="/prices/#cremation" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Стандарт
							</div>
							<div class="price-block__text">
								Включает в себя все необходимые процедуры для проведения погребения
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								24 990
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Включает в себя все необходимые процедуры для проведения погребения
					</div>
 </a> <a href="/prices/#cremation" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Премиум
							</div>
							<div class="price-block__text">
								Похороны, подчеркивающие<br>
								 особый социальный статус усобшего
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								67 940
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Похороны, подчеркивающие<br class="in-mobile">
						 особый социальный статус<br class="in-mobile">
						 усобшего
					</div>
 </a> <a href="/prices/#cremation" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								VIP
							</div>
							<div class="price-block__text">
								Элитные похороны, проводимые по специально разработанному сценарию
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								226 550
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Элитные похороны, проводимые по специально разработанному сценарию
					</div>
 </a>
				</div>
			</div>
			<div class="main-price__burial">
				<div class="main-price__header main-price__header--burial">
					 Стоимость захоронения
				</div>
				<div class="price-block__list">
 <a href="/prices/#funeral" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Базовый
							</div>
							<div class="price-block__text">
								Минимальный пакет товаров и услуг,<br>
								 необходимых для погребения
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								18 560
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Минимальный пакет товаров и<br>
						 услуг, необходимых для<br>
						 погребения
					</div>
 </a> <a href="/prices/#funeral" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Стандарт
							</div>
							<div class="price-block__text">
								Включает в себя все необходимые процедуры для проведения погребения
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								27 580
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Включает в себя все необходимые процедуры для проведения погребения
					</div>
 </a> <a href="/prices/#funeral" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								Премиум
							</div>
							<div class="price-block__text">
								Похороны, подчеркивающие особый социальный<br>
								 статус усобшего
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								76 140
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Похороны, подчеркивающие<br class="in-mobile">
						 особый социальный статус<br class="in-mobile">
						 усобшего
					</div>
 </a> <a href="/prices/#funeral" class="price-block">
					<div class="price-block__row">
						<div class="price-block__info">
							<div class="price-block__caption">
								VIP
							</div>
							<div class="price-block__text">
								Элитные похороны, проводимые по специально<br>
								 разработанному сценарию
							</div>
						</div>
						<div class="price-block__cost">
							<div class="price-block__price">
								242 750
							</div>
							<div class="price-block__cur">
								рублей
							</div>
						</div>
					</div>
					<div class="price-block__text--mobile">
						Элитные похороны, проводимые<br>
						 по специально разработанному сценарию
					</div>
 </a>
				</div>
			</div>
		</div>
	</div>
</div>

	



<div class="morgue-contacts">
    <div class="container">

        <div class="main-contacts__grid">
            <div class="main-contacts__content">
                <div class="main-contacts__header">
                    Наши контакты
                </div>
                <div class="main-contacts__subheader">
                    Свяжитесь удобным для вас способом
                </div>
                <div class="main-contacts__list">
                    <div class="main-contacts__item main-contacts__item--phone">
                        <a href="tel:#">+7 495 532-88-62 </a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--email">
                        <a href="tel:#">info@mfc-ritual.ru</a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--address">
                        Москва<br />
                        2-я Мелитопольская, д. 4Б
                    </div>
                </div>
            </div>
            <div class="main-contacts__map">
                <div id="map"></div>
            </div>
            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script>
                var mapData = {
                coords: [55.537648, 37.573806],
                header: '2-я Мелитопольская, д. 4Б',
                center: [55.537648, 37.573806],
                    zoom: 17,
                };
            </script>
            <script src="/assets/template/js/map.js"></script>
        </div>

	</div>
</div>
        

//= include/mediahelp.html
//= include/footer.html