//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about/">О компании</a></li>
                    <li><a href="/news/">Новости</a></li>
                    <li>Хованский крематорий закроется 22 ноября на техобслуживание</li>
                </ul>
            </div>

            <div class="one-news">
                <h1>Хованский крематорий закроется 22 ноября на техобслуживание</h1>
                <div class="one-news__date">15 ноября 2018</div>
                <p>Хованский крематорий в Москве закроется 22.11.18 на техническое обслуживание на неопределенный срок. Продолжительность работ пока точно не объявлена, предположительно от 1 до 2 недель. Николо-Архангельский и Митинский крематории будут работать в штатном режиме.</p>
                <p>Служба Ritual.ru поможет жителям Москвы и Московской области провести обряд кремации в крематориях Московского подчинения. Получить консультацию по всем вопросам можно по телефону горячей линии ритуальных услуг 8 (495) 181-97-29 (круглосуточно). Ritual.ru организует безвозмездные похороны по гарантированному перечню услуг на погребение, включая кремацию.</p>
                <p>Действующая цена на услугу кремации взрослого человека в Москве составляет 4300 рублей. Стоимость хранения праха – до 40 дней бесплатно, затем 10-20 рублей/сутки в зависимости от крематория.</p>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="news-relation">
                <div class="news-relation__grid">
                    <div class="news-relation__big">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news-1.jpg')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-relation__list">
    
                        <div class="news-small">
                            <div class="news-small__image" style="background-image: url('/assets/template/images/news/news-2.jpg')"></div>
                            <div class="news-small__info">
                                <div class="news-small__date">4 ноября 2018</div>
                                <div class="news-small__title">
                                    <a href="#" class="news-small__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-small__text">
                                    Классик русской литературы похоронен в субботу 18 августа на Троекуровском кладбище в Москве
                                </div>
                            </div>
                        </div>
    
                        <div class="news-small">
                            <div class="news-small__image" style="background-image: url('/assets/template/images/news/news-3.jpg')"></div>
                            <div class="news-small__info">
                                <div class="news-small__date">28 октября 2018</div>
                                <div class="news-small__title">
                                    <a href="#" class="news-small__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-small__text">
                                    Классик русской литературы похоронен в субботу 18 августа на Троекуровском кладбище в Москве
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="news-relation__all">
                    <a href="/news/">Все новости</a>
                </div>
            </div>

        </div>
    </div>
</div>


//= include/footer.html