//= include/header.html



<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/about/">О компании</a></li>
                    <li>Новости</li>
                </ul>
            </div>

            <h1>Новости</h1>

            <div class="b-news">
                <div class="b-news__grid">
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_1.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_2.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_3.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_1.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_2.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-news__item">
                        <div class="news-big">
                            <div class="news-big__image" style="background-image: url('/assets/template/images/news/news_3.png')"></div>
                            <div class="news-big__info">
                                <div class="news-big__date">15 ноября 2018</div>
                                <div class="news-big__title">
                                    <a href="#" class="news-big__link">Хованский крематорий закроется 22&nbsp;ноября на техобслуживание</a>
                                </div>
                                <div class="news-big__text">
                                    Крематорий закроется 22.11.2018 на техническое обслуживание. Продолжительность
                                    работ предположительно составит от 1 до 2 недель
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-news__pagination">
                    <div class="styled-page-navigation">
                        <span class="styled-page-navigation__item styled-page-first styled-page-current">1</span>
                        <a href="/reviews/?PAGEN_1=2" class="styled-page-navigation__item " class="styled-page-navigation__item">2</a>
                        <a href="/reviews/?PAGEN_1=3" class="styled-page-navigation__item " class="styled-page-navigation__item">3</a>
                        <a href="/reviews/?PAGEN_1=4" class="styled-page-navigation__item " class="styled-page-navigation__item">4</a>
                        <a href="/reviews/?PAGEN_1=5" class="styled-page-navigation__item " class="styled-page-navigation__item">5</a>
                        <a class="styled-page-dots styled-page-navigation__item" href="/reviews/?PAGEN_1=6">...</a>
                        <a href="/reviews/?PAGEN_1=7" class="styled-page-navigation__item">7</a>
                        <a class="styled-page-navigation__next" href="/reviews/?PAGEN_1=2">След.</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

//= include/mediahelp.html
//= include/footer.html