//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Ритуальные услуги</a></li>
                    <li>Носильщики гроба</li>
                </ul>
            </div>

            <div class="ngrb-top">
                <div class="ngrb-top__content">
                    <h1>Носильщики гроба</h1>
                    <p>Прощание с близким человеком – время скорби и переживаний, которые не стоит наполнять беспокойством и тревогой по организационным вопросам. «Тревожным» пунктом организации похорон всегда был вопрос транспортировки гроба и кому будет доверено это ответственное дело – носильщики гроба.</p>
                    <h3>Как найти грузчика для переноса гроба с телом:</h3>
                    <p>Во многих культурах существует поверье, что те, кто связан с усопшим кровными узами, не должны нести гроб с телом и опускать его в могилу. И в этом есть рациональное зерно. Тысячелетний культурный код говорит нам: носильщики тела усопшего к последнему пристанищу должны быть профессионалами.</p>
                    <p>Несение гроба – один из тех моментов, о которых стоит позаботиться заранее. Городская похоронная служба МФЦ-Ритуал окажет вам помощь и предоставит бригаду профессиональных грузчиков-носильщиков гроба (4-6 человек в зависимости от плана похорон).</p>
                    <p><span class="bold">Профессиональный грузчик для переноса гроба</span> – это крепкий и опытный мужчина, знающий все нюансы несения гроба, благодаря чему риски в процессе выноса тела усопшего из дома/морга и его перемещения к месту отпевания / погребения / кремации сведены к нулю.</p>
                </div>
                <div class="ngrb-top__photos ngrb-photo">
                    <div class="ngrb-photo__grid">
                        <div class="ngrb-photo__item">
                            <img src="/assets/template/images/ngrb/ngrb-1.png" alt="" />
                        </div>
                        <div class="ngrb-photo__item">
                            <img src="/assets/template/images/ngrb/ngrb-2.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ngrb-blue">
    <div class="container">
        <div class="ngrb-blue__header">
            Стоимость носильщиков для гроба
        </div>
        <div class="ngrb-panel">
            <div class="ngrb-panel__grid">
                <div class="ngrb-panel__item">
                    <div class="ngrb-card">
                        <div class="ngrb-card__grid">
                            <div class="ngrb-card__info">
                                <div class="ngrb-card__title">
                                    Бригада <nobr>4 человека</nobr>
                                </div>
                                <div class="ngrb-card__text">
                                    <ol>
                                        <li>Вынос гроба</li>
                                        <li>Сопровождение к месту прощания</li>
                                        <li>Торжественный пронос гроба на плечах</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="ngrb-card__cost">
                                <div class="ngrb-card__price">8 000</div>
                                <div class="ngrb-card__cur">рублей</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ngrb-panel__item">
                    <div class="ngrb-card">
                        <div class="ngrb-card__grid">
                            <div class="ngrb-card__info">
                                <div class="ngrb-card__title">
                                    Бригада <nobr>6 человек</nobr>
                                </div>
                                <div class="ngrb-card__text">
                                    <ol>
                                        <li>Вынос гроба</li>
                                        <li>Сопровождение к месту прощания</li>
                                        <li>Торжественный пронос гроба на плечах</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="ngrb-card__cost">
                                <div class="ngrb-card__price">11 000</div>
                                <div class="ngrb-card__cur">рублей</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ngrb-blue__text">
            <p>Ритуальные грузчики «МФЦ-Ритуал» – это знатоки своего дела, с большим опытом участия в похоронных церемониях. 
                Они знают все тонкости проводимых православных ритуалов, имеют представление, когда надо проводить те или иные действия, 
                вступают в церемонию в нужный момент, избавляя родных покойного от излишних переживаний и стресса. Грузчики «МФЦ-Ритуал» 
                правильно закрепят гроб в катафалке, пронесут гроб так, что будет исключена малейшая вероятность сдвига крышки.
            </p>
        </div>

        <div class="ngrb-form">
            <div class="ngrb-form__caption">
                Закажите услугу носильщиков гроба <span class="red">онлайн</span>
            </div>
            <div class="ngrb-form__info">
                Наши сотрудники помогут вам определиться с кол-вом носильщиков, вариантом траурного гардероба сотрудников и обговорят время выезда
            </div>
            <div class="ngrb-form__grid">
                <div class="ngrb-form__input-item">
                    <input type="text" name="name" placeholder="Ваше имя">
                </div>
                <div class="ngrb-form__input-item">
                    <input type="text" name="name" placeholder="Ваш номер телефона" data-mask="+7(999) 999-99-99">
                </div>
                <div class="ngrb-form__input-item">
                    <button class="btn">заказать носильщиков гроба</button>
                </div>
            </div>
            <p class="ngrb-form__fz152">
                Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
            </p>
        </div>

    </div>
</div>

<div class="ngrb-bottom">
    <div class="container">
        <div class="ngrb-bottom__info">
            Мы строго следим за профессиональными качествами сотрудников!<br />   
            «МФЦ-Ритуал» гарантирует единообразие в одежде наших специалистов-носильщиков. На выбор заказчика – несколько возможных вариантов траурного гардероба
        </div>
        <div class="separator"><div class="separator__icon"></div></div>
        <div class="main-contacts__grid">
            <div class="main-contacts__content">
                <div class="main-contacts__header">
                    Наши контакты
                </div>
                <div class="main-contacts__subheader">
                    Свяжитесь удобным для вас способом
                </div>
                <div class="main-contacts__list">
                    <div class="main-contacts__item main-contacts__item--phone">
                        <a href="tel:#">+7 495 532-88-62 </a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--email">
                        <a href="tel:#">info@mfc-ritual.ru</a>
                    </div>
                    <div class="main-contacts__item main-contacts__item--address">
                        Москва<br />
                        2-я Мелитопольская, д. 4Б
                    </div>
                </div>
            </div>
            <div class="main-contacts__map">
                <div id="map"></div>
            </div>
        </div>

    </div>
</div>

//= include/mediahelp.html
//= include/footer.html