//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/info/">Полезная информация</a></li>
                    <li>Что делать, если умер близкий человек?</li>
                </ul>
            </div>

            <h1>Что делать, если умер близкий человек?</h1>
            <p>Умер человек, что делать? Переживая горе, мы не вправе забывать о своих земных обязанностях 
                по отношению к ушедшему – нужно достойно проводить его в последний путь и точно знать, что делать, 
                если умер близкий человек. Заботы родственников в этот момент связаны с сугубо практическими вопросами: 
                какое похоронное агентство выбрать, где  хоронить или в каком крематории кремировать, где провести поминки, 
                как получить пособие на погребение и т. д.</p>

            <div class="people-die-info">
                <div class="people-die-info__box">
                    <div class="people-die-info__header">
                        Что нужно делать, когда умирает человек (УЖЕ УМЕР)
                    </div>
                    <div class="people-die-info__text">
                        Если сформулировать кратко – задача родственников состоит в том, чтобы как можно быстрей позвонить 
                        в надежную городскую похоронную службу, вызвать ритуального агента на дом и поручить ей организацию похорон. 
                        Чем быстрее это произойдет, тем больше шансов избежать встречи с черными похоронными агентами. 
                        А если неизвестный агент все-таки явился без вашего вызова, нужно твердо отказать ему, сообщив, 
                        что скоро приедет вызванный вами агент городской ритуальной службы.
                    </div>
                </div>
            </div>

            <div class="people-die-tabs">
                <div class="people-die-tabs__nav">
                    <div class="people-die-tabs__item">
                        <a class="people-die-tabs__link people-die-tabs__link--left active" href="#" data-tab=".xtab-home">
                            <span class="people-die-tabs__label people-die-tabs__label--cremation">если умер дома</span>
                        </a>
                    </div>
                    <div class="people-die-tabs__item">
                        <a class="people-die-tabs__link" href="#" data-tab=".xtab-work">
                            <span class="people-die-tabs__label people-die-tabs__label--cremation">если умер на работе<br /> или в общественном месте</span>
                        </a>
                    </div>
                    <div class="people-die-tabs__item">
                        <a class="people-die-tabs__link" href="#" data-tab=".xtab-clinic">
                            <span class="people-die-tabs__label people-die-tabs__label--cremation">если умер в больнице</span>
                        </a>
                    </div>
                    <div class="people-die-tabs__item">
                        <a class="people-die-tabs__link people-die-tabs__link--right" href="#" data-tab=".xtab-mo">
                            <span class="people-die-tabs__label people-die-tabs__label--burial">если умер в<br /> московской области</span>
                        </a>
                    </div>
                </div>
                <div class="people-die-tabs__body">
                    <div class="people-die-tabs__tab xtab active xtab-home">
                        <p>Одна из наиболее распространенных ситуаций – человек умер дома, в гостях или на даче.<br /> 
                            Обращаем ваше внимание – здесь важен порядок действий!</p>
                        <div class="people-die-home">

                            <div class="people-die-home__item">
                                <div class="people-die-home__card">
                                    <div class="people-die-home__image">
                                        <img src="/assets/template/images/people-die/home-1.png" alt="">
                                    </div>
                                    <div class="people-die-home__title">
                                        Сначала вызовите городского ритуального агента
                                    </div>
                                    <div class="people-die-home__text">
                                        Обязательно запишите его личные и служебные данные. Сделать это можно по многоканальному 
                                        телефону диспетчерской службы МФЦ-Ритуал <nobr><span class="bold">+7 (495) 532-88-62</span></nobr> (круглосуточно)
                                    </div>
                                </div>
                            </div>

                            <div class="people-die-home__item">
                                <div class="people-die-home__card">
                                    <div class="people-die-home__image">
                                        <img src="/assets/template/images/people-die/home-2.png" alt="">
                                    </div>
                                    <div class="people-die-home__title">
                                        Обязательно проверьте<br /> данные агента
                                    </div>
                                    <div class="people-die-home__text">
                                        Когда агент приедет, обязательно сверьте данные его паспорта и служебного удостоверения с теми, 
                                        что вы записали. Теперь вы знаете, кого впускаете в дом – что это действительно вызванный вами 
                                        представитель городской похоронной службы, а не черный агент, получивший ваши контактные данные от 
                                        неизвестных информаторов
                                    </div>
                                </div>
                            </div>

                            <div class="people-die-home__item">
                                <div class="people-die-home__card">
                                    <div class="people-die-home__image">
                                        <img src="/assets/template/images/people-die/home-3.png" alt="">
                                    </div>
                                    <div class="people-die-home__title">
                                        Вызовите представителей<br /> экстренных служб
                                    </div>
                                    <div class="people-die-home__text">
                                            Дождавшись агента, вызовите вместе с ним участкового врача (днем) или скорую помощь 
                                            (нерабочее/ночное время) и полицию. Приготовьте паспорт и медицинский полис покойного, 
                                            а также удостоверения личности лиц, находящихся рядом с усопшим
                                    </div>
                                </div>
                            </div>

                        </div>   
                    </div>
                    <div class="people-die-tabs__tab xtab xtab-work">
                        <p>Тело отправляют в один из судебно-медицинских моргов Москвы. Если близкий человек исчез, звоните в 
                            бюро регистрации несчастных случаев. Там вам дадут адреса моргов, куда нужно приехать на опознание и где выдадут заключение о причине смерти.</p>
                        <h3>Судебно-медицинские морги на карте</h3>
                        <div class="xtab-work__map">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac5b17bd3c0894ed4cea7db68ec80ae89374cf50257c500d0af76a0a61c36a815&amp;width=100%25&amp;height=341&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>        
                        <p class="small">Московское бюро регистрации несчастных случаев расположено по адресу: ул. Щепкина, д. 20, тел.: +7 (495) 688-22-52.</p>
                    </div>
                    <div class="people-die-tabs__tab xtab xtab-clinic">
                        <p>Рекомендуемый порядок действий:</p>
                        <div class="people-die-clinic">

                            <div class="people-die-clinic__item">
                                <div class="people-die-clinic__card">
                                    <div class="people-die-clinic__image">
                                        <img src="/assets/template/images/people-die/work-1.png" alt="">
                                    </div>
                                    <div class="people-die-clinic__title">
                                        Сначала вызовите городского ритуального агента
                                    </div>
                                    <div class="people-die-clinic__text">
                                        Обратитесь в официальный многофункциональный похоронный центр по телефону 8 (495) 532-88-62 (круглосуточно) и вызовите ритуального агента
                                    </div>
                                </div>
                            </div>

                            <div class="people-die-clinic__item">
                                <div class="people-die-clinic__card">
                                    <div class="people-die-clinic__image">
                                        <img src="/assets/template/images/people-die/work-2.png" alt="">
                                    </div>
                                    <div class="people-die-clinic__title">
                                        Вместе посетите морг
                                    </div>
                                    <div class="people-die-clinic__text">
                                        Вместе с прибывшим сотрудником МФЦ-Ритуал отправляйтесь в морг для оформления документов и оплаты услуг медучреждения.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="people-die-tabs__tab xtab xtab-mo">
                        <p>Если москвич умер в Московской области, тело отправляют в местный судебно-медицинский морг (так как человек умер не по месту постоянного жительства).</p>
                        <div class="people-die-mo">

                            <div class="people-die-mo__item">
                                <div class="people-die-mo__card">
                                    <div class="people-die-mo__image">
                                        <img src="/assets/template/images/people-die/mo-1.png" alt="">
                                    </div>
                                    <div class="people-die-mo__title">
                                        Сначала вызовите городского ритуального агента
                                    </div>
                                    <div class="people-die-mo__text">
                                        Чтобы избежать встречи с черными агентами, сначала вызовите агента московской городской ритуальной службы МФЦ-Ритуал по телефону 
                                        <nobr>+7 (495) 532-88-62</nobr> (круглосуточно). Запишите его табельный номер. Агент приедет через 1.5-2 часа в зависимости от расстояния.
                                    </div>
                                </div>
                            </div>
                        
                            <div class="people-die-mo__item">
                                <div class="people-die-mo__card">
                                    <div class="people-die-mo__image">
                                        <img src="/assets/template/images/people-die/mo-2.png" alt="">
                                    </div>
                                    <div class="people-die-mo__title">
                                        Проверьте данные агента, затем вместе вызовите скорую и полицию
                                    </div>
                                    <div class="people-die-mo__text">
                                        <p>Перед тем, как впустить агента МФЦ-Ритуал, сверьте табельный номер его удостоверения с тем, что вы записали.</p>
                                        <p>Вместе с агентом вызовите скорую помощь и полицию. Приготовьте паспорт и медицинский полис покойного, а также удостоверения личности лиц, находящихся рядом с усопшим.</p>
                                        <p>Врач и полиция удостоверяют, что смерть наступила по естественным причинам и отправляют тело покойного в местный территориальный морг.</p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="people-die-mo__item">
                                <div class="people-die-mo__card">
                                    <div class="people-die-mo__image">
                                        <img src="/assets/template/images/people-die/mo-3.png" alt="">
                                    </div>
                                    <div class="people-die-mo__title">
                                        Агент организует перевозку тела покойного в морг Москвы
                                    </div>
                                    <div class="people-die-mo__text">
                                        После получения медицинской справки о смерти в морге, агент МФЦ-Риутал организует бесплатную перевозку 
                                        тела покойного в один из моргов Москвы: МЕДСИ, госпиталя Бурденко, ГКБ им Бурназяна, морг в г. Одинцово. 
                                        Рекомендуем поручить получение медицинского свидетельства о смерти в местном морге агенту МФЦ-Риутал, 
                                        чтобы избежать навязывания платных услуг в местном морге и ускорить выдачу тела.
                                    </div>
                                </div>
                            </div>
                        
                        </div> 
                    </div>
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="people-die-text stext">
                <p>После обращения в службы городской экстренной помощи следует:</p>
                <ul class="ndash">
                    <li>понизить температуру воздуха в помещении, где находится покойный;</li>
                    <li>отключить отопление;</li>
                    <li>поместить покойного подальше от отопительных батарей;</li>
                    <li>прикрыть тело чистой простыней.</li>
                </ul>
                <p>После этого дождитесь приезда врача и полиции, которые должны удостовериться, что смерть наступила по естественным причинам и отправить тело покойного в морг.</p>
            </div>

        </div>
    </div>
</div>

<div class="cannot-do">
    <div class="container">
        <div class="cannot-do__content stext">
            <div class="header1">Что <span class="red">нельзя делать</span>, если умер человек</div>
            <div class="cannot-do__info">
                Есть действия, которые мы не советуем совершать, чтобы не стать жертвой черных агентов. 
                По данным правительства Москвы при наступлении смерти человека в большинстве случаев 
                к родственникам приезжают именно черные агенты, которых в столице действует около трех тысяч. 
            </div>
            <div class="cannot-do__grid">

                <div class="cannot-do__item">
                    <div class="cannot-do__card">
                        <div class="cannot-do__image">
                            <img src="/assets/template/images/people-die/cannot-do-1.png" alt="">
                        </div>
                        <div class="cannot-do__title">
                            Отвечать
                        </div>
                        <div class="cannot-do__text">
                            на телефонные звонки с неизвестных номеров – это звонят черные агенты. 
                            Любой звонок на ваш номер телефона с коммерческой целью незаконен.
                        </div>
                    </div>
                </div>

                <div class="cannot-do__item">
                    <div class="cannot-do__card">
                        <div class="cannot-do__image">
                            <img src="/assets/template/images/people-die/cannot-do-2.png" alt="">
                        </div>
                        <div class="cannot-do__title">
                            Разговаривать
                        </div>
                        <div class="cannot-do__text">
                            с ритуальными агентами, которых вы не вызывали. 
                            Черные агенты – опытные психологи и могут убедить вас против вашей воли.
                        </div>
                    </div>
                </div>

                <div class="cannot-do__item">
                    <div class="cannot-do__card">
                        <div class="cannot-do__image">
                            <img src="/assets/template/images/people-die/cannot-do-3.png" alt="">
                        </div>
                        <div class="cannot-do__title">
                            Пускать
                        </div>
                        <div class="cannot-do__text">
                            в дом незваных людей, звонящих в дверь вашей квартиры или дома. Это черные агенты, 
                            они будут представляться сотрудниками городской ритуальной службы и показывать «липовые» 
                            удостоверения сотрудников. Не верьте, это – обман!
                        </div>
                    </div>
                </div>

            </div>  
            

        </div>
    </div>
</div>

<div class="people-die-bottom">
    <div class="container">
        <div class="people-die-bottom__content stext">

            <p>Помните: пустив в дом непрошеного черного агента, вы неизбежно станете его жертвой. Умело играя на ваших чувствах и 
                психологии, вас вынудят переплатить за организацию похорон в 2-3 раза по сравнению со стоимостью таких же услуг, 
                заказанных в городской ритуальной службе. Бывает и так, что в день похорон черные агенты исчезают, похороны приходится 
                откладывать и организовывать заново.</p>
            <h3>Куда обращаться, если умер близкий человек?</h3>
            <p>Сертифицированные агенты ритуальной службы МФЦ-Ритуал приезжают к вам только по телефонному вызову, либо по личному обращению 
                в офис компании (Москва, ул. Поликарпова, 11).</p>
            <p>Ритуальная служба «МФЦ-Ритуал» – это гарантия чуткого отношения к родственникам усопшего и уважения к покойному. За помощью 
                к нам ежегодно обращается более 10 000 человек, и большинство их приходит по рекомендации.</p>
            <p>По всем вопросам вас квалифицированно проконсультируют в городской ритуальной службе по телефону 8 (495) 532-88-62 (круглосуточно). 
                Мы проведём похороны так, что они станут воплощением вашей любви к близкому человеку.</p>

        </div>
        <div class="separator"><div class="separator__icon"></div></div>

        <div class="people-die-another">
            <div class="people-die-another__header">
                другая необходимая информация
            </div>
            <div class="people-die-another__links">
                <div class="people-die-button__row">
                    <a href="#" class="people-die-button">Насильственная смерть</a>
                    <a href="#" class="people-die-button">Какие документы необходимо получить?</a>
                    <a href="#" class="people-die-button">Можно ли отказаться от вскрытия?</a>
                    <a href="#" class="people-die-button">Как организовать похороны?</a>
                    <a href="#" class="people-die-button">Какие вещи необходимы для погребения?</a>
                </div>
            </div>
            
        </div>

        <div class="separator"><div class="separator__icon"></div></div>

        <div class="people-die-contacts">
            <div class="main-contacts__grid">
                <div class="main-contacts__content">
                    <div class="main-contacts__header">
                        Наши контакты
                    </div>
                    <div class="main-contacts__subheader">
                        Свяжитесь удобным для вас способом
                    </div>
                    <div class="main-contacts__list">
                        <div class="main-contacts__item main-contacts__item--phone">
                            <a href="tel:#">+7 495 532-88-62 </a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--email">
                            <a href="tel:#">info@mfc-ritual.ru</a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--address">
                            Москва<br />
                            2-я Мелитопольская, д. 4Б
                        </div>
                    </div>
                </div>
                <div class="main-contacts__map">
                    <div id="map"></div>
                </div>
            </div>
        </div>
            

    </div>
</div>
    

//= include/mediahelp.html
//= include/footer.html