//= include/header.html

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li>Стоимость</li>
                </ul>
            </div>

            <h1>Цены на ритуальные услуги — Стоимость похорон в Москве</h1>

            <div class="price-tabs">
                <div class="price-tabs__nav">
                    <div class="price-tabs__item">
                        <a class="price-tabs__link price-tabs__link--left active" href="#" data-tab=".xtab-cremation">
                            <span class="price-tabs__label price-tabs__label--cremation">Кремация</span>
                        </a>
                    </div>
                    <div class="price-tabs__item">
                        <a class="price-tabs__link price-tabs__link--right" href="#" data-tab=".xtab-burial">
                            <span class="price-tabs__label price-tabs__label--burial">Захоронение</span>
                        </a>
                    </div>
                </div>
                <div class="price-tabs__body">
                    <div class="price-tabs__tab xtab active xtab-cremation cost-block">
                        <div class="cost-block__grid">

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Базовый
                                    </div>
                                    <div class="cost-block__price">
                                        16 790 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный, обитый тканью</li>
                                                <li>Похоронный комплект шёлковый: подушка, покрывало, тапочки</li>
                                                <li>Перевозка к месту кремации</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Оформление заказа</li>
                                            </ul>   
                                        </div>
                                         <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Стандарт
                                    </div>
                                    <div class="cost-block__price">
                                        26 990 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб комбинированный</li>
                                                <li>Похоронный комплект парчовый: подушка, покрывало</li>
                                                <li>Тапочки атласные</li>
                                                <li>Венок «120 см» из искусственных цветов</li>
                                                <li>Лента траурная</li>
                                                <li>Перевозка к месту захоронения</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Оформление заказа</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Премиум
                                    </div>
                                    <div class="cost-block__price">
                                        67 940 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный лакированный «Элит»
                                                <li>Похоронный комплект атласный с золотом «Элит»: подушка, покрывало, постель, тапочки</li>
                                                <li>Венок «Элит» из искусственных цветов «140 см.»</li>
                                                <li>Лента траурная заказная «Элит»</li>
                                                <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Похоронная сервисная бригада VIP (4 чел.)</li>
                                                <li>Комплекс услуг распорядителя похорон</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        VIP
                                    </div>
                                    <div class="cost-block__price">
                                        226 550 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный двухкрышечный</li>
                                                <li>Похоронный комплект атласный с золотом: подушка, покрывало, постель, тапочки</li>
                                                <li>Венок авторской работы из живых цветов «160 см.»</li>
                                                <li>Корзина заказная</li>
                                                <li>Лента траурная заказная 2 шт.</li>
                                                <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                <li>Катафалк легковой (Cadillac), 4 часа</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Похоронная сервисная бригада VIP (6 чел)</li>
                                                <li>Комплекс услуг распорядителя похорон</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cost-block__hint">
                            <p>* Включены все услуги, никаких доплат в процессе похорон.</p>
                            <p>** Для нас нет «дешёвых» и «дорогих» похорон. Каждый план похорон – полный набор ритуальных товаров и услуг, необходимый для достойного погребения – будет выполнен качественно, с трепетным вниманием к усопшему и близким.</p>
                        </div>
                    </div>
                    <div class="price-tabs__tab xtab xtab-burial cost-block">
                            <div class="cost-block__grid">

                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Базовый
                                        </div>
                                        <div class="cost-block__price">
                                            21 560 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный, обитый тканью</li>
                                                    <li>Постель в гроб</li>
                                                    <li>Похоронный комплект шёлковый: подушка, покрывало, тапочки</li>
                                                    <li>Доставка принадлежностей в морг</li>
                                                    <li>Выезд ритуального агента</li>
                                                    <li>Венок искусственный 90 см</li>
                                                    <li>Крест металл</li>
                                                    <li>Транспорт 2 посадочных места</li>
                                                    <li>Заказ катафального транспорта</li>
                                                </ul>   
                                            </div>
                                                <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Стандарт
                                        </div>
                                        <div class="cost-block__price">
                                            32 580 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный комбинированный "Траур"</li>
                                                    <li>Постель в гроб</li>
                                                    <li>Крест на гроб</li>
                                                    <li>Похоронный комплект шёлковый: подушка, покрывало ритуальное, тапочки</li>
                                                    <li>Доставка принадлежностей в морг</li>
                                                    <li>Выезд ритуального агента</li>
                                                    <li>Венок искусственный 120 см</li>
                                                    <li>Крест деревянный</li>
                                                    <li>Транспорт 6 посадочных мест</li>
                                                    <li>Заказ катафального транспорта</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Премиум
                                        </div>
                                        <div class="cost-block__price">
                                            76 140 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный лакированный</li>
                                                    <li>Постель в гроб</li>
                                                    <li>Крест на гроб</li>
                                                    <li>Похоронный комплект шёлковый: подушка, покрывало стеганное, тапочки</li>
                                                    <li>Доставка принадлежностей в морг</li>
                                                    <li>Выезд ритуального агента</li>
                                                    <li>Оформление заказа</li>
                                                    <li>Бригада похоронного обслуживания 4 чел.</li>
                                                    <li>Венок элитный из искусственных цветов 140 см</li>
                                                    <li>Лента заказная</li>
                                                    <li>Трафарет на крест</li>
                                                    <li>Крест сосновый лакированный</li>
                                                    <li>Транспорт 16 посадочных мест (Микроавтобус Mercedes)</li>
                                                    <li>Заказ катафального транспорта</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            VIP
                                        </div>
                                        <div class="cost-block__price">
                                            242 750 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный двухкрышечный</li>
                                                    <li>Комплект в гроб "Эллегия"</li>
                                                    <li>Крест на гроб бронза</li>
                                                    <li>Похоронный комплект шёлковый: подушка, покрывало стеганное, тапочки</li>
                                                    <li>Доставка принадлежностей в морг</li>
                                                    <li>Выезд ритуального агента</li>
                                                    <li>Оформление заказа</li>
                                                    <li>Бригада похоронного обслуживания VIP 6 чел.</li>
                                                    <li>Авторский венок из живых цветов 140 см</li>
                                                    <li>Лента заказная</li>
                                                    <li>Трафарет на крест</li>
                                                    <li>Крест дубовый лакированный</li>
                                                    <li>Катафальный лимузин 4 часа</li>
                                                    <li>Транспорт 16 посадочных мест (Микроавтобус Mercedes)</li>
                                                    <li>Заказ катафального транспорта</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cost-block__hint">
                                <p>* Включены все услуги, никаких доплат в процессе похорон.</p>
                                <p>** Для нас нет «дешёвых» и «дорогих» похорон. Каждый план похорон – полный набор ритуальных товаров и услуг, необходимый для достойного погребения – будет выполнен качественно, с трепетным вниманием к усопшему и близким.</p>
                            </div>
                    </div>
                </div>
            </div>

            <div class="price-contacts">
                <div class="price-contacts__grid">
                    <div class="price-contacts__address">
                        <div class="price-contacts__label">АДРЕС МНОГОФУНКЦИОНАЛЬНОГО ПОХОРОННОГО ЦЕНТРА</div>
                        <div class="price-contacts__value">Москва, ул. Поликарпова, 11</div>
                    </div>
                    <div class="price-contacts__phones">
                        <div class="price-contacts__label">ТЕЛЕФОН ДЛЯ ЗАКАЗА</div>
                        <div class="price-contacts__value">
                            <a href="tel:+74955328862" class="price-contacts__phone">+7 495 532-88-62</a>
                        </div>
                    </div>
                    <div class="price-contacts__emails">
                        <div class="price-contacts__label">ЭЛЕКТРОННАЯ ПОЧТА</div>
                        <div class="price-contacts__value">
                            <a href="mailto:info@mfc-ritual.ru" class="price-contacts__email">info@mfc-ritual.ru</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/calculator/" class="calculator-button">
                <div class="calculator-button__box">
                    <div class="calculator-button__link">
                        Рассчитать стоимость похорон
                    </div>
                    <div class="calculator-button__info">
                        Специально созданный похоронный онлайн калькулятор поможет вам самостоятельно рассчитать стоимость по организации похорон
                    </div>
                </div>
            </a>

            <div class="price-compensation">
                <div class="price-compensation__text">
                    МФЦ-Ритуал организует кремацию<br class="in-desktop"/> 
                    при поддержке правительства Москвы<br class="in-desktop"/>
                    с компенсацией 16 701 рубль
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="price-steps">
                <div class="price-steps__grid">
                    <div class="price-steps__col">
                        <div class="price-steps__caption">ПЕРЕЧЕНЬ ОБЯЗАННОСТЕЙ И УСЛУГИ<br /> РИТУАЛЬНОГО АГЕНТА</div>
                        <ul class="mdash">
                            <li>Бесплатный  выезд за 40 минут в любой район Москвы и Московской области - позволяет экономить время и переживание</li>
                            <li>Составление сметы на похоронные товары - гарантирует возможность предварительно рассчитать предстоящие расходы </li>
                            <li>Контроль выдачи тела в морге и сопровождение на кладбище, при этом агент компании присутствует на каждом этапе транспортировки тела</li>
                            <li>Сбор необходимых документов для захоронения и получения льгот</li>
                            <li>Получение свидетельства о смерти и справки на получение социального пособия (форма - 33)</li>
                            <li>Заказ кремации и подготовка к ней</li>
                            <li>Заказ муниципального захоронения</li>
                            <li>Заказ и организация поминального обеда</li>
                            <li>Организация отпевания и панихиды</li>
                            <li>Предоставление специального транспорта и составление маршрута похорон</li>
                            <li>Защита от «черных» похоронных агентов</li>
                        </ul>
                    </div>
                    <div class="price-steps__col">
                        <div class="price-steps__caption">ПОРЯДОК ДЕЙСТВИЙ, ЕСЛИ СМЕРТЬ НАСТУПИЛА</div>
                        <p>Связаться с нашей службой и вызвать ритуального агента можно круглосуточно по телефону +7 495 532-88-62</p>
                        <div class="price-button__row">
                            <a href="#" class="price-button">дома в дневное время</a>
                            <a href="#" class="price-button">дома в ночное время</a>
                            <a href="#" class="price-button">в лечебном учреждении</a>
                            <a href="#" class="price-button">в общественном месте</a>
                            <a href="#" class="price-button">на дачном участке</a>
                            <a href="#" class="price-button">за границей</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <h3>Цены на ритуальные услуги - стоимость проведения похорон в Москве</h3>
            <p>На этой странице представлены цены на ритуальные услуги городской службы МФЦ-Ритуал. Здесь вы сможете выбрать план похорон, представляющий оптимальную для вашего бюджета стоимость захоронения.</p>

            <h3>Низкие цены на похороны - государственная ритуальная служба МФЦ-Ритуал</h3>
            <p>Только городские похоронные службы осуществляют похороны москвичей бесплатно, если умерший был неработающим пенсионером или зарегистрированным безработным. Оформление таких похорон производится за счёт федерального и городского пособия на погребение.</p>

            <h3>Средние цены на похороны и ритуальные услуги</h3>
            <p>По статистике заказов в МФЦ-Ритуал в 2017 году (мы организовали более 12 000 церемоний прощания) средняя стоимость коммерческого захоронения составила 59 тыс. рублей.</p>
            <p>Участие города в капитале компании позволяет нам уверенно говорить о том, что обратившись в городскую службу МФЦ-Ритуал, вы всегда сможете рассчитывать на то, что наша цена на похоронные услуги в Москве всегда окажется ниже, чем у коммерческих компаний.</p>

            <h3>Помощь в организации и получении компенсации</h3>
            <p>Городская похоронная служба МФЦ-Ритуал создана по поручению правительства Москвы и является государственным ритуальным агентством. Наш акционер – Государственное бюджетное учреждение г. Москвы (ГБУ «Ритуал»), управляющее всеми кладбищами Москвы. Организация похорон в Москве – единственный вид деятельности предприятия. Именно этот факт позволяет нам выстраивать отношения с клиентами предельно простыми и прозрачными.</p>
            <p>Как государственная похоронная служба мы предлагаем москвичам ритуальные товары и сервисы гарантированного качества по утвержденным минимальным розничным ценам.</p>
            <p>Итоговая стоимость похорон, оформленных в службе МФЦ-Ритуал на десятки тысяч рублей меньше, чем в коммерческих структурах и на порядок ниже, чем у «черных» похоронных агентов, ангажированных сотрудниками скорой помощи и полиции.</p>

            <div class="price-panels">
                <div class="price-panels__grid">

                    <div class="price-panels__item">
                        <a href="#" class="price-panels__card price-panels__card--1">
                            <div class="price-panels__title">Кладбища Москвы</div>
                            <div class="price-panels__link">
                                <span>Посмотреть</span>
                            </div>
                        </a>
                    </div>
                    <div class="price-panels__item">
                        <a href="#" class="price-panels__card price-panels__card--2">
                            <div class="price-panels__title">Крематории Москвы</div>
                            <div class="price-panels__link">
                                <span>Посмотреть</span>
                            </div>
                        </a>
                    </div>
                    <div class="price-panels__item">
                        <a href="#" class="price-panels__card price-panels__card--3">
                            <div class="price-panels__title">Колумбарии Москвы</div>
                            <div class="price-panels__link">
                                <span>Посмотреть</span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>


            <div class="main-contacts__grid">
                <div class="main-contacts__content">
                    <div class="main-contacts__header">
                        Наши контакты
                    </div>
                    <div class="main-contacts__subheader">
                        Свяжитесь удобным для вас способом
                    </div>
                    <div class="main-contacts__list">
                        <div class="main-contacts__item main-contacts__item--phone">
                            <a href="tel:#">+7 495 532-88-62 </a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--email">
                            <a href="tel:#">info@mfc-ritual.ru</a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--address">
                            Москва<br />
                            2-я Мелитопольская, д. 4Б
                        </div>
                    </div>
                </div>
                <div class="main-contacts__map">
                    <div id="map"></div>
                </div>
            </div>


        </div>
    </div>
</div>

//= include/footer.html