//= include/header.html

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li>Стоимость</li>
                </ul>
            </div>

            <h1>Цены на ритуальные услуги — Стоимость похорон в Москве</h1>

            <div class="price-tabs">
                <div class="price-tabs__nav">
                    <div class="price-tabs__item">
                        <a class="price-tabs__link price-tabs__link--left active" href="#" data-tab=".xtab-cremation">
                            <span class="price-tabs__label price-tabs__label--cremation">Кремация</span>
                        </a>
                    </div>
                    <div class="price-tabs__item">
                        <a class="price-tabs__link price-tabs__link--right" href="#" data-tab=".xtab-burial">
                            <span class="price-tabs__label price-tabs__label--burial">Захоронение</span>
                        </a>
                    </div>
                </div>
                <div class="price-tabs__body">
                    <div class="price-tabs__tab xtab active xtab-cremation cost-block">
                        <div class="cost-block__grid">

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Базовый
                                    </div>
                                    <div class="cost-block__price">
                                        16 790 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный, обитый тканью</li>
                                                <li>Похоронный комплект шёлковый: подушка, покрывало, тапочки</li>
                                                <li>Перевозка к месту кремации</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Оформление заказа</li>
                                            </ul>   
                                        </div>
                                         <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Стандарт
                                    </div>
                                    <div class="cost-block__price">
                                        26 990 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб комбинированный</li>
                                                <li>Похоронный комплект парчовый: подушка, покрывало</li>
                                                <li>Тапочки атласные</li>
                                                <li>Венок «120 см» из искусственных цветов</li>
                                                <li>Лента траурная</li>
                                                <li>Перевозка к месту захоронения</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Оформление заказа</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        Премиум
                                    </div>
                                    <div class="cost-block__price">
                                        67 940 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный лакированный «Элит»
                                                <li>Похоронный комплект атласный с золотом «Элит»: подушка, покрывало, постель, тапочки</li>
                                                <li>Венок «Элит» из искусственных цветов «140 см.»</li>
                                                <li>Лента траурная заказная «Элит»</li>
                                                <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Похоронная сервисная бригада VIP (4 чел.)</li>
                                                <li>Комплекс услуг распорядителя похорон</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__item">
                                <div class="cost-block__card">
                                    <div class="cost-block__header">
                                        VIP
                                    </div>
                                    <div class="cost-block__price">
                                        226 550 <span class="cost-block__cur">рублей</span>
                                    </div>
                                    <div class="separator"><div class="separator__icon"></div></div>
                                    <div class="cost-block__info">
                                        <div class="cost-block__details">
                                            <ul>
                                                <li>Гроб деревянный двухкрышечный</li>
                                                <li>Похоронный комплект атласный с золотом: подушка, покрывало, постель, тапочки</li>
                                                <li>Венок авторской работы из живых цветов «160 см.»</li>
                                                <li>Корзина заказная</li>
                                                <li>Лента траурная заказная 2 шт.</li>
                                                <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                <li>Катафалк легковой (Cadillac), 4 часа</li>
                                                <li>Доставка предметов ритуала</li>
                                                <li>Похоронная сервисная бригада VIP (6 чел)</li>
                                                <li>Комплекс услуг распорядителя похорон</li>
                                            </ul>   
                                        </div>
                                        <a href="#" class="btn">Заказать</a>
                                    </div>
                                </div>
                            </div>

                            <div class="cost-block__hint">
                                <p>* Включены все услуги, никаких доплат в процессе похорон.</p>
                                <p>** Для нас нет «дешёвых» и «дорогих» похорон. Каждый план похорон – полный набор ритуальных товаров и услуг, необходимый для достойного погребения – будет выполнен качественно, с трепетным вниманием к усопшему и близким.</p>
                            </div>

                        </div>
                    </div>
                    <div class="price-tabs__tab xtab xtab-burial cost-block">
                            <div class="cost-block__grid">

                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Базовый
                                        </div>
                                        <div class="cost-block__price">
                                            21 560 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный, обитый тканью</li>
                                                    <li>Похоронный комплект шёлковый: подушка, покрывало, тапочки</li>
                                                    <li>Перевозка к месту кремации</li>
                                                    <li>Доставка предметов ритуала</li>
                                                    <li>Оформление заказа</li>
                                                </ul>   
                                            </div>
                                                <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Стандарт
                                        </div>
                                        <div class="cost-block__price">
                                            32 580 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб комбинированный</li>
                                                    <li>Похоронный комплект парчовый: подушка, покрывало</li>
                                                    <li>Тапочки атласные</li>
                                                    <li>Венок «120 см» из искусственных цветов</li>
                                                    <li>Лента траурная</li>
                                                    <li>Перевозка к месту захоронения</li>
                                                    <li>Доставка предметов ритуала</li>
                                                    <li>Оформление заказа</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            Премиум
                                        </div>
                                        <div class="cost-block__price">
                                            76 140 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный лакированный «Элит»
                                                    <li>Похоронный комплект атласный с золотом «Элит»: подушка, покрывало, постель, тапочки</li>
                                                    <li>Венок «Элит» из искусственных цветов «140 см.»</li>
                                                    <li>Лента траурная заказная «Элит»</li>
                                                    <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                    <li>Доставка предметов ритуала</li>
                                                    <li>Похоронная сервисная бригада VIP (4 чел.)</li>
                                                    <li>Комплекс услуг распорядителя похорон</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="cost-block__item">
                                    <div class="cost-block__card">
                                        <div class="cost-block__header">
                                            VIP
                                        </div>
                                        <div class="cost-block__price">
                                            242 750 <span class="cost-block__cur">рублей</span>
                                        </div>
                                        <div class="separator"><div class="separator__icon"></div></div>
                                        <div class="cost-block__info">
                                            <div class="cost-block__details">
                                                <ul>
                                                    <li>Гроб деревянный двухкрышечный</li>
                                                    <li>Похоронный комплект атласный с золотом: подушка, покрывало, постель, тапочки</li>
                                                    <li>Венок авторской работы из живых цветов «160 см.»</li>
                                                    <li>Корзина заказная</li>
                                                    <li>Лента траурная заказная 2 шт.</li>
                                                    <li>Перевозка к месту захоронения (микроавтобус Mercedes)</li>
                                                    <li>Катафалк легковой (Cadillac), 4 часа</li>
                                                    <li>Доставка предметов ритуала</li>
                                                    <li>Похоронная сервисная бригада VIP (6 чел)</li>
                                                    <li>Комплекс услуг распорядителя похорон</li>
                                                </ul>   
                                            </div>
                                            <a href="#" class="btn">Заказать</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="cost-block__hint">
                                    <p>* Включены все услуги, никаких доплат в процессе похорон.</p>
                                    <p>** Для нас нет «дешёвых» и «дорогих» похорон. Каждый план похорон – полный набор ритуальных товаров и услуг, необходимый для достойного погребения – будет выполнен качественно, с трепетным вниманием к усопшему и близким.</p>
                                </div>
    
                            </div>
                    </div>
                </div>
            </div>

            <div class="price-contacts">
                <div class="price-contacts__grid">
                    <div class="price-contacts__address">
                        <div class="price-contacts__label">АДРЕС МНОГОФУНКЦИОНАЛЬНОГО ПОХОРОННОГО ЦЕНТРА</div>
                        <div class="price-contacts__value">Москва, ул. Поликарпова, 11</div>
                    </div>
                    <div class="price-contacts__phones">
                        <div class="price-contacts__label">ТЕЛЕФОН ДЛЯ ЗАКАЗА</div>
                        <div class="price-contacts__value">
                            <a href="tel:+74955328862" class="price-contacts__phone">+7 495 532-88-62</a>
                        </div>
                    </div>
                    <div class="price-contacts__emails">
                        <div class="price-contacts__label">ЭЛЕКТРОННАЯ ПОЧТА</div>
                        <div class="price-contacts__value">
                            <a href="mailto:info@mfc-ritual.ru" class="price-contacts__email">info@mfc-ritual.ru</a>
                        </div>
                    </div>
                </div>
            </div>

            <p>Термин «Груз 200» означает перевозку тела или праха умершего на дальнее расстояние к месту погребения (или перезахоронения).</p>
            <p>Термин вошел в русский язык после Афганской войны (1979-1989), где выражение груз 200 применялось советскими военными для обозначения перевозки тела погибшего военнослужащего на родину к месту погребения.</p>
            <h3>Как правильно перевозить груз 200</h3>
            <p>Перевозят груз 200 в специальном контейнере, в который вкладывается герметично запаянный цинковый гроб с телом или урной с прахом. </p>
            <p>Перевезти груз 200 – сложная организационная задача, требующая соблюдения условий хранения тела и транспортировки, а также оформления значительного количества разрешительных документов. Перевозкой груза 200 занимаются похоронные компании.</p>
        </div>
    </div>
</div>

//= include/footer.html