//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Ритуальные товары</a></li>
                    <li><a href="#">Гробы</a></li>
                    <li><a href="#">Лакированные</a></li>
                    <li>Гроб «Аполло»</li>
                </ul>
            </div>
            <div class="b-product">
                    <div class="b-product__box">
                        <div class="b-product__sidebar">
                            <div class="catalog-menu">
            
                                <div class="catalog-menu__item catalog-menu__item--active">
                                    <div class="catalog-menu__title">
                                        Гробы
                                        <a href="#">Все гробы</a>
                                    </div>
                                    <div class="catalog-menu__items">
                                        <ul class="catalog-menu__list">
                                            <li><a href="#">Полированные Россия</a></li>
                                            <li><a href="#">Полированные импорт</a></li>
                                            <li><a href="#">Гробы VIP</a></li>
                                            <li><a href="#">Обитые тканью</a></li>
                                            <li><a href="#" class="active">Мусульманские</a></li>
                                            <li><a href="#">Цинковые</a></li>
                                        </ul>
                                    </div>
                                </div>
            
                                <div class="catalog-menu__item">
                                    <div class="catalog-menu__title">
                                        Венки
                                        <a href="#">Все венки</a>
                                    </div>
                                    <div class="catalog-menu__items">
                                        <ul class="catalog-menu__list">
                                            <li><a href="#">Искусственные</a></li>
                                            <li><a href="#">Из живых цветов</a></li>
                                            <li><a href="#">Траурные композиции</a></li>
                                            <li><a href="#">Траурные ленты</a></li>
                                        </ul>
                                    </div>
                                </div>
            
                                <div class="catalog-menu__item">
                                    <div class="catalog-menu__title">
                                        Текстиль
                                        <a href="#">Весь текстиль</a>
                                    </div>
                                    <div class="catalog-menu__items">
                                        <ul class="catalog-menu__list">
                                            <li><a href="#">Постель в гроб</a></li>
                                            <li><a href="#">Покрывало в гроб</a></li>
                                            <li><a href="#">Подушка в гроб</a></li>
                                            <li><a href="#">Похоронные тапочки</a></li>
                                            <li><a href="#">Ритуальная одежда</a></li>
                                        </ul>
                                    </div>
                                </div>
            
                                <div class="catalog-menu__item">
                                    <div class="catalog-menu__title">
                                        Кресты
                                        <a href="#">Все кресты</a>
                                    </div>
                                    <div class="catalog-menu__items">
                                        <ul class="catalog-menu__list">
                                            <li><a href="#">Сосновые</a></li>
                                            <li><a href="#">Дубовые</a></li>
                                            <li><a href="#">Металлические</a></li>
                                            <li><a href="#">Таблички</a></li>
                                        </ul>
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="b-product__content">
            
                            <div class="b-product__grid">
                                <div class="b-product__images">
                                    <div class="b-product__image-box">
                                        <a href="/assets/template/images/coffin/apollo-big.png" data-fancybox="">
                                            <img class="b-product__image" src="/assets/template/images/coffin/apollo-big.png" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="b-product__info">
                                    <h1>Гроб «Аполло»</h1>
                                    <div class="b-product__article">
                                        Артикул: 62535
                                    </div>
                                    <div class="b-product__params">
                                        <div class="product-param">
                                            <span class="product-param__name">Производство:</span>
                                            <span class="product-param__value">Россия</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Форма гроба:</span>
                                            <span class="product-param__value">четырехгранная</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Тип крышки:</span>
                                            <span class="product-param__value">двухкрышечный</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Комплектация:</span>
                                            <span class="product-param__value">ручки, обивка, покрывало, подушка</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Материал каркаса:</span>
                                            <span class="product-param__value">массив сосны</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Покрытие:</span>
                                            <span class="product-param__value">глянцевое</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Длина:</span>
                                            <span class="product-param__value">2000 мм</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Ширина в плечах:</span>
                                            <span class="product-param__value">600 мм</span>
                                        </div>
                                        <div class="product-param">
                                            <span class="product-param__name">Цвет:</span>
                                            <span class="product-param__value">коричневый</span>
                                        </div>

                                    </div>
                                    <div class="b-product__introtext">
                                        Гроб из цельной выдержанной сосны. Модель четырехгранной формы с изысканной столярной работой. 
                                        Оснащен двумя крышками. Фурнитура: две боковых и две торцевых ручки из металла, тонированного в цвет 
                                        гроба с металлической отделкой в цвет золота. Наружное покрытие глянцевое. Изнутри обит тканью. 
                                        В составе комплекта покрывало и подушка. Длина: 2000 мм, ширина: 600 мм. Цвет: коричневый. Производство: Россия.
                                    </div>

                                    <div class="b-product__order">
                                        <a href="#" class="btn b-product__btn">Заказать</a>
                                    </div>

                                </div>
                            </div>
            
                        </div>
                    </div>
            
                
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="main-contacts__grid">
                <div class="main-contacts__content">
                    <div class="main-contacts__header">
                        Наши контакты
                    </div>
                    <div class="main-contacts__subheader">
                        Свяжитесь удобным для вас способом
                    </div>
                    <div class="main-contacts__list">
                        <div class="main-contacts__item main-contacts__item--phone">
                            <a href="tel:#">+7 495 532-88-62 </a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--email">
                            <a href="tel:#">info@mfc-ritual.ru</a>
                        </div>
                        <div class="main-contacts__item main-contacts__item--address">
                            Москва<br />
                            2-я Мелитопольская, д. 4Б
                        </div>
                    </div>
                </div>
                <div class="main-contacts__map">
                    <div id="map"></div>
                </div>
            </div>


        </div>
    </div>
</div>




//= include/mediahelp.html
//= include/footer.html