//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div class="single-page">
    <div class="container">
        <div class="single-page__content stext">
            <div class="crumbs">
                <ul class="breadcrumb">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/info/">Полезная информация</a></li>
                    <li>Ритуальные услуги в вашем городе</li>
                </ul>
            </div>
            <h1>Ритуальные услуги в вашем городе</h1>

            <div class="b-regions__box">
                <div class="b-regions__sidebar">
                    <div class="info-menu">
                        <div class="info-menu__header">наши услуги</div>
                        <ul class="info-menu__list">
                            <li><a href="#">Вызов ритуального агента</a></li>
                            <li><a href="#">Ритуальный транспорт</a></li>
                            <li><a href="#" class="active">Организация похорон</a></li>
                            <li><a href="#">Организация кремации</a></li>
                            <li><a href="#">Груз 200</a></li>
                            <li><a href="#">Поминальная трапеза</a></li>
                            <li><a href="#">Носильщики гроба</a></li>
                            <li><a href="#">Перевозка тела</a></li>
                            <li><a href="#">Похоронный оркестр</a></li>
                            <li><a href="#">Церемониймейстер</a></li>
                            <li><a href="#">Ритуальный лифт</a></li>
                            <li><a href="#">Эксгумация тела</a></li>
                            <li><a href="#">Дезинфекция</a></li>
                        </ul>
    
                    </div>
                </div>
                <div class="b-regions__content">
    
                    <div class="regions__list">
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/yahroma.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Яхрома
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/yam.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Ям
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/yam.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Яковлевское
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/ubileinyi.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Юбилейный
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/elektrougli.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Электроугли
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="regions__item">
                            <div class="region-card">
                                <div class="region-card__image">
                                    <img src="/assets/template/images/regions/elektrostal.png" alt="" />
                                </div>
                                <div class="region-card__name">
                                    Электросталь
                                </div>
                                <div class="region-card__more">
                                    <a href="#" class="region-card__link">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        
    
                    </div>
                    <div class="regions__pagination">
                        <div class="styled-page-navigation">
                            <span class="styled-page-navigation__item styled-page-first styled-page-current">1</span>
                            <a href="/reviews/?PAGEN_1=2" class="styled-page-navigation__item " class="styled-page-navigation__item">2</a>
                            <a href="/reviews/?PAGEN_1=3" class="styled-page-navigation__item " class="styled-page-navigation__item">3</a>
                            <a href="/reviews/?PAGEN_1=4" class="styled-page-navigation__item " class="styled-page-navigation__item">4</a>
                            <a href="/reviews/?PAGEN_1=5" class="styled-page-navigation__item " class="styled-page-navigation__item">5</a>
                            <a class="styled-page-dots styled-page-navigation__item" href="/reviews/?PAGEN_1=6">...</a>
                            <a href="/reviews/?PAGEN_1=7" class="styled-page-navigation__item">7</a>
                            <a class="styled-page-navigation__next" href="/reviews/?PAGEN_1=2">След.</a>
                        </div>
                    </div>
    
                </div>
            </div>


        </div>
    </div>
</div>


        
    
//= include/mediahelp.html
//= include/footer.html