//= include/header.html

	<div class="single-page single4-page--agent">
		<div class="container">
			<div class="single-page__grid">
				<div class="single-page__content stext">

                    <div class="crumbs">
                        <ul class="breadcrumb">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Полезная информация</a></li>
                            <li><a href="#">Ритуальные услуги в вашем городе</a></li>
                            <li>Электросталь</li>
                        </ul>
                    </div>

                    <h1>Качественные ритуальные услуги в Электростали: доступно и профессионально</h1>
                    
                    <div class="region-one__preview">
                        <img src="/assets/template/images/regions/elektrostal.png" alt="">
                    </div>
                    
                    <p>Смерть близких людей – это всегда огромный стресс для нас. Но еще более усугубить его может подготовка к захоронению, 
                        которая заставляет поневоле постоянно задумываться о причине этих не очень приятных хлопот. Сделать похороны в Электростали 
                        наиболее щадящими для вас поможет компания МФЦ-Ритуал.</p>

                    <p>Наша компания оказывает всесторонние ритуальные услуги в Электростали, в частности, занимается организацией захоронения. 
                        Широко распространено мнение, что ритуальные службы занимаются в основном поставкой товаров, сопутствующих похоронам. 
                        На самом деле, задача нашей компании – помочь родственникам устроить все дела, связанные со смертью человека, и оказать необходимые услуги.</p>
                    <p>Наш ритуальный агент в Электростали также сможет дать профессиональные советы клиентам, которые впервые столкнулись с такой трагической ситуацией, 
                        поможет собрать и оформить документы для получения свидетельства о смерти. Мы поможем полностью организовать похороны, начиная от 
                        доставки тела в морг и заканчивая подготовкой к прощальному ритуалу и поминальной трапезе.</p>
                    <p>Похороны – это бесчисленное количество масштабных и мелких действий, каждому из которых следует уделить внимание. 
                        Но делать их предстоит человеку, только что пережившему смерть близкого. Естественно, он ощущает определенную растерянность, 
                        не зная, то ли купить гроб в Электростали, то ли заняться оформлением документов. Поэтому помощь профессионалов в организации 
                        захоронения часто – насущная необходимость.</p>

                    <div class="separator"><div class="separator__icon"></div></div>

                    <div class="region-service">
                        <div class="main-services__header">
                            Ритуальные товары и услуги
                        </div>
                        <div class="main-services__grid">
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--burial">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Захоронение</span>
                                        <div class="service-block__cost">от 16 790 рублей</div>
                                    </div>
                                </a>
                            </div>
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--place">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Место на кладбище</span>
                                    </div>
                                </a>
                            </div>
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--calc">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Калькулятор похорон</span>
                                    </div>
                                </a>
                            </div>
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--cremation2">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Кремация</span>
                                        <div class="service-block__cost">от 21 560 рублей</div>
                                    </div>
                                </a>
                            </div>
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--200">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Груз 200</span>
                                    </div>
                                </a>
                            </div>
                            <div class="main-services__item">
                                <a href="#" class="service-block service-block--posobie">
                                    <div class="service-block__caption">
                                        <span class="service-block__title">Льготы и пособия</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="agent-list-short">
                        <div class="agent-list-short__box">
                            <div class="agent-list-short__caption">Список ритуальных агентов МФЦ-Ритуал</div>
                            <div class="agent-list-short__text">Городская специализированная служба по вопросам похоронного дела</div>
                            <span class="agent-arrow">
                                <span class="agent-arrow__inner"></span>
                            </span>
                            <span class="agent-arrow-small">
                                <span class="agent-arrow-small__inner"></span>
                            </span>
                        </div>
                    </a>

                    <div class="region-accordeon">
                        <div class="region-accordeon__item active">
                            <a href="#" class="region-accordeon__name">
                                Всесторонняя помощь в оформлении похоронных документов
                            </a>
                            <div class="region-accordeon__body">
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>Еще одна нужная бумага – гербовое свидетельство о смерти. Его предоставляют на базе паспортов умершего и получателя, а также медсвидетельства о смерти в многофункциональных центрах. Также здесь получают справку на оформление пособия на похороны.</p>
                                    <p>Отдельная категория документов – по виду погребения. Так, для захоронения на новом участке в гробу нужно предоставление паспорта лица, отвечающего за погребение, и гербового свидетельства о смерти.</p>
                                    <p>Для похорон на родственном участке понадобятся паспорт отвечающего за место либо доверенность от него, паспорт погребения, гербовое свидетельство на покойного и о смерти людей, уже находящихся здесь. Также понадобятся бумаги, которые подтвердят родство умершего с погребенными на участке. Наш ритуальный агент поможет вам собрать все необходимые для захоронения документы.                                    </p>

                                    <div class="agent-docs">
                                            <div class="agent-docs__header">Образцы получаемых документов</div>
                                            <div class="agent-docs__row">
                                                <div class="agent-docs__item">
                                                    <div class="agent-docs__card">
                                                        <div class="agent-docs__image">
                                                            <img src="/assets/template/images/docs/gss.png" alt="">
                                                        </div>
                                                        <div class="agent-docs__info">
                                                            <div class="agent-docs__title">
                                                                Гербовое свидетельство о смерти
                                                            </div>
                                                            <div class="agent-docs__descr">
                                                                Выдается в МФЦ, отделом ЗАГС
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="agent-docs__item">
                                                    <div class="agent-docs__card">
                                                        <div class="agent-docs__image">
                                                            <img src="/assets/template/images/docs/ss.png" alt="">
                                                        </div>
                                                        <div class="agent-docs__info">
                                                            <div class="agent-docs__title">
                                                                Справка о смерти
                                                            </div>
                                                            <div class="agent-docs__descr">
                                                                Выдается в морге
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="agent-docs__item">
                                                    <div class="agent-docs__card">
                                                        <div class="agent-docs__image">
                                                            <img src="/assets/template/images/docs/spsp.png" alt="">
                                                        </div>
                                                        <div class="agent-docs__info">
                                                            <div class="agent-docs__title">
                                                                Справка на получение социального пособия (форма-33)
                                                            </div>
                                                            <div class="agent-docs__descr">
                                                                Выдается в МФЦ, отделом ЗАГС
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    
                                            </div>
                                        </div>


                            </div>
                        </div>

                        <div class="region-accordeon__item">
                            <a href="#" class="region-accordeon__name">
                                Организация кремации в Электростали
                            </a>
                            <div class="region-accordeon__body">
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                            </div>
                        </div>

                        <div class="region-accordeon__item">
                            <a href="#" class="region-accordeon__name">
                                Предоставление транспорта для захоронения
                            </a>
                            <div class="region-accordeon__body">
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                            </div>
                        </div>

                        <div class="region-accordeon__item">
                            <a href="#" class="region-accordeon__name">
                                Качественные ритуальные товары в Электростали
                            </a>
                            <div class="region-accordeon__body">
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                            </div>
                        </div>

                        <div class="region-accordeon__item">
                            <a href="#" class="region-accordeon__name">
                                Почему стоит сотрудничать с нашей ритуальной службой
                            </a>
                            <div class="region-accordeon__body">
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                                    <p>В процессе организации погребения ключевую роль играют документы. Основным из них является свидетельство о смерти. Его выдают морги Электросталь, а именно – тот, в который привезли тело. Происходит это обычно на следующий день после транспортировки. Если тело увезли в судебно-медицинский морг, свидетельство могут выдать несколько позже. Чтобы получить этот документ, требуется предъявить паспорта получателя и покойного.</p>
                            </div>
                        </div>

                    </div>


                    

				</div>
				<div class="single-page__sidebar">
                    
                    <div class="agent-form">
                        <form action="">
                            <div class="agent-form__caption">ВЫЗВАТЬ РИТУАЛЬНОГО АГЕНТА бесплатно <span class="red">ОНЛАЙН</span></div>
                            <div class="agent-form__info">
                                С помощью данного сервиса после заполнения всех полей к Вам на указанный адрес приедет ритуальный агент городской специализированной службы "МФЦ-Ритуал"
                            </div>
                            <div class="agent-form__inputs">
                                <div class="agent-form__input-item error">
                                    <input type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="agent-form__input-item">
                                    <input type="text" name="address" placeholder="Адрес">
                                </div>
                                <div class="agent-form__input-item">
                                    <input type="text" name="phone" placeholder="Номер телефона" data-mask="+7(999) 999-99-99">
                                </div>
                            </div>
                            <div class="agent-form__submit-box">
                                <button class="btn">Вызвать ритуального агента</button>
                            </div>
                            <p class="agent-form__fz152">
                                Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
                            </p>
                        </form>    
                    </div>
                    <div class="sidebar-reviews">
                        <div class="sidebar-reviews__title">
                            Отзывы об &laquo;МФЦ-Ритуал&raquo;
                        </div>
                        <div class="sidebar-reviews__list">
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Благодарю за помощь в организации кремации! Сервис предоставления услуг на самом высшем уровне. Цены доступные, а выбор товаров очень разнообразный. Спасибо
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Владимир Ефимович</span>
                                    <span class="sidebar-reviews__date">27 ноября 2018</span>
                                </div>
                            </div>
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Благодарю за проведение  похорон и предоставление места на кладбище. Сотрудники Вашей ритуальной службы "МФЦ-Ритуал", отработали по самому высокому баллу. Водитель и грузчики знают как надо, очень доброжелательные люди и  во всем помогали.
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Эдуард</span>
                                    <span class="sidebar-reviews__date">15 ноября 2018</span>
                                </div>
                            </div>
                            <div class="sidebar-reviews__item">
                                <div class="sidebar-reviews__panel-box">
                                    <div class="sidebar-reviews__panel">
                                        <div class="sidebar-reviews__text">
                                            Спасибо, что в наши тяжелые моменты жизни, пришли к нам на помощь! Благодарим вас за все! Похороны прошли  четко и слажено. Ритуальный агент все знает на перед , помогал и поддерживал. Цены очень приемлемые, а качество на высшем уровне!
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-reviews__meta">
                                    <span class="sidebar-reviews__author">Екатерина</span>
                                    <span class="sidebar-reviews__date">04 ноября 2018</span>
                                </div>
                            </div>

                        </div>
                        <div class="sidebar-reviews__button">
                            <a href="#" class="btn">Смотреть все отзывы</a>
                        </div>
                    </div>

                    <div class="sidebar-advantages">
                        <div class="sidebar-advantages__header">Преимущества МФЦ-Ритуал</div>
                        <div class="sidebar-advantages__items">
                            <div class="sidebar-advantages__item sidebar-advantages__item--experience">
                                <div class="sidebar-advantages__title">Опыт</div>
                                <div class="sidebar-advantages__intro">Мы занимаемся организацией похорон в Москве уже больше 10 лет и знаем все подводные камни</div>
                                <div class="sidebar-experience">
                                    <div class="sidebar-experience__years">11</div>
                                    <div class="sidebar-experience__text">лет</div>
                                </div>
                            </div>
                            <div class="sidebar-advantages__item">
                                <div class="sidebar-advantages__title">Корректность</div>
                                <div class="sidebar-advantages__intro">Наши сотрудники максимально корректно для родственников и близких покойного человека возьмут на себя все заботы по организации и проведению траурного мероприятия</div>
                            </div>
                            <div class="sidebar-advantages__item">
                                <div class="sidebar-advantages__title">Защита от «черных похоронных агентов»</div>
                                <div class="sidebar-advantages__intro">Распорядитель ритуальной службы МФЦ-Ритуал защитит вас от любых схем обмана при взаимодействии с сотрудниками служб экстренного вызова, моргов, кладбищ и колумбариев</div>
                            </div>
                            <div class="sidebar-advantages__item">
                                <div class="sidebar-advantages__title">Пунктуальность</div>
                                <div class="sidebar-advantages__intro">В похоронном деле не может быть задержек. У нас не бывает сбоев – инфраструктура предприятия позволяет нам проводить 20 траурных церемоний в день строго по графику</div>
                            </div>
                        </div>
                    </div>


				</div>
            </div>

            <div class="separator"><div class="separator__icon"></div></div>

            <div class="region-contacts">
                <div class="main-contacts__grid">
                    <div class="main-contacts__content">
                        <div class="main-contacts__header">
                            Наши контакты
                        </div>
                        <div class="main-contacts__subheader">
                            Свяжитесь удобным для вас способом
                        </div>
                        <div class="main-contacts__list">
                            <div class="main-contacts__item main-contacts__item--phone">
                                <a href="tel:#">+7 495 532-88-62 </a>
                            </div>
                            <div class="main-contacts__item main-contacts__item--email">
                                <a href="tel:#">info@mfc-ritual.ru</a>
                            </div>
                            <div class="main-contacts__item main-contacts__item--address">
                                Москва<br />
                                2-я Мелитопольская, д. 4Б
                            </div>
                        </div>
                    </div>
                    <div class="main-contacts__map">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

		</div>
    </div>
    

//= include/mediahelp.html
//= include/footer.html