//= include/header.html

<a href="#" class="fixed-rating">
    <div class="fixed-rating__values">
        <span class="fixed-rating__value">4.8</span> из 5
    </div>
    <div class="fixed-rating__stars">
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star"></span>
        <span class="fixed-rating__star--4-8"></span>
    </div>
    <div class="fixed-rating__text">
        на основании независимых отзывов наших клиентов
    </div>
</a>

<div id="page-review">

<div class="single-page">
    <div class="container">
        <div class="single-page__grid">

            <div class="single-page__content stext">
                <div class="crumbs">
                    <ul class="breadcrumb">
                        <li><a href="#">Главная</a></li>
                        <li>Отзывы</li>
                    </ul>
                </div>

                <h1>Отзывы о ритуальных услугах компании &laquo;МФЦ-Ритуал&raquo;</h1>

                <p>На страницах этого раздела вы найдете отзывы о ритуальной службе в Москве. Отзывы о ритуальных услугах и ритуальных агентах могут помочь сделать правильный выбор и определиться с объемом оказываемых услуг.</p>
                <p>Информация от реальных клиентов о работе наших специалистов. Любой желающий может оставить отзыв о работе наших сотрудников.</p>

                <div class="b-reviews__list">
                    <div class="b-reviews__item">
                        <div class="b-reviews__panel-box">
                            <div class="b-reviews__panel">
                                <div class="b-reviews__text">
                                    Благодарю за помощь в организации кремации! Сервис предоставления услуг на самом высшем уровне. Цены доступные, а выбор товаров очень разнообразный. Спасибо
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__meta">
                            <span class="b-reviews__author">Владимир Ефимович</span>
                            <span class="b-reviews__date">27 ноября 2018</span>
                        </div>
                    </div>
                    <div class="b-reviews__item">
                        <div class="b-reviews__panel-box">
                            <div class="b-reviews__panel">
                                <div class="b-reviews__text">
                                    Благодарю за проведение  похорон и предоставление места на кладбище. Сотрудники Вашей ритуальной службы "МФЦ-Ритуал", отработали по самому высокому баллу. Водитель и грузчики знают как надо, очень доброжелательные люди и  во всем помогали.
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__meta">
                            <span class="b-reviews__author">Эдуард</span>
                            <span class="b-reviews__date">15 ноября 2018</span>
                        </div>
                    </div>
                    <div class="b-reviews__item">
                        <div class="b-reviews__panel-box">
                            <div class="b-reviews__panel">
                                <div class="b-reviews__text">
                                    Спасибо, что в наши тяжелые моменты жизни, пришли к нам на помощь! Благодарим вас за все! Похороны прошли  четко и слажено. Ритуальный агент все знает на перед , помогал и поддерживал. Цены очень приемлемые, а качество на высшем уровне!
                                </div>
                            </div>
                        </div>
                        <div class="b-reviews__meta">
                            <span class="b-reviews__author">Екатерина</span>
                            <span class="b-reviews__date">04 ноября 2018</span>
                        </div>
                    </div>
                </div>

                <div class="styled-page-navigation">
                        <a class="styled-page-navigation__previous" href="/reviews/">Пред.</a>
                        <a href="/reviews/" class="styled-page-first styled-page-navigation__item">1</a>
                        <span class="styled-page-navigation__item styled-page-navigation__item--current">2</span>
                        <a href="/reviews/?PAGEN_1=3" class="styled-page-navigation__item">3</a>
                        <a href="/reviews/?PAGEN_1=4" class="styled-page-navigation__item">4</a>
                        <a href="/reviews/?PAGEN_1=5" class="styled-page-navigation__item">5</a>
                        <a class="styled-page-dots styled-page-navigation__item" href="/reviews/?PAGEN_1=6">...</a>
                        <a href="/reviews/?PAGEN_1=7" class="styled-page-navigation__item">7</a>
                        <a class="styled-page-navigation__next" href="/reviews/?PAGEN_1=3">След.</a>
                </div>


            </div>
            <div class="single-page__sidebar">
                    <div class="review-form">
                        <form action="">
                            <div class="review-form__caption">Оставить отзыв о ритуальных услугах</div>
                            <div class="review-form__info">
                                Ваша оценка
                            </div>
                            <div class="review-form__stars" data-star="0">
                                <span class="review-form__star" data-star="1"></span>
                                <span class="review-form__star" data-star="2"></span>
                                <span class="review-form__star" data-star="3"></span>
                                <span class="review-form__star" data-star="4"></span>
                                <span class="review-form__star" data-star="5"></span>
                            </div>
                            <input type="hidden" name="rating" value="0" />
                            <div class="review-form__inputs">
                                <div class="review-form__input-item error">
                                    <input type="text" name="name" placeholder="Ваше имя">
                                </div>
                                <div class="review-form__input-item">
                                    <textarea name="message" placeholder="Ваш отзыв"></textarea>
                                </div>
                            </div>
                            <div class="review-form__submit-box">
                                <button class="btn">Оставить отзыв</button>
                            </div>
                            <p class="review-form__fz152">
                                Нажимая на кнопку "Отправить" Вы соглашаетесь с <a href="#">правилами обработки персональных данных.</a>
                            </p>
                        </form>    
                    </div>
            </div>
        </div>
    </div>
</div>

</div>

//= include/mediahelp.html
//= include/footer-contacts.html